Repository adaptui/react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:package, yarn lint

.lintstagedrc.json:

{
  "*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "prettier --write",
    "git add"
  ],
  "package.json": ["yarn lint:package"],
  "**/*.{js,jsx,ts,tsx}": ["yarn lint"]
}

chore(deps): ⬆️ update dependency ariakit to v2.0.0-next.29
  package.json
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update dependency lint-staged to v12.4.3
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(renaming): 🚚 rename to adaptui
  .all-contributorsrc
  package.json
  scripts/builds/keys.js
  scripts/utils/index.js
  src/toast/stories/ToastReactSpring.component.tsx
Due: prettier --write, yarn lint:package, yarn lint

chore(version): 🔖 update version tag
  package.json
Due: prettier --write, yarn lint:package

🚀 Release vv1.0.0-3
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

🚀 Release v1.0.0-4
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

chore(rename): 🚚 remove the reakit usage
  .storybook/utils.ts
  .vscode/reakit.code-snippets
  README.md
  package.json
  scripts/utils/inject-csb-links.js
  src/progress/stories/CircularProgress.component.tsx
  src/progress/stories/CircularProgress.stories.tsx
  src/progress/stories/LinearProgress.component.tsx
  src/progress/stories/LinearProgress.stories.tsx
Due: prettier --write, yarn lint:package, yarn lint

chore(deps): ⬆️ update deps & fix
  package.json
  src/disclosure/disclosure-collapsible-content.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

chore(deps): ⬆️ update dev dependencies (minor) to v28.1.1
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update dev dependencies (minor)
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update dependency tailwindcss to v3.1.1
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

fix(deps): ⬆️ update prod dependencies (minor)
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

docs(storybook): :memo: refactor storybook preview
  .storybook/main.js
  .storybook/utils.ts
  src/accordion/stories/AccordionBasic.stories.tsx
  src/accordion/stories/AccordionMultiple.stories.tsx
  src/accordion/stories/AccordionStyled.stories.tsx
  src/breadcrumbs/stories/BreadcrumbsBasic.component.tsx
  src/breadcrumbs/stories/BreadcrumbsBasic.stories.tsx
  src/calendar/stories/CalendarBasic.component.tsx
  src/calendar/stories/CalendarBasic.stories.tsx
  src/calendar/stories/CalendarRange.component.tsx
  src/calendar/stories/CalendarRange.stories.tsx
  src/calendar/stories/CalendarRangeStyled.component.tsx
  src/calendar/stories/CalendarRangeStyled.stories.tsx
  src/calendar/stories/CalendarStyled.component.tsx
  src/calendar/stories/CalendarStyled.css
  src/calendar/stories/CalendarStyled.stories.tsx
  src/calendar/stories/tailwind.css
  src/datefield/stories/DateFieldBasic.component.tsx
  src/datefield/stories/DateFieldBasic.stories.tsx
  src/datefield/stories/DateFieldStyled.component.tsx
  src/datefield/stories/DateFieldStyled.css
  src/datefield/stories/DateFieldStyled.stories.tsx
  src/datefield/stories/tailwind.css
  src/datepicker/stories/DatePickerBasic.stories.tsx
  src/dialog/stories/DrawerBasic.component.tsx
  src/dialog/stories/DrawerBasic.stories.tsx
  src/disclosure/stories/DisclosureHorizontalCollapseBasic.stories.tsx
  src/disclosure/stories/DisclosureVerticalCollapseBasic.stories.tsx
  src/link/stories/LinkBasicDefault.stories.tsx
  src/link/stories/LinkBasicDisabledExternalLink.stories.tsx
  src/link/stories/LinkBasicExternlaLink.stories.tsx
  yarn.lock
Due: prettier --write, yarn lint

chore(husky): 🔥 remove husky precommit files
  .husky/commit-msg
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
Due: none

chore(husky): ⚡️ refactor husky pre-commit file
  .husky/commit-msg
Due: none

fix(deps): ⬆️ update prod dependencies (minor) to v3.0.0
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(react-aria): ⬆️ update deps
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .kodiak.toml
  .storybook/main.js
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  renovate.json
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

🚀 Release v1.0.0-alpha.5
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

fix(disclosure): 🐛 remove callbacks being passed to the dom
  src/disclosure/disclosure-collapsible-content.ts
Due: prettier --write, yarn lint

🚀 Release v1.0.0-alpha.6
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

fix(slider): 🩹 remove visually hidden in input
  src/slider/slider-input.tsx
  src/slider/slider-thumb.tsx
Due: prettier --write, yarn lint

🚀 Release v1.0.0-alpha.7
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

docs(storybook change): storybook change
  src/calendar/stories/CalendarStyled.stories.tsx
  src/datefield/stories/DateFieldStyled.stories.tsx
  src/datepicker/stories/DatePickerStyled.css
  src/datepicker/stories/DatePickerStyled.stories.tsx
  src/datepicker/stories/DateRangePickerStyled.component.tsx
  src/datepicker/stories/DateRangePickerStyled.css
  src/datepicker/stories/DateRangePickerStyled.stories.tsx
Due: prettier --write, yarn lint

refactor(pagination): ♻️ change pagination story type
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
  src/pagination/stories/PaginationBasic.stories.tsx
Due: prettier --write, yarn lint

style(logo): 🍱 show adaptui logo instead of storybook
  .storybook/adaptui.svg
  .storybook/manager.js
  .storybook/storybookTheme.js
Due: prettier --write, yarn lint

chore(kodiak): 🔧 update kodiak merge method
  .kodiak.toml
Due: none

refactor(slider): ♻️ remove orientation from verticalSlider
  src/slider/stories/SliderSingleVertical.stories.tsx
Due: prettier --write, yarn lint

docs(storybook): fix storybook css
  src/calendar/stories/CalendarRangeStyled.component.tsx
  src/calendar/stories/CalendarRangeStyled.css
  src/calendar/stories/CalendarRangeStyled.stories.tsx
  src/datefield/stories/DateFieldStyled.stories.tsx
  src/datepicker/stories/DatePickerStyled.component.tsx
  src/datepicker/stories/DatePickerStyled.css
  src/datepicker/stories/DateRangePickerStyled.component.tsx
  src/datepicker/stories/DateRangePickerStyled.stories.tsx
Due: prettier --write, yarn lint

build(sb): 👷 update sb storystore and remove react docgen plugin
  .storybook/main.js
Due: prettier --write, yarn lint
