Repository adaptui/react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:package, yarn lint

chore(deps): ⬆️ update project & dev deps
  package.json
  src/breadcrumbs/__tests__/Breadcrumbs.test.tsx
  src/link/__tests__/Link.test.tsx
  src/slider/SliderState.ts
Due: prettier --write, yarn lint:package, yarn lint

feat: timepicker date meridies & added proper selection
  src/timepicker/TimePickerState.ts
  src/timepicker/stories/TimePicker.stories.tsx
Due: prettier --write, yarn lint

refactor(range-calendar): ♻️ review changes and fix bugs with space
  src/calendar-v1/CalendarCell.ts
  src/calendar-v1/CalendarCellButton.ts
  src/calendar-v1/CalendarGrid.ts
  src/calendar-v1/CalendarRangeState.ts
  src/calendar-v1/CalendarState.ts
  src/calendar-v1/RangeCalendar.ts
  src/calendar-v1/RangeCalendarState.ts
  src/calendar-v1/__keys.ts
  src/calendar-v1/__utils.ts
  src/calendar-v1/index.ts
  src/calendar-v1/stories/Calendar.stories.tsx
  src/calendar-v1/stories/RangeCalendar.stories.tsx
  src/calendar-v1/stories/index.css
  src/calendar-v1/stories/range-style.css
Due: prettier --write, yarn lint

chore: wip time picker disclosure
  src/timepicker/TimePickerColumnState.ts
  src/timepicker/TimePickerColumnValue.ts
  src/timepicker/TimePickerContent.ts
  src/timepicker/TimePickerState.ts
  src/timepicker/TimePickerTrigger.ts
  src/timepicker/__keys.ts
  src/timepicker/stories/TimePicker.stories.tsx
  src/timepicker/stories/index.css
Due: prettier --write, yarn lint

fix(calendar-grid): 🏷️ remove unused types
  src/calendar-v1/CalendarGrid.ts
Due: prettier --write, yarn lint

chore: onSelection handle
  src/timepicker/TimePickerColumnState.ts
  src/timepicker/TimePickerColumnValue.ts
  src/timepicker/stories/TimePicker.stories.tsx
Due: prettier --write, yarn lint

refactor(calendar-cell): ♻️ change to create on key down handler
  src/calendar-v1/CalendarCell.ts
  src/calendar-v1/CalendarGrid.ts
Due: prettier --write, yarn lint

refactor(range-calendar): ♻️ review changes and fix bugs with space (#61)
  src/calendar-v1/CalendarCell.ts
  src/calendar-v1/CalendarCellButton.ts
  src/calendar-v1/CalendarGrid.ts
  src/calendar-v1/CalendarRangeState.ts
  src/calendar-v1/CalendarState.ts
  src/calendar-v1/RangeCalendar.ts
  src/calendar-v1/RangeCalendarState.ts
  src/calendar-v1/__keys.ts
  src/calendar-v1/__utils.ts
  src/calendar-v1/index.ts
  src/calendar-v1/stories/Calendar.stories.tsx
  src/calendar-v1/stories/RangeCalendar.stories.tsx
  src/calendar-v1/stories/index.css
  src/calendar-v1/stories/range-style.css
Due: prettier --write, yarn lint

feat: added Tab behaviour in datepicker spinbuttons composite
  src/datepicker/DatePickerTrigger.ts
  src/datepicker/DateSegmentField.ts
  src/datepicker/stories/DatePicker.stories.tsx
Due: prettier --write, yarn lint

fix: ensure tabIndex 0
  src/datepicker/DateSegment.ts
  src/datepicker/DateSegmentField.ts
Due: prettier --write, yarn lint

feat: alt arrowdown to open dropdown
  src/datepicker/DateSegmentField.ts
Due: prettier --write, yarn lint

refactor(calendar): ♻️ rename calendar-v1 to calendar
  src/calendar/Calendar.ts
  src/calendar/CalendarButton.ts
  src/calendar/CalendarCell.ts
  src/calendar/CalendarCellButton.ts
  src/calendar/CalendarGrid.ts
  src/calendar/CalendarHeader.ts
  src/calendar/CalendarState.ts
  src/calendar/CalendarWeekTitle.ts
  src/calendar/RangeCalendarState.ts
  src/calendar/__keys.ts
  src/calendar/__utils.ts
  src/calendar/index.d.ts
  src/calendar/index.ts
  src/calendar/stories/Calendar.stories.tsx
  src/calendar/stories/RangeCalendar.stories.tsx
  src/calendar/stories/index.css
  src/calendar/stories/range-style.css
  src/calendar/useWeekStart.ts
Due: prettier --write, yarn lint

refactor: reorganized & refactored code
  src/datepicker/DatePickerFieldState.ts
  src/datepicker/DateSegment.ts
  src/datepicker/__keys.ts
  src/datepicker/__utils.ts
  src/datepicker/index.ts
  src/datepicker/stories/DatePicker.stories.tsx
Due: prettier --write, yarn lint

chore(deps): ⬆️ update dev deps
  package.json
Due: prettier --write, yarn lint:package

chore(deps): ✏️ move reakit test utils to dev deps
  package.json
Due: prettier --write, yarn lint:package

build: added babel & rollup config
  .babelrc
  .eslintignore
  .gitignore
  .prettierignore
  package.json
  rollup.config.js
  src/calendar/CalendarState.ts
  src/calendar/RangeCalendarState.ts
  src/calendar/__utils.ts
  src/calendar/index.ts
  src/calendar/stories/RangeCalendar.stories.tsx
  src/calendar/types.ts
  tsconfig.json
Due: prettier --write, yarn lint:package, yarn lint

feat(build): ✨ babel es & cjs build
  .babelrc.js
  .gitignore
  package.json
Due: prettier --write, yarn lint:package, yarn lint

feat(tsc): ✨ add types build
  .gitignore
  package.json
  tsconfig.json
Due: prettier --write, yarn lint:package

build: added rimraf and crossenv
  package.json
  tsconfig.json
Due: prettier --write, yarn lint:package

build(babel): 💚 ignore tests and stories from build
  .babelrc.js
  package.json
Due: prettier --write, yarn lint:package, yarn lint

fix: typo in scripts
  package.json
Due: prettier --write, yarn lint:package

build(tsc): 🔧 remove tests & types from build types
  tsconfig.json
Due: prettier --write

build(umd): 🔧 add umd rollup plugin
  package.json
  rollup.config.js
Due: prettier --write, yarn lint:package, yarn lint

build(umd): 🔧 update rollup & bundlesize
  .gitignore
  package.json
Due: prettier --write, yarn lint:package

build(build-script): 🔧 change scripts to run in parallel
  .gitignore
  package.json
Due: prettier --write, yarn lint:package

build(cjs): 🔧 add correct bable cjs package
  .babelrc.js
  package.json
Due: prettier --write, yarn lint:package, yarn lint

chore: remove unneeded babel plugins
  .babelrc.js
  package.json
Due: prettier --write, yarn lint:package, yarn lint

build(rollup): 🔧 add unminified umd and reduce peer deps version
  package.json
  rollup.config.js
Due: prettier --write, yarn lint:package, yarn lint

chore(deps): updated reakit
  package.json
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update project & dev deps (#60)
  package.json
  src/breadcrumbs/__tests__/Breadcrumbs.test.tsx
  src/link/__tests__/Link.test.tsx
  src/slider/SliderState.ts
Due: prettier --write, yarn lint:package, yarn lint

chore: fix ci, update snapshots
  src/breadcrumbs/__tests__/Breadcrumbs.test.tsx
  src/link/__tests__/Link.test.tsx
Due: prettier --write, yarn lint

chore(build): ✏️ add babel runtime back
  package.json
Due: prettier --write, yarn lint:package

build(release): 👷 add a release pipeline with standard version
  .versionrc.json
  package.json
Due: prettier --write, yarn lint:package

chore(release): 0.1.0
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

fix(publish): 🔧 bug with npm publish & add prepublish script
  package.json
Due: prettier --write, yarn lint:package

build: fixed broken storybook / build
  .storybook/.babelrc.js
Due: prettier --write, yarn lint

chore(release): 0.1.1-alpha.0
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

chore: use custom babel config
  .storybook/.babelrc.js
  babel-config.js
  package.json
  rollup.config.js
Due: prettier --write, yarn lint:package, yarn lint

refactor: wip toast remove use gesture
  src/toast/ToastController.tsx
Due: prettier --write, yarn lint

build: ignore __examples__ folder
  babel-config.js
  tsconfig.json
Due: prettier --write, yarn lint

Path conditions:
  prettier --write: any of: *.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn lint:package: any of: package.json
  yarn lint: any of: **/*.{js,jsx,ts,tsx}
