Repository adaptui/react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:package, yarn lint

.lintstagedrc.json:

{
  "*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "prettier --write",
    "git add"
  ],
  "package.json": ["yarn lint:package"],
  "**/*.{js,jsx,ts,tsx}": ["yarn lint"]
}

fix(progress): 🐛 remove value state
  src/progress/ProgressState.ts
  src/progress/stories/CircularProgress.component.tsx
  src/progress/stories/LinearProgress.component.tsx
Due: prettier --write, yarn lint

docs(csb): 📝 fix all the failing csb links
  docs-templates/calendar.md
  docs-templates/datepicker.md
  docs-templates/drawer.md
  docs-templates/timepicker.md
  docs-templates/toast.md
  docs/calendar.md
  docs/datepicker.md
  docs/drawer.md
  docs/progress.md
  docs/timepicker.md
  docs/toast.md
Due: prettier --write

chore(deps): ⬆️ update project & dev deps
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

docs(csb): 📝 fix all the failing csb links (#195)
  docs-templates/calendar.md
  docs-templates/datepicker.md
  docs-templates/drawer.md
  docs-templates/timepicker.md
  docs-templates/toast.md
  docs/calendar.md
  docs/datepicker.md
  docs/drawer.md
  docs/progress.md
  docs/timepicker.md
  docs/toast.md
Due: prettier --write

refactor(progress): 🏷️ update progress options to accept partial
  docs/progress.md
  src/accordion/__keys.ts
  src/calendar/__keys.ts
  src/progress/Progress.ts
  src/progress/ProgressState.ts
  src/progress/__keys.ts
  src/select/__keys.ts
Due: prettier --write, yarn lint

[Progress] Update Types (#196)
  docs/progress.md
  src/accordion/__keys.ts
  src/calendar/__keys.ts
  src/progress/Progress.ts
  src/progress/ProgressState.ts
  src/progress/__keys.ts
  src/select/__keys.ts
Due: prettier --write, yarn lint

feat: pass index to toast wrapper
  src/toast/ToastProvider.tsx
Due: prettier --write, yarn lint

refactor: toast types refactor & reexport
  src/toast/ToastProvider.tsx
  src/toast/ToastState.ts
Due: prettier --write, yarn lint

chore: toast content types changes
  src/toast/ToastProvider.tsx
  src/toast/ToastState.ts
Due: prettier --write, yarn lint

chore: added removeAllToast function
  src/toast/ToastState.ts
Due: prettier --write, yarn lint

feat(toast): added support for custom classnames
  src/toast/ToastController.tsx
  src/toast/ToastProvider.tsx
  src/toast/__tests__/__snapshots__/ToastState.test.ts.snap
Due: prettier --write, yarn lint

feat(toast): added support for custom placement styles
  src/toast/ToastProvider.tsx
Due: prettier --write, yarn lint

refactor(toast): ♻️ fix toast for vercel toast
  src/toast/ToastProvider.tsx
  src/toast/ToastState.ts
  src/toast/index.ts
  yarn.lock
Due: prettier --write, yarn lint

refactor(toasts): ♻️ update top placed toasts
  src/toast/ToastProvider.tsx
  src/toast/ToastState.ts
Due: prettier --write, yarn lint

refactor(toast): ♻️ add new toast state & examples
  .storybook/postcss.config.js
  .storybook/preview-body.html
  .storybook/preview-head.html
  .storybook/preview.tsx
  .storybook/webpack.config.js
  babel.config.js
  package.json
  src/datepicker/stories/DatePickerStyled.stories.tsx
  src/new-toast/ToastProvider.tsx
  src/new-toast/ToastState.ts
  src/new-toast/ToastTypes.ts
  src/new-toast/Toasters.ts
  src/new-toast/Toasts.tsx
  src/new-toast/helpers/index.ts
  src/new-toast/index.ts
  src/new-toast/stories/ToastBasic.component.tsx
  src/new-toast/stories/ToastBasic.stories.tsx
  src/new-toast/stories/Utils.component.tsx
  src/new-toast/stories/tailwind.css
  src/select/stories/SelectStyled.stories.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

refactor(toast): ♻️ update toast state & examples
  .storybook/preview.tsx
  src/new-toast/ToastProvider.tsx
  src/new-toast/ToastState.ts
  src/new-toast/Toasters.ts
  src/new-toast/helpers/index.ts
  src/new-toast/index.ts
  src/new-toast/stories/ToastBasic.component.tsx
  src/new-toast/stories/ToastBasic.stories.tsx
  src/new-toast/stories/Utils.component.tsx
  src/toast/ToastController.tsx
  src/toast/ToastProvider.tsx
  src/toast/ToastState.ts
  src/toast/ToastTypes.ts
  src/toast/Toasters.ts
  src/toast/Toasts.tsx
  src/toast/__keys.ts
  src/toast/__tests__/Toast.test.tsx
  src/toast/__tests__/ToastState.test.ts
  src/toast/__tests__/__snapshots__/ToastState.test.ts.snap
  src/toast/helpers/index.ts
  src/toast/index.ts
  src/toast/stories/ToastBasic.component.tsx
  src/toast/stories/ToastBasic.stories.tsx
  src/toast/stories/ToastCSSAnimated.component.tsx
  src/toast/stories/ToastCSSAnimated.stories.tsx
  src/toast/stories/ToastCSSTransition.component.tsx
  src/toast/stories/ToastCSSTransition.stories.tsx
  src/toast/stories/ToastReactSpring.component.tsx
  src/toast/stories/ToastReactSpring.stories.tsx
  src/toast/stories/ToastStyled.component.tsx
  src/toast/stories/ToastStyled.css
  src/toast/stories/Utils.component.tsx
  src/toast/stories/tailwind.css
Due: prettier --write, yarn lint

refactor(toast): ♻️ fix toast types & reviews with new options
  src/toast/ToastProvider.tsx
  src/toast/ToastState.ts
  src/toast/ToastTypes.ts
  src/toast/Toasters.ts
  src/toast/Toasts.tsx
  src/toast/index.ts
  src/toast/stories/ToastBasic.component.tsx
  src/toast/stories/ToastCSSAnimated.component.tsx
  src/toast/stories/ToastCSSTransition.component.tsx
  src/toast/stories/ToastReactSpring.component.tsx
  src/toast/stories/Utils.component.tsx
Due: prettier --write, yarn lint

refactor(toast): ♻️ fix toast after review
  src/toast/ToastState.ts
  src/toast/helpers/index.ts
  src/toast/index.ts
Due: prettier --write, yarn lint

refactor(toast): ♻️ update toast after review
  src/toast/Toasts.tsx
  src/toast/stories/ToastBasic.component.tsx
  src/toast/stories/ToastCSSAnimated.component.tsx
  src/toast/stories/ToastCSSTransition.component.tsx
  src/toast/stories/ToastReactSpring.component.tsx
Due: prettier --write, yarn lint

test: added test for new toast
  src/toast/ToastState.ts
  src/toast/__tests__/ToastState.test.tsx
  src/toast/__tests__/__snapshots__/ToastState.test.tsx.snap
Due: prettier --write, yarn lint

test: added test for useToasts
  src/toast/__tests__/useToasts.test.tsx
Due: prettier --write, yarn lint

refactor(toast): ♻️ update toast state
  .storybook/postcss.config.js
  .storybook/preview-body.html
  .storybook/preview.tsx
  src/datepicker/stories/DatePickerStyled.stories.tsx
  src/datepicker/stories/tailwind/index.css
  src/slider/stories/MultiSlider.stories.tsx
  src/toast/CreateToastContext.tsx
  src/toast/ToastProvider.tsx
  src/toast/ToastState.ts
  src/toast/ToastTypes.ts
  src/toast/Toasters.ts
  src/toast/Toasts.tsx
  src/toast/helpers/index.ts
  src/toast/index.ts
  src/toast/stories/Toast.css
  src/toast/stories/ToastBasic.component.tsx
  src/toast/stories/ToastBasic.stories.tsx
  src/toast/stories/ToastCSSAnimated.component.tsx
  src/toast/stories/ToastCSSAnimated.stories.tsx
  src/toast/stories/ToastCSSTransition.component.tsx
  src/toast/stories/ToastCSSTransition.stories.tsx
  src/toast/stories/ToastReactSpring.component.tsx
  src/toast/stories/ToastReactSpring.stories.tsx
  src/toast/stories/ToastStyled.css
  src/toast/stories/Utils.component.tsx
  src/toast/useToastTimer.tsx
Due: prettier --write, yarn lint

refactor(toast): ♻️ add new toast state & examples (#199)
  .storybook/postcss.config.js
  .storybook/preview-body.html
  .storybook/preview-head.html
  .storybook/webpack.config.js
  babel.config.js
  package.json
  src/datepicker/stories/DatePickerStyled.stories.tsx
  src/datepicker/stories/tailwind/index.css
  src/select/stories/SelectStyled.stories.tsx
  src/slider/stories/MultiSlider.stories.tsx
  src/toast/CreateToastContext.tsx
  src/toast/ToastController.tsx
  src/toast/ToastProvider.tsx
  src/toast/ToastState.ts
  src/toast/ToastTypes.ts
  src/toast/__keys.ts
  src/toast/__tests__/Toast.test.tsx
  src/toast/__tests__/ToastState.test.ts
  src/toast/__tests__/__snapshots__/ToastState.test.ts.snap
  src/toast/helpers/index.ts
  src/toast/index.ts
  src/toast/stories/Toast.css
  src/toast/stories/ToastBasic.component.tsx
  src/toast/stories/ToastCSSAnimated.stories.tsx
  src/toast/stories/ToastCSSTransition.component.tsx
  src/toast/stories/ToastCSSTransition.stories.tsx
  src/toast/stories/ToastReactSpring.component.tsx
  src/toast/stories/ToastReactSpring.stories.tsx
  src/toast/stories/ToastStyled.component.tsx
  src/toast/stories/ToastStyled.css
  src/toast/stories/ToastStyled.stories.tsx
  src/toast/stories/Utils.component.tsx
  src/toast/useToastTimer.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

chore(release): 0.3.0
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

docs(story): 📝 update gap util with space util for flex
  src/datepicker/stories/styled/DatePicker.component.tsx
  src/datepicker/stories/styled/RangeDatePicker.component.tsx
  tailwind.config.js
Due: prettier --write, yarn lint

feat(deps): ✨ update deps with fixes
  package.json
  src/number-input/NumberInput.ts
  src/segment/Segment.ts
  src/segment/__tests__/useSpinButton.test.tsx
  src/segment/helpers/index.ts
  src/segment/helpers/useSpinButton.ts
  src/slider/SliderThumb.ts
  src/toast/CreateToastContext.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

fix(numberinput): ✅ fix internationalized number bug with celsius
  package.json
  patches/@internationalized+number+3.0.0-alpha.0.patch
  src/number-input/NumberInput.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

refactor(numberinput): ♻️ update counter with numberinput changes
  package.json
  src/number-input/NumberInput.ts
  src/number-input/NumberInputDecrementButton.ts
  src/number-input/NumberInputIncrementButton.ts
  src/number-input/NumberInputState.ts
  src/number-input/__keys.ts
  src/number-input/__tests__/NumberInput.test.tsx
  src/number-input/helpers/index.ts
  src/number-input/stories/NumberInput.component.tsx
  src/number-input/stories/NumberInput.stories.tsx
  src/toast/__keys.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

test: fix number input focus
  src/number-input/__tests__/NumberInput.test.tsx
  src/timepicker/__tests__/utils.test.ts
Due: prettier --write, yarn lint

refactor(numberinput): ♻️ add spellcheck prop
  src/number-input/NumberInput.ts
  src/number-input/__tests__/NumberInput.test.tsx
Due: prettier --write, yarn lint

refactor(accordion): ♻️ separate single & multi accordion
  @types-tests/types.test-d.ts
  package.json
  src/accordion/AccordionBaseState.ts
  src/accordion/AccordionMultiState.ts
  src/accordion/AccordionPanel.ts
  src/accordion/AccordionTrigger.ts
  src/accordion/__keys.ts
  src/accordion/__tests__/Accordion.test.tsx
  src/accordion/__tests__/__snapshots__/Accordion.test.tsx.snap
  src/accordion/helpers.ts
  src/accordion/index.ts
  src/accordion/stories/AccordionMulti.component.tsx
  src/accordion/stories/AccordionMulti.stories.tsx
  src/accordion/types.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

docs(accordion): ♻️ add & update source comments & docs
  package.json
  src/accordion/AccordionMultiState.ts
  src/accordion/AccordionPanel.ts
  src/accordion/AccordionState.ts
  src/accordion/AccordionTrigger.ts
  src/accordion/__tests__/__snapshots__/Accordion.test.tsx.snap
  src/accordion/helpers.ts
  src/accordion/index.ts
  src/accordion/stories/AccordionZAuto.component.tsx
  src/accordion/stories/AccordionZAuto.stories.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

refactor(jit): ♻️ updated pkgs & enabled jit
  package.json
  src/datepicker/stories/styled/Calendar.tsx
  tailwind.config.js
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

chore: minor fixes
  src/accordion/__tests__/AccordionState.test.ts
  src/accordion/index.ts
Due: prettier --write, yarn lint

refactor(accordion): ♻️ separate single & multi accordion (#203)
  @types-tests/types.test-d.ts
  package.json
  src/accordion/AccordionBaseState.ts
  src/accordion/AccordionMultiState.ts
  src/accordion/AccordionPanel.ts
  src/accordion/AccordionState.ts
  src/accordion/AccordionTrigger.ts
  src/accordion/__keys.ts
  src/accordion/__tests__/Accordion.test.tsx
  src/accordion/__tests__/AccordionState.test.ts
  src/accordion/__tests__/__snapshots__/Accordion.test.tsx.snap
  src/accordion/helpers.ts
  src/accordion/index.ts
  src/accordion/stories/AccordionMulti.component.tsx
  src/accordion/stories/AccordionMulti.stories.tsx
  src/accordion/stories/AccordionZAuto.component.tsx
  src/accordion/stories/AccordionZAuto.stories.tsx
  src/accordion/types.ts
  src/datepicker/stories/styled/Calendar.tsx
  tailwind.config.js
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

refactor: extract out createToastContext types
  src/toast/CreateToastContext.tsx
  src/toast/CreateToastContext.types.ts
  src/toast/index.ts
  src/toast/useToastTimer.tsx
Due: prettier --write, yarn lint

refactor: extract out createToastContext types (#204)
  src/toast/CreateToastContext.tsx
  src/toast/CreateToastContext.types.ts
  src/toast/index.ts
  src/toast/useToastTimer.tsx
Due: prettier --write, yarn lint

chore(deps): ⬆️ upgrade dev & prod deps
  .eslintignore
  .prettierignore
  @types-tests/types.test-d.ts
  docs/accordion.md
  docs/calendar.md
  docs/datepicker.md
  docs/meter.md
  docs/number-input.md
  docs/progress.md
  docs/segment.md
  docs/select.md
  docs/timepicker.md
  docs/toast.md
  jest.config.ts
  package.json
  patches/@internationalized+number+3.0.1.patch
  scripts/create-preview-tabs.ts
  scripts/utils/inject-composition.js
  scripts/utils/inject-csb-links.js
  scripts/utils/inject-examples.js
  scripts/utils/inject-props.js
  scripts/utils/inject-toc.js
  src/accordion/__keys.ts
  src/calendar/__tests__/RangeCalendar.test.tsx
  src/calendar/stories/CalendarBase.stories.tsx
  src/meter/stories/MeterStyled.component.tsx
  src/progress/ProgressState.ts
  src/timepicker/TimePickerColumnValue.ts
  src/toast/stories/ToastReactSpring.component.tsx
  src/toast/stories/ToastReactSpring.stories.tsx
  src/utils/utils.test.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint
