Repository adaptui/react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:package, yarn lint

.lintstagedrc.json:

{
  "*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "prettier --write",
    "git add"
  ],
  "package.json": ["yarn lint:package"],
  "**/*.{js,jsx,ts,tsx}": ["yarn lint"]
}

chore: added react-hook-form examples (#35)
  package.json
  src/number-input/stories/NumberInput.stories.tsx
  src/slider/stories/Slider.stories.tsx
Due: prettier --write, yarn lint:package, yarn lint

feat(meter): ✅ add tests and examples
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.ts
  src/meter/Meter.ts
  src/meter/MeterState.ts
  src/meter/__examples__/__tests__/Meter.test.tsx
  src/meter/__examples__/index.tsx
  src/meter/__examples__/stories/CircularMeter.stories.tsx
  src/meter/__examples__/stories/LinearMeter.stories.tsx
  src/meter/stories/LinearMeter.stories.tsx
Due: prettier --write, yarn lint

refactor(meter): ✅ change hooks test to match objects
  src/meter/Meter.ts
  src/meter/__examples__/__tests__/Meter.test.tsx
Due: prettier --write, yarn lint

fix: toast ally issue
  src/toast/ToastController.tsx
  src/toast/stories/Demo.tsx
Due: prettier --write, yarn lint

chore: added rfc for select component
  RFCs/select-component.md
Due: prettier --write

test: improved & fixed toast tests
  src/toast/__tests__/Toast.test.tsx
Due: prettier --write, yarn lint

chore: rfc updates
  RFCs/select-component.md
Due: prettier --write

test: added tests for toast (#38)
  src/toast/ToastProvider.tsx
  src/toast/ToastState.ts
  src/toast/__tests__/Toast.test.tsx
  src/toast/__tests__/ToastState.test.ts
  src/toast/stories/Demo.tsx
Due: prettier --write, yarn lint

test: fixed warning on toast tests
  src/toast/__tests__/Toast.test.tsx
Due: prettier --write, yarn lint

fix: toast ally issue (#40)
  src/toast/ToastController.tsx
  src/toast/stories/Demo.tsx
Due: prettier --write, yarn lint

test: refactored imports & fixed pagination component
  src/accordion/__tests__/Accordion.test.tsx
  src/breadcrumbs/__tests__/Breadcrumbs.test.tsx
  src/link/__tests__/AriaLink.test.tsx
  src/link/__tests__/Link.test.tsx
  src/number-input/__test__/NumberInput.test.tsx
  src/pagination/Pagination.ts
  src/pagination/__keys.ts
  src/pagination/__tests__/Pagination.test.tsx
  src/progress/__tests__/Progress.test.tsx
  src/slider/__tests__/Slider.test.tsx
  src/toast/__tests__/Toast.test.tsx
Due: prettier --write, yarn lint

test: improved toast tests (#41)
  src/toast/__tests__/Toast.test.tsx
Due: prettier --write, yarn lint

chore(meter-test): ✅ improve test with jest-in-case
  package.json
  src/meter/__examples__/__tests__/Meter.test.tsx
  src/meter/__examples__/__tests__/statehook-test-data.ts
  tsconfig.json
Due: prettier --write, yarn lint:package, yarn lint

test: refactored imports & fixed pagination component (#42)
  src/accordion/__tests__/Accordion.test.tsx
  src/breadcrumbs/__tests__/Breadcrumbs.test.tsx
  src/link/__tests__/AriaLink.test.tsx
  src/link/__tests__/Link.test.tsx
  src/number-input/__test__/NumberInput.test.tsx
  src/pagination/Pagination.ts
  src/pagination/__keys.ts
  src/pagination/__tests__/Pagination.test.tsx
  src/progress/__tests__/Progress.test.tsx
  src/slider/__tests__/Slider.test.tsx
  src/toast/__tests__/Toast.test.tsx
Due: prettier --write, yarn lint

fix(pagination): 🐛 fix pagination keys name
  src/pagination/Pagination.ts
  src/pagination/__keys.ts
Due: prettier --write, yarn lint

fix(rfc): use latest wai-aria v1.2 link
  RFCs/select-component.md
Due: prettier --write

chore: select rfc updates
  RFCs/select-component.md
Due: prettier --write

chore: minor updates
  RFCs/select-component.md
Due: prettier --write

chore: select rfc updates (#44)
  RFCs/select-component.md
Due: prettier --write

feat(rfc): ✨ add link rfc
  RFCs/link.md
Due: prettier --write

docs(rfc): 📝 add wai-aria link resources
  RFCs/link.md
Due: prettier --write

feat: added key generation script
  package.json
  scripts/build/keys.js
  scripts/utils.js
Due: prettier --write, yarn lint:package, yarn lint

chore: fix path & remove console log
  package.json
  scripts/build/keys.js
  scripts/utils.js
Due: prettier --write, yarn lint:package, yarn lint

chore: generated keys
  src/accordion/__keys.ts
  src/breadcrumbs/BreadcrumbLink.ts
  src/breadcrumbs/__keys.ts
  src/button/__keys.ts
  src/link/Link.ts
  src/link/__keys.ts
  src/meter/Meter.ts
  src/meter/__key.ts
  src/meter/__keys.ts
  src/number-input/NumberInput.ts
  src/number-input/__keys.ts
  src/number-input/createNumberInputButtonsHook.ts
  src/pagination/__keys.ts
  src/progress/__keys.ts
  src/select/SelectInput.ts
  src/select/SelectMenu.ts
  src/select/SelectOption.ts
  src/select/SelectTrigger.ts
  src/select/__keys.ts
  src/slider/__keys.ts
  src/toast/__keys.ts
Due: prettier --write, yarn lint

chore: added reference comment
  scripts/utils.js
Due: prettier --write, yarn lint

infra: added auto key generation script (#46)
  package.json
  scripts/build/keys.js
  scripts/utils.js
  src/accordion/__keys.ts
  src/breadcrumbs/BreadcrumbLink.ts
  src/breadcrumbs/__keys.ts
  src/button/__keys.ts
  src/link/Link.ts
  src/link/__keys.ts
  src/meter/Meter.ts
  src/meter/__key.ts
  src/meter/__keys.ts
  src/number-input/NumberInput.ts
  src/number-input/__keys.ts
  src/number-input/createNumberInputButtonsHook.ts
  src/pagination/__keys.ts
  src/progress/__keys.ts
  src/select/SelectInput.ts
  src/select/SelectMenu.ts
  src/select/SelectOption.ts
  src/select/SelectTrigger.ts
  src/select/__keys.ts
  src/slider/__keys.ts
  src/toast/__keys.ts
Due: prettier --write, yarn lint:package, yarn lint

feat(accordion): ✨ update accordion to expose panel open
  src/accordion/AccordionItem.ts
  src/accordion/AccordionItem.tsx
  src/accordion/AccordionPanel.ts
  src/accordion/AccordionState.ts
  src/accordion/AccordionTrigger.ts
  src/accordion/__keys.ts
  src/accordion/stories/Accordion.stories.tsx
  src/accordion/stories/index.css
Due: prettier --write, yarn lint

refactor(accordion): ♻️ update keys and imports
  src/accordion/AccordionState.ts
  src/accordion/AccordionTrigger.ts
  src/accordion/__keys.ts
Due: prettier --write, yarn lint

refactor(accordion): ♻️ change css classname lettercase
  src/accordion/AccordionPanel.ts
  src/accordion/stories/Accordion.stories.tsx
  src/accordion/stories/index.css
Due: prettier --write, yarn lint

refactor(accordion): ♻️ remove effect for defaultActiveId
  src/accordion/AccordionState.ts
Due: prettier --write, yarn lint

chore(deps): ⬆️ update multiple deps to latest
  package.json
Due: prettier --write, yarn lint:package

feat: added wip calender component
  package.json
  src/calender/Calender.ts
  src/calender/CalenderCell.ts
  src/calender/CalenderRow.ts
  src/calender/CalenderState.ts
  src/calender/__keys.ts
  src/calender/__utils.ts
  src/calender/index.ts
  src/calender/stories/Calender.stories.tsx
  src/calender/stories/style.css
Due: prettier --write, yarn lint:package, yarn lint

chore: seperate calender composite from whole body, use tables
  src/calender/Calender.ts
  src/calender/CalenderBody.ts
  src/calender/CalenderCell.ts
  src/calender/CalenderRow.ts
  src/calender/index.ts
  src/calender/stories/Calender.stories.tsx
  src/calender/stories/style.css
Due: prettier --write, yarn lint

feat: added better keyboard navigation to calander
  src/calender/CalenderBody.ts
  src/calender/CalenderCell.ts
  src/calender/CalenderState.ts
  src/calender/__keys.ts
  src/calender/__utils.ts
Due: prettier --write, yarn lint

feat(calander): added column looping/wraping functionality
  src/calender/Calender.ts
  src/calender/CalenderState.ts
Due: prettier --write, yarn lint

chore: useeffect deps
  src/calender/CalenderState.ts
Due: prettier --write, yarn lint

feat(calendar): ✨ calendar v1 - react-aria
  package.json
  src/calendar-v1/CalendarCell.ts
  src/calendar-v1/CalendarCellButton.ts
  src/calendar-v1/CalendarGrid.ts
  src/calendar-v1/CalendarNextMonthButton.ts
  src/calendar-v1/CalendarNextYearButton.ts
  src/calendar-v1/CalendarPreviousMonthButton.ts
  src/calendar-v1/CalendarPreviousYearButton.ts
  src/calendar-v1/CalendarState.ts
  src/calendar-v1/__keys.ts
  src/calendar-v1/index.ts
  src/calendar-v1/stories/Calendar.stories.tsx
  src/calendar-v1/stories/index.css
  src/calendar-v1/useWeekStart.ts
  src/select/stories/style.css
Due: prettier --write, yarn lint:package, yarn lint

docs(calendar): 📝 add more storybook examples
  src/calendar-v1/CalendarState.ts
  src/calendar-v1/stories/Calendar.stories.tsx
Due: prettier --write, yarn lint

refactor(calendar): 🎨 unify calendar buttons
  src/calendar-v1/CalendarButton.ts
  src/calendar-v1/CalendarGrid.ts
  src/calendar-v1/CalendarNextMonthButton.ts
  src/calendar-v1/CalendarNextYearButton.ts
  src/calendar-v1/CalendarPreviousMonthButton.ts
  src/calendar-v1/CalendarPreviousYearButton.ts
  src/calendar-v1/CalendarState.ts
  src/calendar-v1/__keys.ts
  src/calendar-v1/stories/Calendar.stories.tsx
Due: prettier --write, yarn lint
