Repository adaptui/react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:package, yarn lint

🚀 Release v0.5.0
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

refactor(date-fns): ♻️ check date-fns bundle size
  package.json
  src/calendar/CalendarState.ts
  src/calendar/helpers/index.ts
  src/timepicker/TimePickerState.ts
  src/timepicker/helpers.ts
  src/utils/date.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

🚀 Release v0.5.1
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

build(date-fns): 💚 add esm imports
  package.json
  src/utils/date.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

build(esm): 💚 fix date fns esm error
  src/utils/date.ts
Due: prettier --write, yarn lint

🚀 Release v0.5.2
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

build(date-fns): 👷 revert date-fns exports
  src/utils/date.ts
Due: prettier --write, yarn lint

🚀 Release v0.5.3
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

feat(radio): ✨ add radio component
  docs-templates/checkbox.md
  docs-templates/radio.md
  docs/checkbox.md
  docs/radio.md
  src/index.ts
  src/radio/Radio.tsx
  src/radio/RadioGroup.tsx
  src/radio/RadioState.tsx
  src/radio/__keys.ts
  src/radio/helpers.tsx
  src/radio/index.ts
  src/radio/stories/RadioBasic.component.tsx
  src/radio/stories/RadioBasic.stories.tsx
  yarn.lock
Due: prettier --write, yarn lint

chore(deps): ⬆️ update prod & dev deps
  package.json
  src/datepicker/stories/DateRangePickerBasic.stories.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

🚀 Release v0.6.0
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

docs(readme): 📝 add checkbox & radio
  README.md
Due: prettier --write

build(dialog): 💚 fix bug in type reexport
  src/drawer/index.ts
Due: prettier --write, yarn lint

🚀 Release v0.6.1
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

refactor(radio): ♻️ export useRadioGroup to the src
  src/radio/RadioGroup.tsx
Due: prettier --write, yarn lint

chore(deps): 📝 update dev deps
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

🚀 Release v0.6.2
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

chore(config): 🔧 update & unify dev setups
  .eslintignore
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .prettierignore
  .prettierrc.js
  .prettierrc.json
  .storybook/main.js
  package.json
  scripts/builds/create-previews.js
  scripts/utils/inject-examples.js
  scripts/utils/md-prettify.js
  scripts/utils/transpile-ts.js
  tsconfig.json
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

test(dom): ✅ fix long pending test fix for dom dep
  package.json
  src/datepicker/__tests__/DateRangePicker.test.tsx
  src/number-input/__tests__/NumberInput.test.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

test(testid): ✅ fix test id eslint update
  src/calendar/__tests__/Calendar.test.tsx
  src/calendar/__tests__/RangeCalendar.test.tsx
  src/datepicker/__tests__/DatePicker.test.tsx
  src/datepicker/__tests__/DateRangePicker.test.tsx
  src/meter/__tests__/Meter.test.tsx
  src/number-input/__tests__/NumberInput.test.tsx
  src/number-input/__tests__/useSpinner.test.tsx
  src/picker-base/__tests__/BasePicker.test.tsx
  src/progress/__tests__/Progress.test.tsx
  src/segment/__tests__/Segment.test.tsx
  src/segment/__tests__/useSpinButton.test.tsx
  src/select/__tests__/Select.test.tsx
  src/slider/__tests__/MultiSlider.test.tsx
  src/slider/__tests__/Slider.test.tsx
  src/timepicker/__tests__/TimePicker.test.tsx
  src/utils/__snapshots__/LiveAnnouncer.test.tsx.snap
Due: prettier --write, yarn lint

docs(all): 📝 update radio checkbox ex with docs
  docs/breadcrumb.md
  docs/calendar.md
  docs/checkbox.md
  docs/datepicker.md
  docs/drawer.md
  docs/number-input.md
  docs/picker-base.md
  docs/radio.md
  docs/select.md
  docs/slider.md
  docs/timepicker.md
  docs/toast.md
  package.json
  src/checkbox/stories/CheckboxBasic.component.tsx
  src/checkbox/stories/CheckboxBasic.stories.tsx
  src/radio/stories/RadioBasic.component.tsx
  src/radio/stories/RadioBasic.stories.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

chore(ingores): 🔧 update ignore configs to latest
  .eslintignore
  .gitignore
  .prettierignore
Due: none

Add renovate.json
  renovate.json
Due: prettier --write

Update renovate.json
  renovate.json
Due: prettier --write

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update dev dependencies (minor)
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update actions/setup-node action to v2
  .github/workflows/test.yml
Due: prettier --write

chore(deps): ⬆️ update dependency react-virtual to v2.8.2
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update dependency react-hook-form to v7.17.1
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

feat(disclosure): ✨ add disclosure
  docs-templates/disclosure.md
  docs/disclosure.md
  package.json
  src/disclosure/DisclosureButton.tsx
  src/disclosure/DisclosureContent.tsx
  src/disclosure/DisclosureState.ts
  src/disclosure/__keys.ts
  src/disclosure/helpers.tsx
  src/disclosure/index.ts
  src/disclosure/stories/DisclosureBasic.component.tsx
  src/disclosure/stories/DisclosureBasic.stories.tsx
  src/disclosure/stories/DisclosureHorizontal.component.tsx
  src/disclosure/stories/DisclosureHorizontal.stories.tsx
  src/index.ts
  src/system/createComposableHook.tsx
  src/system/index.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

feat(disclosure): ✨ add disclosure (#244)
  docs-templates/disclosure.md
  docs/disclosure.md
  package.json
  src/disclosure/DisclosureButton.tsx
  src/disclosure/DisclosureContent.tsx
  src/disclosure/DisclosureState.ts
  src/disclosure/__keys.ts
  src/disclosure/helpers.tsx
  src/disclosure/index.ts
  src/disclosure/stories/DisclosureBasic.component.tsx
  src/disclosure/stories/DisclosureBasic.stories.tsx
  src/disclosure/stories/DisclosureHorizontal.component.tsx
  src/disclosure/stories/DisclosureHorizontal.stories.tsx
  src/index.ts
  src/system/createComposableHook.tsx
  src/system/index.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

🚀 Release v0.7.0
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

chore(deps): pin dependency @types/raf to 3.4.0
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

docs(disclosure): 📝 update disclosure in readme
  README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn lint:package: any of: package.json
  yarn lint: any of: **/*.{js,jsx,ts,tsx}
