Repository adaptui/react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:package, yarn lint

docs: 📝 improve docs spellings and wordings
  README.md
  docs/code-base-overview.md
  docs/core-principles.md
  docs/getting-started.md
Due: prettier --write

docs: getting started and guides documentation (#170)
  README.md
  docs-templates/accordion.md
  docs-templates/breadcrumb.md
  docs-templates/calendar.md
  docs-templates/datepicker.md
  docs-templates/drawer.md
  docs-templates/link.md
  docs-templates/meter.md
  docs-templates/number-input.md
  docs-templates/pagination.md
  docs-templates/picker-base.md
  docs-templates/progress.md
  docs-templates/segment.md
  docs-templates/select.md
  docs-templates/slider.md
  docs-templates/timepicker.md
  docs-templates/toast.md
  docs/accordion.md
  docs/breadcrumb.md
  docs/calendar.md
  docs/code-base-overview.md
  docs/core-principles.md
  docs/datepicker.md
  docs/drawer.md
  docs/getting-started.md
  docs/link.md
  docs/meter.md
  docs/number-input.md
  docs/pagination.md
  docs/picker-base.md
  docs/progress.md
  docs/segment.md
  docs/select.md
  docs/slider.md
  docs/timepicker.md
  docs/toast.md
  scripts/inject-csb-links.js
Due: prettier --write, yarn lint

docs(scripts): 📝 use scripts to generate docs
  docs/calendar.md
  docs/datepicker.md
Due: prettier --write

refactor(docs): 📝 improve docs scripts
  docs/calendar.md
  docs/datepicker.md
  package.json
  scripts/builds/docs.js
  scripts/builds/keys.js
  scripts/inject-csb-links.js
  scripts/inject-examples.js
  scripts/prettify-docs.js
  scripts/utils/fs-utils.js
  scripts/utils/index.js
  scripts/utils/inject-composition.js
  scripts/utils/inject-csb-links.js
  scripts/utils/inject-examples.js
  scripts/utils/inject-md-content.js
  scripts/utils/inject-props.js
  scripts/utils/md-prettify.js
Due: prettier --write, yarn lint:package, yarn lint

docs: fix csb multiple links generation
  docs-templates/toast.md
  docs/accordion.md
  docs/calendar.md
  docs/datepicker.md
  docs/drawer.md
  docs/meter.md
  docs/number-input.md
  docs/pagination.md
  docs/picker-base.md
  docs/progress.md
  docs/segment.md
  docs/select.md
  docs/slider.md
  docs/timepicker.md
  docs/toast.md
  scripts/builds/docs.js
  scripts/utils/inject-csb-links.js
  scripts/utils/inject-props.js
Due: prettier --write, yarn lint

docs(scripts): 📝 use front-matter for dynamic content
  docs-templates/accordion.md
  docs/accordion.md
  package.json
  scripts/builds/docs.js
  scripts/utils/inject-composition.js
  scripts/utils/inject-csb-links.js
  scripts/utils/inject-examples.js
  scripts/utils/inject-props.js
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

docs: remove line ending on examples & added progress logs in gen script
  docs/calendar.md
  docs/toast.md
  scripts/builds/docs.js
  scripts/utils/inject-examples.js
Due: prettier --write, yarn lint

docs: fixed docs gen multiple csblinks (#172)
  docs-templates/toast.md
  docs/accordion.md
  docs/calendar.md
  docs/datepicker.md
  docs/drawer.md
  docs/meter.md
  docs/number-input.md
  docs/pagination.md
  docs/picker-base.md
  docs/progress.md
  docs/segment.md
  docs/select.md
  docs/slider.md
  docs/timepicker.md
  docs/toast.md
  scripts/builds/docs.js
  scripts/utils/inject-csb-links.js
  scripts/utils/inject-examples.js
  scripts/utils/inject-props.js
Due: prettier --write, yarn lint

docs(composition): 📝 update composition links
  docs/accordion.md
  docs/breadcrumb.md
  docs/calendar.md
  docs/datepicker.md
  docs/drawer.md
  docs/meter.md
  docs/number-input.md
  docs/pagination.md
  docs/picker-base.md
  docs/progress.md
  docs/segment.md
  docs/select.md
  docs/slider.md
  docs/timepicker.md
  docs/toast.md
  scripts/utils/inject-composition.js
  yarn.lock
Due: prettier --write, yarn lint

build(utils): 💚 fix the build with utils & csb links
  scripts/generate-js.js
  scripts/transpile-ts.js
  scripts/utils/inject-csb-links.js
Due: prettier --write, yarn lint

docs(readme): 📝 remove contributors tag
  README.md
Due: prettier --write

docs(readme): 📝 update Link's doc link
  README.md
Due: prettier --write

docs(csb): 📝 yaml bug with csb deps
  docs-templates/accordion.md
  docs-templates/meter.md
  docs-templates/progress.md
  docs/accordion.md
  docs/calendar.md
  docs/datepicker.md
  docs/drawer.md
  docs/meter.md
  docs/number-input.md
  docs/pagination.md
  docs/picker-base.md
  docs/progress.md
  docs/segment.md
  docs/toast.md
Due: prettier --write

docs(yaml): 📝 fix yaml deps bug & add toc
  docs-templates/accordion.md
  docs-templates/breadcrumb.md
  docs-templates/meter.md
  docs-templates/progress.md
  docs/accordion.md
  docs/breadcrumb.md
  docs/drawer.md
  docs/meter.md
  docs/progress.md
  package.json
  scripts/builds/docs.js
  scripts/utils/inject-composition.js
  scripts/utils/inject-csb-links.js
  scripts/utils/inject-examples.js
  scripts/utils/inject-props.js
  scripts/utils/inject-toc.js
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

docs(breadcrumb): 📝 finish breadcrumb docs
  docs-templates/accordion.md
  docs-templates/breadcrumb.md
  docs/accordion.md
  docs/breadcrumb.md
  src/accordion/stories/AccordionBasic.stories.tsx
  src/accordion/stories/AccordionStyled.stories.tsx
  src/breadcrumbs/Breadcrumbs.ts
  src/breadcrumbs/__tests__/Breadcrumbs.test.tsx
  src/breadcrumbs/stories/Breadcrumbs.component.tsx
Due: prettier --write, yarn lint

docs(format): 📝 update the format of the docs & finish upto link
  docs-templates/accordion.md
  docs-templates/breadcrumb.md
  docs-templates/calendar.md
  docs-templates/datepicker.md
  docs-templates/drawer.md
  docs-templates/link.md
  docs-templates/meter.md
  docs-templates/number-input.md
  docs-templates/pagination.md
  docs-templates/picker-base.md
  docs-templates/progress.md
  docs-templates/segment.md
  docs-templates/select.md
  docs-templates/slider.md
  docs-templates/timepicker.md
  docs-templates/toast.md
  docs/accordion.md
  docs/breadcrumb.md
  docs/calendar.md
  docs/code-base-overview.md
  docs/datepicker.md
  docs/drawer.md
  docs/link.md
  docs/meter.md
  docs/number-input.md
  docs/pagination.md
  docs/picker-base.md
  docs/progress.md
  docs/segment.md
  docs/select.md
  docs/slider.md
  docs/timepicker.md
  docs/toast.md
  src/select/SelectOption.ts
Due: prettier --write, yarn lint

docs(components): 📝 finish the docs for all components
  docs-templates/breadcrumb.md
  docs-templates/calendar.md
  docs-templates/datepicker.md
  docs-templates/meter.md
  docs-templates/number-input.md
  docs-templates/pagination.md
  docs-templates/picker-base.md
  docs-templates/progress.md
  docs-templates/segment.md
  docs-templates/select.md
  docs-templates/slider.md
  docs-templates/timepicker.md
  docs-templates/toast.md
  docs/accordion.md
  docs/breadcrumb.md
  docs/calendar.md
  docs/datepicker.md
  docs/meter.md
  docs/number-input.md
  docs/pagination.md
  docs/picker-base.md
  docs/progress.md
  docs/segment.md
  docs/select.md
  docs/slider.md
  docs/timepicker.md
  docs/toast.md
  src/number-input/NumberInput.ts
  src/number-input/__test__/NumberInput.test.tsx
  src/number-input/stories/NumberInput.component.tsx
  src/pagination/Pagination.ts
  src/pagination/PaginationButton.ts
  src/pagination/__tests__/Pagination.test.tsx
  src/pagination/stories/Pagination.component.tsx
Due: prettier --write, yarn lint

chore(npm): 📦 rename pkg to scoped one
  package.json
Due: prettier --write, yarn lint:package

chore(release): 0.2.0
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update project & dev deps
  package.json
  src/utils/utils.test.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

docs(readme): 📝 update readme & check new deployment
  README.md
Due: prettier --write

docs: ensure sandbox link injection order
  docs/accordion.md
  docs/breadcrumb.md
  docs/calendar.md
  docs/datepicker.md
  docs/drawer.md
  docs/link.md
  docs/meter.md
  docs/number-input.md
  docs/pagination.md
  docs/picker-base.md
  docs/progress.md
  docs/segment.md
  docs/select.md
  docs/slider.md
  docs/timepicker.md
  docs/toast.md
  scripts/utils/inject-csb-links.js
Due: prettier --write, yarn lint

chore(fixes): 🚸 improving the styles & code that was pending small
  docs/calendar.md
  docs/datepicker.md
  docs/select.md
  docs/timepicker.md
  docs/toast.md
  scripts/create-preview-tabs.ts
  src/calendar/stories/CalendarBase.css
  src/calendar/stories/CalendarRange.css
  src/datepicker/stories/DatePickerBase.css
  src/datepicker/stories/DatePickerBase.stories.tsx
  src/datepicker/stories/DatePickerRange.css
  src/select/stories/Select.css
  src/select/stories/SelectControlled.component.tsx
  src/timepicker/stories/TimePicker.component.tsx
  src/timepicker/stories/TimePicker.css
  src/timepicker/stories/TimePicker.stories.tsx
Due: prettier --write, yarn lint

docs(select): 📝 re order select docs layout
  docs-templates/select.md
Due: prettier --write

docs: ensure sandbox link injection order (#176)
  docs/accordion.md
  docs/breadcrumb.md
  docs/calendar.md
  docs/datepicker.md
  docs/drawer.md
  docs/link.md
  docs/meter.md
  docs/number-input.md
  docs/pagination.md
  docs/picker-base.md
  docs/progress.md
  docs/segment.md
  docs/select.md
  docs/slider.md
  docs/timepicker.md
  docs/toast.md
  scripts/utils/inject-csb-links.js
Due: prettier --write, yarn lint

docs(readme): 📝 release note
  README.md
Due: prettier --write

docs(readme): 📝 update readme & check new deployment (#175)
  README.md
  docs-templates/accordion.md
  docs-templates/calendar.md
  docs-templates/datepicker.md
  docs-templates/progress.md
  docs-templates/select.md
  docs/accordion.md
  docs/breadcrumb.md
  docs/calendar.md
  docs/datepicker.md
  docs/drawer.md
  docs/link.md
  docs/meter.md
  docs/number-input.md
  docs/pagination.md
  docs/picker-base.md
  docs/progress.md
  docs/segment.md
  docs/select.md
  docs/slider.md
  docs/timepicker.md
  docs/toast.md
  scripts/create-preview-tabs.ts
  src/calendar/stories/CalendarBase.css
  src/calendar/stories/CalendarRange.css
  src/datepicker/stories/DatePickerBase.css
  src/datepicker/stories/DatePickerBase.stories.tsx
  src/datepicker/stories/DatePickerRange.css
  src/select/stories/Select.css
  src/select/stories/SelectControlled.component.tsx
  src/timepicker/stories/TimePicker.component.tsx
  src/timepicker/stories/TimePicker.css
  src/timepicker/stories/TimePicker.stories.tsx
Due: prettier --write, yarn lint

docs(toast): 📝 add basic example
  docs-templates/toast.md
  docs/toast.md
  src/toast/stories/Toast.css
  src/toast/stories/ToastBasic.component.tsx
  src/toast/stories/ToastBasic.stories.tsx
  src/toast/stories/ToastCSSAnimated.stories.tsx
  src/toast/stories/ToastReactSpring.stories.tsx
  src/toast/stories/ToastStyled.component.tsx
  src/toast/stories/ToastStyled.stories.tsx
  src/toast/stories/Utils.component.tsx
Due: prettier --write, yarn lint

docs(toast): 📝 fix the storybook css import
  src/toast/stories/ToastCSSAnimated.stories.tsx
  src/toast/stories/ToastReactSpring.stories.tsx
Due: prettier --write, yarn lint

docs(timepicker): 📝 move extra code to utils
  docs/timepicker.md
  src/timepicker/stories/TimePicker.component.tsx
  src/timepicker/stories/TimePicker.stories.tsx
  src/timepicker/stories/Utils.component.tsx
Due: prettier --write, yarn lint

docs(slider): 📝 improve slider docs template with more csbs
  README.md
  docs-templates/slider.md
  docs/slider.md
Due: prettier --write

docs(select): 📝 add more csb examples to select docs
  docs-templates/select.md
  docs/select.md
Due: prettier --write

chore: simplify examples, extract duplicate code
  docs/calendar.md
  docs/datepicker.md
  src/calendar/stories/CalendarBase.component.tsx
  src/calendar/stories/CalendarBase.stories.tsx
  src/calendar/stories/CalendarRange.component.tsx
  src/calendar/stories/CalendarRange.stories.tsx
  src/calendar/stories/Utils.component.tsx
  src/datepicker/stories/DatePickerBase.component.tsx
  src/datepicker/stories/DatePickerBase.stories.tsx
  src/datepicker/stories/DatePickerRange.component.tsx
  src/datepicker/stories/DatePickerRange.stories.tsx
  src/datepicker/stories/Utils.component.tsx
Due: prettier --write, yarn lint

docs(calendar): update range calendar docs
  docs-templates/calendar.md
  docs/calendar.md
Due: prettier --write

chore: updated calendar types to not use generics
  docs-templates/calendar.md
  docs/calendar.md
  src/calendar/CalendarState.ts
  src/calendar/RangeCalendarState.ts
Due: prettier --write, yarn lint

docs(progress): 📝 update progress example with basic one
  docs-templates/progress.md
  docs-templates/toast.md
  docs/progress.md
  docs/toast.md
  src/progress/stories/ProgressBasic.component.tsx
  src/progress/stories/ProgressBasic.css
  src/progress/stories/ProgressBasic.stories.tsx
  src/toast/stories/ToastCSSAnimated.stories.tsx
  src/toast/stories/ToastReactSpring.stories.tsx
  src/toast/stories/ToastStyled.css
  src/toast/stories/ToastStyled.stories.tsx
Due: prettier --write, yarn lint

Path conditions:
  prettier --write: any of: *.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn lint:package: any of: package.json
  yarn lint: any of: **/*.{js,jsx,ts,tsx}
