Repository adaptui/react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:package, yarn lint

.lintstagedrc.json:

{
  "*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "prettier --write",
    "git add"
  ],
  "package.json": ["yarn lint:package"],
  "**/*.{js,jsx,ts,tsx}": ["yarn lint"]
}

fix(story): 🐛 deploy story styles with wrong id
  .storybook/postcss.config.js
  .storybook/preview.tsx
  src/accordion/stories/AccordionBasic.component.tsx
  src/accordion/stories/AccordionBasic.stories.tsx
  src/calendar/stories/CalendarBase.component.tsx
  src/calendar/stories/CalendarBase.css
  src/calendar/stories/CalendarBase.stories.tsx
  src/calendar/stories/CalendarRange.component.tsx
  src/calendar/stories/CalendarRange.css
  src/calendar/stories/CalendarRange.stories.tsx
  src/datepicker/stories/DatePickerBase.component.tsx
  src/datepicker/stories/DatePickerBase.css
  src/datepicker/stories/DatePickerBase.stories.tsx
  src/datepicker/stories/DatePickerRange.component.tsx
  src/datepicker/stories/DatePickerRange.css
  src/datepicker/stories/DatePickerRange.stories.tsx
  src/number-input/stories/NumberInput.stories.tsx
  src/select/stories/Combobox.stories.tsx
  src/select/stories/Select.stories.tsx
  src/slider/stories/MultiSlider.stories.tsx
  src/slider/stories/RangeSlider.stories.tsx
  src/slider/stories/SingleOriginSlider.stories.tsx
  src/slider/stories/SingleReversedSlider.stories.tsx
  src/slider/stories/SingleSlider.stories.tsx
  src/slider/stories/SingleVerticalSlider.stories.tsx
  src/slider/stories/Slider.stories.tsx
  src/toast/stories/ToastBasic.component.tsx
  src/toast/stories/ToastBasic.css
  src/toast/stories/ToastBasic.stories.tsx
  src/toast/stories/ToastCSSAnimated.stories.tsx
  src/toast/stories/ToastReactSpring.stories.tsx
Due: prettier --write, yarn lint

docs(story): ✨ isolate story styles with post css (#149)
  .storybook/postcss.config.js
  .storybook/preview.tsx
  .storybook/webpack.config.js
  package.json
  src/accordion/stories/AccordionBasic.component.tsx
  src/accordion/stories/AccordionBasic.stories.tsx
  src/calendar/stories/CalendarBase.component.tsx
  src/calendar/stories/CalendarBase.css
  src/calendar/stories/CalendarBase.stories.tsx
  src/calendar/stories/CalendarRange.component.tsx
  src/calendar/stories/CalendarRange.css
  src/calendar/stories/CalendarRange.stories.tsx
  src/datepicker/stories/DatePickerBase.component.tsx
  src/datepicker/stories/DatePickerBase.css
  src/datepicker/stories/DatePickerBase.stories.tsx
  src/datepicker/stories/DatePickerRange.component.tsx
  src/datepicker/stories/DatePickerRange.css
  src/datepicker/stories/DatePickerRange.stories.tsx
  src/number-input/stories/NumberInput.stories.tsx
  src/select/stories/Combobox.stories.tsx
  src/select/stories/Select.stories.tsx
  src/slider/stories/MultiSlider.stories.tsx
  src/slider/stories/RangeSlider.stories.tsx
  src/slider/stories/SingleOriginSlider.stories.tsx
  src/slider/stories/SingleReversedSlider.stories.tsx
  src/slider/stories/SingleSlider.stories.tsx
  src/slider/stories/SingleVerticalSlider.stories.tsx
  src/slider/stories/Slider.stories.tsx
  src/toast/stories/ToastBasic.component.tsx
  src/toast/stories/ToastBasic.css
  src/toast/stories/ToastBasic.stories.tsx
  src/toast/stories/ToastCSSAnimated.stories.tsx
  src/toast/stories/ToastReactSpring.stories.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

fix: generation script template component full path
  scripts/generate-js.js
Due: prettier --write, yarn lint

refactor: refactor walkSync
  scripts/generate-js.js
Due: prettier --write, yarn lint

build(script): 💚 improve slider components scripts adjustment
  scripts/generate-js.js
Due: prettier --write, yarn lint

fix(scripts): 🐛 windows path replace in generateImportString
  scripts/generate-js.js
Due: prettier --write, yarn lint

refactor: re-organize improve (#150)
  scripts/generate-js.js
Due: prettier --write, yarn lint

chore: reorganize slider components & improved js generation script (#148)
  scripts/generate-js.js
  src/slider/stories/MultiSlider.stories.tsx
  src/slider/stories/RangeSlider.stories.tsx
  src/slider/stories/SingleOriginSlider.stories.tsx
  src/slider/stories/SingleReversedSlider.stories.tsx
  src/slider/stories/SingleSlider.stories.tsx
  src/slider/stories/SingleVerticalSlider.stories.tsx
  src/slider/stories/Slider.stories.tsx
  src/slider/stories/components/MultiSlider.component.tsx
  src/slider/stories/components/RangeSlider.component.tsx
  src/slider/stories/components/SingleOriginSlider.component.tsx
  src/slider/stories/components/SingleReversedSlider.component.tsx
  src/slider/stories/components/SingleSlider.component.tsx
  src/slider/stories/components/SingleVerticalSlider.component.tsx
  src/slider/stories/components/Slider.component.tsx
Due: prettier --write, yarn lint

fix(accordion): correct default destructuring
  src/accordion/AccordionState.ts
  src/accordion/stories/AccordionBasic.component.tsx
Due: prettier --write, yarn lint

chore: removed unneeded overloads
  src/accordion/AccordionState.ts
Due: prettier --write, yarn lint

docs(select): 📝 add multiple examples
  src/combobox/Select.ts
  src/combobox/SelectBaseState.ts
  src/combobox/SelectItem.ts
  src/combobox/stories/Select.component.tsx
  src/combobox/stories/Select.css
  src/combobox/stories/Select.stories.tsx
  src/combobox/stories/SelectControlled.component.tsx
  src/combobox/stories/SelectControlled.stories.tsx
  src/combobox/stories/SelectCustom.component.tsx
  src/combobox/stories/SelectCustom.stories.tsx
  src/combobox/stories/SelectFetch.component.tsx
  src/combobox/stories/SelectFetch.stories.tsx
  src/combobox/stories/SelectMultiple.component.tsx
  src/combobox/stories/SelectMultiple.stories.tsx
  src/combobox/stories/SelectWindows.component.tsx
  src/combobox/stories/SelectWindows.stories.tsx
Due: prettier --write, yarn lint

chore: remove SelectedIdPair from components
  src/accordion/AccordionPanel.ts
  src/accordion/AccordionTrigger.ts
  src/accordion/types.ts
Due: prettier --write, yarn lint

chore: run tsd on check types
  package.json
Due: prettier --write, yarn lint:package

chore: review updates & fixed check-types script
  package.json
  src/accordion/AccordionState.ts
  src/accordion/stories/AccordionBasic.stories.tsx
Due: prettier --write, yarn lint:package, yarn lint

chore: review updates and set partial on types
  src/accordion/AccordionState.ts
  src/accordion/stories/AccordionBasic.stories.tsx
  src/accordion/stories/AccordionStyled.component.tsx
  src/accordion/types.ts
Due: prettier --write, yarn lint

chore: fix package json script
  package.json
Due: prettier --write, yarn lint:package

chore: improve pkg json script
  package.json
Due: prettier --write, yarn lint:package

feat: accordion types improvements (#143)
  @types-tests/types.test-d.ts
  package.json
  src/accordion/AccordionPanel.ts
  src/accordion/AccordionState.ts
  src/accordion/AccordionTrigger.ts
  src/accordion/__keys.ts
  src/accordion/__tests__/Accordion.test.tsx
  src/accordion/__tests__/AccordionState.test.ts
  src/accordion/__tests__/__snapshots__/AccordionState.test.ts.snap
  src/accordion/index.ts
  src/accordion/stories/AccordionBasic.component.tsx
  src/accordion/stories/AccordionBasic.stories.tsx
  src/accordion/stories/AccordionStyled.stories.tsx
  src/accordion/types.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

chore(reakit): ⬆️ update reakit to latest version
  package.json
  src/accordion/__keys.ts
  src/accordion/__tests__/__snapshots__/AccordionState.test.ts.snap
  src/datepicker/__keys.ts
  src/segment/__keys.ts
  src/select/__keys.ts
  src/timepicker/__keys.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

refactor(select): ♻️ update utils, types & extract onCharacterPress
  src/select/Select.ts
  src/select/SelectBaseState.ts
  src/select/helpers/getItemId.ts
  src/select/helpers/index.ts
  src/select/helpers/types.ts
  src/select/helpers/useTypeaheadShortcut.ts
  src/utils/index.ts
Due: prettier --write, yarn lint

refactor(select): ♻️ remove keys from helpers
  src/select/helpers/useTypeaheadShortcut.ts
Due: prettier --write, yarn lint

chore(select): 🏷️ update composite types in base state
  src/select/SelectBaseState.ts
Due: prettier --write, yarn lint

refactor(select): 🏷️ support removal of generics types
  src/select/SelectListState.ts
Due: prettier --write, yarn lint

refactor(select): ♻️ remove generics from popover state
  src/select/SelectPopoverState.ts
  src/select/stories/SelectVirtual.stories.tsx
Due: prettier --write, yarn lint

fix(toast): 🐛 useToast is not a function
  src/toast/ToastProvider.tsx
Due: prettier --write, yarn lint

chore(release): 0.1.1-beta.1
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

chore(toast): 📌 pin the storybook deps to the latest beta
  scripts/create-preview-tabs.ts
  src/toast/stories/ToastBasic.stories.tsx
  src/toast/stories/ToastCSSAnimated.stories.tsx
  src/toast/stories/ToastReactSpring.stories.tsx
Due: prettier --write, yarn lint

refactor(utils): ♻️ remove createContext utils & its test
  src/toast/ToastProvider.tsx
  src/utils/index.ts
  src/utils/utils.test.tsx
Due: prettier --write, yarn lint

build(reakit): 📌 make reakit as a peer deps
  package.json
Due: prettier --write, yarn lint:package

refactor(uuid): ➖ remove uuid from deps
  package.json
Due: prettier --write, yarn lint:package

chore(release): 0.1.1-beta.2
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

chore(reakitwarning): ➕ add reakit warning to the prod deps
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(release): 0.1.1-beta.3
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

docs(update): ➕ add reakit to the deps list for csb examples
  package.json
  scripts/create-preview-tabs.ts
  src/toast/stories/ToastBasic.stories.tsx
  src/toast/stories/ToastCSSAnimated.stories.tsx
  src/toast/stories/ToastReactSpring.stories.tsx
Due: prettier --write, yarn lint:package, yarn lint

docs(stories): 📝 update select examples with proper package name
  src/accordion/stories/AccordionBasic.component.tsx
  src/accordion/stories/AccordionBasic.stories.tsx
  src/select/stories/Select.component.tsx
  src/select/stories/SelectControlled.component.tsx
  src/select/stories/SelectCustom.component.tsx
  src/select/stories/SelectDynamic.component.tsx
  src/select/stories/SelectFetch.component.tsx
  src/select/stories/SelectMultiple.component.tsx
  src/select/stories/SelectVirtual.component.tsx
  src/select/stories/SelectWindows.component.tsx
  src/select/stories/fruits.ts
Due: prettier --write, yarn lint

fix(toast): 🐛 useToast is not a function (#151) Issue (#145)
  CHANGELOG.md
  package.json
  scripts/create-preview-tabs.ts
  src/toast/ToastProvider.tsx
  src/toast/stories/ToastBasic.stories.tsx
  src/toast/stories/ToastCSSAnimated.stories.tsx
  src/toast/stories/ToastReactSpring.stories.tsx
  src/utils/index.ts
  src/utils/utils.test.tsx
Due: prettier --write, yarn lint:package, yarn lint

chore(select): added exhaustive-deps ignore comments
  src/select/Select.ts
  src/select/SelectBaseState.ts
  src/select/SelectItem.ts
  src/select/stories/SelectControlled.component.tsx
  src/select/stories/SelectWindows.component.tsx
Due: prettier --write, yarn lint

chore(accordion): refactored & cleaned up accordion types
  src/accordion/AccordionState.ts
  src/accordion/types.ts
Due: prettier --write, yarn lint
