Repository adaptui/react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:package, yarn lint

chore(deps): ⬆️ update dev dependencies (minor)
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

feat(comps): ✨ add pagination & numberfield
  package.json
  src-v2/datepicker/datepicker-state.ts
  src-v2/numberfield/index.ts
  src-v2/numberfield/numberfield-base-state.ts
  src-v2/numberfield/numberfield-decrement-button.ts
  src-v2/numberfield/numberfield-group.ts
  src-v2/numberfield/numberfield-increment-button.ts
  src-v2/numberfield/numberfield-input.ts
  src-v2/numberfield/numberfield-label.ts
  src-v2/numberfield/numberfield-state.ts
  src-v2/numberfield/stories/NumberFieldBasic.component.tsx
  src-v2/numberfield/stories/NumberFieldBasic.stories.tsx
  src-v2/pagination/__utils.ts
  src-v2/pagination/index.ts
  src-v2/pagination/pagination-button.ts
  src-v2/pagination/pagination-state.ts
  src-v2/pagination/pagination.ts
  src-v2/pagination/stories/PaginationBasic.component.tsx
  src-v2/pagination/stories/PaginationBasic.stories.tsx
  src-v2/slider/slider-base-state.ts
  src-v2/slider/slider-state.ts
  src-v2/slider/slider-thumb-state.ts
  src-v2/slider/slider-thumb.tsx
  src-v2/utils/hooks.ts
  src-v2/utils/index.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

feat(timefield): ✨ add timefield
  package.json
  src-v2/numberfield/numberfield-base-state.ts
  src-v2/numberfield/stories/NumberFieldBasic.component.tsx
  src-v2/timefield/index.ts
  src-v2/timefield/stories/TimeFieldBasic.component.tsx
  src-v2/timefield/stories/TimeFieldBasic.css
  src-v2/timefield/stories/TimeFieldBasic.stories.tsx
  src-v2/timefield/stories/TimeFieldStyled.component.tsx
  src-v2/timefield/stories/TimeFieldStyled.stories.tsx
  src-v2/timefield/stories/tailwind.css
  src-v2/timefield/time-segment.ts
  src-v2/timefield/timefield-base-state.ts
  src-v2/timefield/timefield-label.ts
  src-v2/timefield/timefield-state.ts
  src-v2/timefield/timefield.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

chore(deps): ⬆️ update dev dependencies (major)
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update all dev prod deps
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(timepicker): ✨ add timepicker using spectrum hooks
  src-v2/timefield/stories/TimeFieldBasic.component.tsx
  src-v2/timepicker/index.ts
  src-v2/timepicker/stories/TimePickerBasic.component.tsx
  src-v2/timepicker/stories/TimePickerBasic.css
  src-v2/timepicker/stories/TimePickerBasic.stories.tsx
  src-v2/timepicker/stories/Utils.component.tsx
  src-v2/timepicker/stories/tailwind.css
  src-v2/timepicker/timepicker-base-state.ts
  src-v2/timepicker/timepicker-disclosure.ts
  src-v2/timepicker/timepicker-group.ts
  src-v2/timepicker/timepicker-label.ts
  src-v2/timepicker/timepicker-popover.ts
  src-v2/timepicker/timepicker-state.ts
Due: prettier --write, yarn lint

refactor(index): ♻️ update exports
  src/index.ts
Due: prettier --write, yarn lint

refactor(useEvent): ♻️ update useEventCallback with useEvent
  src/accordion/accordion-disclosure.ts
  src/datepicker/datepicker-popover.ts
  src/disclosure/disclosure-collapsible-content.ts
  src/pagination/pagination-button.ts
Due: prettier --write, yarn lint

chore(ariakit): ⬆️ update deps
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

refactor(pagination): ♻️ update stories import
  src/pagination/stories/PaginationBasic.component.tsx
Due: prettier --write, yarn lint

chore(storybook): ♻️ update storybook imports
  src/calendar/stories/CalendarBasic.component.tsx
  src/calendar/stories/CalendarRange.component.tsx
  src/calendar/stories/CalendarRangeStyled.component.tsx
  src/calendar/stories/CalendarStyled.component.tsx
  src/datefield/stories/DateFieldBasic.component.tsx
  src/datefield/stories/DateFieldStyled.component.tsx
  src/datepicker/stories/DatePickerBasic.component.tsx
  src/datepicker/stories/DatePickerStyled.component.tsx
  src/datepicker/stories/DateRangePickerBasic.component.tsx
  src/datepicker/stories/DateRangePickerStyled.component.tsx
  src/meter/stories/MeterStyled.component.tsx
  src/numberfield/stories/NumberFieldBasic.component.tsx
  src/pagination/stories/PaginationBasic.component.tsx
  src/timefield/stories/TimeFieldBasic.component.tsx
  src/timefield/stories/TimeFieldStyled.component.tsx
Due: prettier --write, yarn lint

refactor(rename): ♻️ update file name to pass ci builds
  src/accordion/accordion-base.ts
  src/accordion/index.ts
  src/breadcrumbs/breadcrumbs-base.ts
  src/breadcrumbs/index.ts
  src/calendar/calendar-base.ts
  src/calendar/index.ts
  src/datefield/datefield-base.ts
  src/datefield/index.ts
  src/link/index.ts
  src/link/link-base.ts
  src/meter/index.ts
  src/meter/meter-base.tsx
  src/pagination/index.ts
  src/pagination/pagination-base.ts
  src/progress/index.ts
  src/progress/progress-base.tsx
  src/slider/index.ts
  src/slider/slider-base.ts
  src/timefield/index.ts
  src/timefield/timefield-base.ts
Due: prettier --write, yarn lint

🚀 Release v1.0.0-0
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

ci(pr): 💚 add automerge pr
  .github/CODEOWNERS
  .github/workflows/test.yml
  .kodiak.toml
Due: prettier --write

chore(deps): ⬆️ update dependency @types/jest to v27.5.1
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

fix(deps): ⬆️ update chakra-ui monorepo to v2
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

fix(deps): ⬆️ update dependency ariakit to v2.0.0-next.27
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update dev dependencies (major) to v17
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update dependency eslint-plugin-storybook to v0.5.12
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

refactor(show-more): ♻️ add role to collapsibel content
  src/disclosure/disclosure-collapsible-content.ts
Due: prettier --write, yarn lint

🚀 Release v1.0.0-1
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

ci(actions): 💚 fix ci build error with babel
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(deps): ➕ add react helmet to fix ci
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

ci(deps): ➕ fix ci with react router dom deps addition
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(ui): ➕ add storybook ui dep
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(ci): ➕ add babel plugin to fix ci
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(sb): ➖ remove sb 6.5.0 update
  package.json
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update dependency ariakit to v2.0.0-next.28
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

refactor(slider): ♻️ add base states to props states
  src/meter/index.ts
  src/slider/slider-state.ts
  src/slider/slider-thumb-state.ts
Due: prettier --write, yarn lint

🚀 Release v1.0.0-2
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update dependency ts-morph to v15
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update storybook to 6.5.5
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

Path conditions:
  prettier --write: any of: *.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn lint:package: any of: package.json
  yarn lint: any of: **/*.{js,jsx,ts,tsx}
