Repository adaptui/react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:package, yarn lint

feat(tooltip): ✨ add tooltip and docs
  src/popover/PopoverAnchor.tsx
  src/popover/PopoverArrow.tsx
  src/popover/PopoverArrowContent.tsx
  src/popover/PopoverTrigger.tsx
  src/popover/__keys.ts
  src/popover/index.ts
  src/popover/stories/PopoverBasic.component.tsx
  src/popover/stories/PopoverCollision.component.tsx
  src/tooltip/README.md
  src/tooltip/Tooltip.tsx
  src/tooltip/TooltipAnchor.tsx
  src/tooltip/TooltipArrow.ts
  src/tooltip/TooltipArrowContent.ts
  src/tooltip/TooltipContent.tsx
  src/tooltip/TooltipReference.ts
  src/tooltip/TooltipState.ts
  src/tooltip/TooltipTrigger.ts
  src/tooltip/__globalState.ts
  src/tooltip/__keys.ts
  src/tooltip/index.ts
  src/tooltip/stories/TooltipBasic.component.tsx
  src/tooltip/stories/TooltipBasic.css
  src/tooltip/stories/TooltipBasic.stories.tsx
  src/tooltip/stories/TooltipCustomAnchor.component.tsx
  src/tooltip/stories/TooltipCustomAnchor.css
  src/tooltip/stories/TooltipCustomAnchor.stories.tsx
  src/tooltip/stories/TooltipCustomContent.component.tsx
  src/tooltip/stories/TooltipCustomContent.css
  src/tooltip/stories/TooltipCustomContent.stories.tsx
  src/tooltip/stories/TooltipCustomDuration.component.tsx
  src/tooltip/stories/TooltipCustomDuration.css
  src/tooltip/stories/TooltipCustomDuration.stories.tsx
  src/tooltip/stories/TooltipPositions.component.tsx
  src/tooltip/stories/TooltipPositions.css
  src/tooltip/stories/TooltipPositions.stories.tsx
Due: prettier --write, yarn lint

refactor(tooltip): ♻️ update tooltip effect deps
  src/tooltip/TooltipReference.ts
  src/tooltip/TooltipState.ts
  src/tooltip/TooltipTrigger.ts
Due: prettier --write, yarn lint

feat(disclosure): ✨ added transition support along with animation
  package.json
  src/dialog/stories/DialogBasic.component.tsx
  src/dialog/stories/DialogBasic.css
  src/disclosure/DisclosureContent.tsx
  src/disclosure/__keys.ts
  src/disclosure/stories/DisclosureBasic.component.tsx
  src/disclosure/stories/DisclosureBasic.css
  src/disclosure/stories/DisclosureHorizontal.component.tsx
  src/drawer/Drawer.ts
  src/drawer/DrawerBackdrop.ts
  src/drawer/DrawerCloseButton.ts
  src/drawer/DrawerDisclosure.tsx
  src/drawer/DrawerState.ts
  src/drawer/__keys.ts
  src/drawer/index.ts
  src/drawer/stories/DrawerBasic.component.tsx
  src/drawer/stories/DrawerBasic.stories.tsx
  src/index.ts
  src/popover/Popover.tsx
  src/popover/PopoverState.ts
  src/popover/__keys.ts
  src/popover/index.ts
  src/popover/popper-core.ts
  src/popover/rect.ts
  src/popover/stories/PopoverBasic.component.tsx
  src/popover/stories/PopoverBasic.stories.tsx
  src/popover/stories/PopoverCollision.component.tsx
  src/popover/useRect.ts
  src/popover/useSize.ts
  src/tooltip/stories/TooltipBasic.component.tsx
  src/tooltip/stories/TooltipCustomAnchor.component.tsx
  src/tooltip/stories/TooltipCustomContent.component.tsx
  src/tooltip/stories/TooltipCustomDuration.component.tsx
  src/tooltip/stories/TooltipPositions.component.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

refactor(popover): 🏷️ udpate types for popover arrow
  src/popover/PopoverArrow.tsx
Due: prettier --write, yarn lint

refactor(animation): ♻️ organize & fix dialog present bug with transition
  src/dialog/stories/DialogBasic.component.tsx
  src/dialog/stories/DialogBasic.css
  src/disclosure/DisclosureContent.tsx
  src/disclosure/__keys.ts
  src/disclosure/helpers.ts
  src/drawer/Drawer.ts
  src/presence/Presence.ts
  src/presence/PresenceChildren.tsx
  src/presence/__keys.ts
  src/presence/index.ts
  src/presence/stories/PresenceAnimated.component.tsx
  src/presence/stories/PresenceAnimated.css
  src/presence/stories/PresenceAnimated.stories.tsx
  src/presence/stories/PresenceBasic.component.tsx
  src/presence/stories/PresenceBasic.stories.tsx
  src/tooltip/stories/TooltipBasic.component.tsx
  src/tooltip/stories/TooltipBasic.css
  src/utils/index.ts
  src/utils/useAnimationPresence/helpers.tsx
  src/utils/useAnimationPresence/index.ts
  src/utils/useAnimationPresence/useAnimationPresence.tsx
Due: prettier --write, yarn lint

refactor(disclosure): ♻️ rename animation & transition to be unique
  package.json
  src/dialog/stories/DialogBasic.component.tsx
  src/disclosure/DisclosureContent.tsx
  src/disclosure/__keys.ts
  src/disclosure/stories/DisclosureBasic.component.tsx
  src/disclosure/stories/DisclosureHorizontal.component.tsx
  src/drawer/stories/DrawerBasic.component.tsx
  src/index.ts
  src/popover/stories/PopoverBasic.component.tsx
  src/tooltip/stories/TooltipBasic.component.tsx
  src/tooltip/stories/TooltipCustomAnchor.component.tsx
  src/tooltip/stories/TooltipCustomContent.component.tsx
  src/tooltip/stories/TooltipCustomDuration.component.tsx
  src/tooltip/stories/TooltipPositions.component.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

chore(deps): ⬆️ update dev dependencies (minor)
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ upgrade prod & minor dev deps
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ upgrade prod & minor dev deps (#272)
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

🚀 Release v0.8.0
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update dependency lint-staged to v12.1.2
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

fix(disclosure): 🐛 add mount & unmount start callback
  src/disclosure/DisclosureContent.tsx
  src/disclosure/__keys.ts
  src/disclosure/stories/DisclosureBasic.component.tsx
Due: prettier --write, yarn lint

🚀 Release v0.8.1
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

fix(disclosure): 🐛 add collapse for showmore & refactor presence
  package.json
  src/dialog/helpers/useDisclosureRef.ts
  src/dialog/helpers/useFocusOnHide.ts
  src/dialog/helpers/useFocusOnShow.ts
  src/dialog/stories/DialogBasic.component.tsx
  src/disclosure/DisclosureCollapseContent.tsx
  src/disclosure/DisclosureContent.tsx
  src/disclosure/__keys.ts
  src/disclosure/helpers.ts
  src/disclosure/index.ts
  src/disclosure/stories/DisclosureBasic.component.tsx
  src/disclosure/stories/DisclosureCollapseHorizontal.component.tsx
  src/disclosure/stories/DisclosureCollapseHorizontal.stories.tsx
  src/disclosure/stories/DisclosureCollapseVertical.component.tsx
  src/disclosure/stories/DisclosureCollapseVertical.stories.tsx
  src/disclosure/stories/DisclosureHorizontal.component.tsx
  src/disclosure/stories/DisclosureHorizontal.css
  src/drawer/stories/DrawerBasic.component.tsx
  src/tooltip/stories/TooltipBasic.component.tsx
  src/utils/index.ts
  src/utils/useAnimationPresence/helpers.tsx
  src/utils/useAnimationPresence/index.ts
  src/utils/useAnimationPresence/useAnimationPresence.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

🚀 Release v0.8.2
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update dependency webpack to v5.64.3
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

refactor(slider): ♻️ update slider state & track handlers
  package.json
  src/number-input/__keys.ts
  src/slider/SliderBaseState.ts
  src/slider/SliderGroup.ts
  src/slider/SliderLabel.ts
  src/slider/SliderOutput.ts
  src/slider/SliderState.ts
  src/slider/SliderTrack.ts
  src/slider/__keys.ts
  src/slider/__tests__/MultiSlider.test.tsx
  src/slider/__tests__/Slider.test.tsx
  src/slider/index.ts
  src/slider/stories/SliderBasic.component.tsx
  src/utils/index.ts
  src/utils/useControlledState.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

feat(slider): ✨ use react spectrum slider
  .storybook/preview-body.html
  .storybook/preview-head.html
  package.json
  src/slider/SliderBaseState.ts
  src/slider/SliderGroup.ts
  src/slider/SliderInput.ts
  src/slider/SliderLabel.ts
  src/slider/SliderOutput.ts
  src/slider/SliderState.ts
  src/slider/SliderThumb.ts
  src/slider/SliderThumbState.ts
  src/slider/SliderTrack.ts
  src/slider/__keys.ts
  src/slider/__tests__/Slider.test.tsx
  src/slider/__tests__/SliderAllInOne.test.tsx
  src/slider/index.ts
  src/slider/stories/SliderAllInOne.component.tsx
  src/slider/stories/SliderAllInOne.stories.tsx
  src/slider/stories/SliderBasic.component.tsx
  src/slider/stories/SliderBasic.css
  src/slider/stories/SliderBasic.stories.tsx
  src/slider/stories/SliderMulti.component.tsx
  src/slider/stories/SliderMulti.stories.tsx
  src/slider/stories/SliderRange.component.tsx
  src/slider/stories/SliderRange.stories.tsx
  src/slider/stories/SliderSingleOrigin.component.tsx
  src/slider/stories/SliderSingleOrigin.stories.tsx
  src/slider/stories/SliderSingleReversed.component.tsx
  src/slider/stories/SliderSingleReversed.stories.tsx
  src/slider/stories/SliderSingleVertical.component.tsx
  src/slider/stories/SliderSingleVertical.stories.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

fix(aria): 🐛 fix aria issues in stories
  src/slider/SliderThumbState.ts
  src/slider/SliderTrack.ts
  src/slider/stories/SliderAllInOne.component.tsx
  src/slider/stories/SliderAllInOne.stories.tsx
  src/slider/stories/SliderBasic.component.tsx
  src/slider/stories/SliderMulti.stories.tsx
  src/slider/stories/SliderRange.component.tsx
  src/slider/stories/SliderRange.stories.tsx
  src/slider/stories/SliderSingle.component.tsx
  src/slider/stories/SliderSingle.stories.tsx
  src/slider/stories/SliderSingleOrigin.component.tsx
  src/slider/stories/SliderSingleReversed.component.tsx
  src/slider/stories/SliderSingleVertical.component.tsx
Due: prettier --write, yarn lint

docs(thumb): 💄 invisible thumb with box shadow
  src/slider/stories/SliderBasic.css
Due: prettier --write

refactor(slider): ♻️ update slider state & track handlers (#278)
  .storybook/preview-body.html
  .storybook/preview-head.html
  package.json
  src/number-input/__keys.ts
  src/slider/SliderBaseState.ts
  src/slider/SliderGroup.ts
  src/slider/SliderInput.ts
  src/slider/SliderLabel.ts
  src/slider/SliderOutput.ts
  src/slider/SliderState.ts
  src/slider/SliderThumb.ts
  src/slider/SliderThumbState.ts
  src/slider/SliderTrack.ts
  src/slider/__keys.ts
  src/slider/__tests__/Slider.test.tsx
  src/slider/__tests__/SliderAllInOne.test.tsx
  src/slider/index.ts
  src/slider/stories/SliderAllInOne.component.tsx
  src/slider/stories/SliderAllInOne.stories.tsx
  src/slider/stories/SliderBasic.component.tsx
  src/slider/stories/SliderBasic.css
  src/slider/stories/SliderMulti.stories.tsx
  src/slider/stories/SliderRange.component.tsx
  src/slider/stories/SliderRange.stories.tsx
  src/slider/stories/SliderSingle.component.tsx
  src/slider/stories/SliderSingle.stories.tsx
  src/slider/stories/SliderSingleOrigin.component.tsx
  src/slider/stories/SliderSingleOrigin.stories.tsx
  src/slider/stories/SliderSingleReversed.component.tsx
  src/slider/stories/SliderSingleReversed.stories.tsx
  src/slider/stories/SliderSingleVertical.component.tsx
  src/slider/stories/SliderSingleVertical.stories.tsx
  src/utils/index.ts
  src/utils/useControlledState.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

style(prettier): 💄 fix the format for new prettier version
  src/disclosure/stories/DisclosureCollapseHorizontal.component.tsx
  src/disclosure/stories/DisclosureCollapseVertical.component.tsx
  src/disclosure/stories/DisclosureHorizontal.component.tsx
  src/slider/stories/SliderSingleReversed.component.tsx
  src/slider/stories/SliderSingleVertical.component.tsx
  src/toast/stories/ToastReactSpring.component.tsx
  src/toast/stories/Utils.component.tsx
  src/tooltip/stories/TooltipCustomAnchor.component.tsx
  src/tooltip/stories/TooltipCustomContent.component.tsx
  src/tooltip/stories/TooltipCustomDuration.component.tsx
Due: prettier --write, yarn lint

🚀 Release v0.9.0
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

chore(package): 🏷️ remove unused deps
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

🚀 Release v0.9.1
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

refactor(slider): ♻️ update slider state handling for UI
  .storybook/main.js
  src/number-input/__keys.ts
  src/slider/SliderBaseState.ts
  src/slider/SliderState.ts
  src/slider/SliderThumbState.ts
  src/slider/__keys.ts
  src/slider/stories/SliderAllInOne.component.tsx
  src/slider/stories/SliderBasic.component.tsx
  src/slider/stories/SliderMulti.component.tsx
  src/slider/stories/SliderRange.component.tsx
  src/slider/stories/SliderSingle.component.tsx
  src/slider/stories/SliderSingleOrigin.component.tsx
  src/slider/stories/SliderSingleReversed.component.tsx
  src/slider/stories/SliderSingleVertical.component.tsx
Due: prettier --write, yarn lint

test(slider): ✅ fix slider tests
  src/slider/__tests__/Slider.test.tsx
  src/slider/__tests__/SliderAllInOne.test.tsx
Due: prettier --write, yarn lint

refactor(slider): ♻️ update slider state handling for UI (#282)
  .storybook/main.js
  src/number-input/__keys.ts
  src/slider/SliderBaseState.ts
  src/slider/SliderState.ts
  src/slider/SliderThumbState.ts
  src/slider/__keys.ts
  src/slider/__tests__/Slider.test.tsx
  src/slider/__tests__/SliderAllInOne.test.tsx
  src/slider/stories/SliderAllInOne.component.tsx
  src/slider/stories/SliderBasic.component.tsx
  src/slider/stories/SliderMulti.component.tsx
  src/slider/stories/SliderRange.component.tsx
  src/slider/stories/SliderSingle.component.tsx
  src/slider/stories/SliderSingleOrigin.component.tsx
  src/slider/stories/SliderSingleReversed.component.tsx
  src/slider/stories/SliderSingleVertical.component.tsx
Due: prettier --write, yarn lint

🚀 Release v0.9.2
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update dev dependencies (minor) to v6.4.3
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

Path conditions:
  prettier --write: any of: *.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn lint:package: any of: package.json
  yarn lint: any of: **/*.{js,jsx,ts,tsx}
