Repository adaptui/react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:package, yarn lint

.lintstagedrc.json:

{
  "*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "prettier --write",
    "git add"
  ],
  "package.json": ["yarn lint:package"],
  "**/*.{js,jsx,ts,tsx}": ["yarn lint"]
}

docs(meter): 📝 update meter examples
  docs-templates/meter.md
  docs/meter.md
  src/meter/stories/MeterBasic.component.tsx
  src/meter/stories/MeterBasic.css
  src/meter/stories/MeterBasic.stories.tsx
  src/meter/stories/MeterStyled.component.tsx
  src/meter/stories/MeterStyled.stories.tsx
Due: prettier --write, yarn lint

chore(deps): ⬆️ update react to 17
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update react to 17 (#179)
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

docs(example): 📝 simplify examples for docs (#177)
  README.md
  docs-templates/meter.md
  docs-templates/progress.md
  docs-templates/select.md
  docs-templates/slider.md
  docs-templates/toast.md
  docs/meter.md
  docs/progress.md
  docs/select.md
  docs/slider.md
  docs/timepicker.md
  docs/toast.md
  src/meter/stories/MeterBasic.component.tsx
  src/meter/stories/MeterBasic.css
  src/meter/stories/MeterBasic.stories.tsx
  src/meter/stories/MeterStyled.component.tsx
  src/meter/stories/MeterStyled.stories.tsx
  src/progress/stories/ProgressBasic.component.tsx
  src/progress/stories/ProgressBasic.css
  src/progress/stories/ProgressBasic.stories.tsx
  src/timepicker/stories/TimePicker.component.tsx
  src/timepicker/stories/TimePicker.stories.tsx
  src/timepicker/stories/Utils.component.tsx
  src/toast/stories/ToastBasic.component.tsx
  src/toast/stories/ToastBasic.stories.tsx
  src/toast/stories/ToastCSSAnimated.stories.tsx
  src/toast/stories/ToastReactSpring.stories.tsx
  src/toast/stories/ToastStyled.component.tsx
  src/toast/stories/ToastStyled.css
  src/toast/stories/ToastStyled.stories.tsx
  src/toast/stories/Utils.component.tsx
Due: prettier --write, yarn lint

chore: simplify examples, extract duplicate code (#178)
  docs-templates/calendar.md
  docs/calendar.md
  docs/datepicker.md
  src/calendar/CalendarState.ts
  src/calendar/RangeCalendarState.ts
  src/calendar/stories/CalendarBase.component.tsx
  src/calendar/stories/CalendarBase.stories.tsx
  src/calendar/stories/CalendarRange.component.tsx
  src/calendar/stories/CalendarRange.stories.tsx
  src/calendar/stories/Utils.component.tsx
  src/datepicker/stories/DatePickerBase.component.tsx
  src/datepicker/stories/DatePickerBase.stories.tsx
  src/datepicker/stories/DatePickerRange.component.tsx
  src/datepicker/stories/DatePickerRange.stories.tsx
  src/datepicker/stories/Utils.component.tsx
Due: prettier --write, yarn lint

chore(toast): improved toastWrapper types
  docs/toast.md
  src/toast/ToastProvider.tsx
Due: prettier --write, yarn lint

docs(toast): improved toast docs
  docs-templates/toast.md
  docs/toast.md
Due: prettier --write

chore(toast): improved toastWrapper types (#180)
  docs/toast.md
  src/toast/ToastProvider.tsx
Due: prettier --write, yarn lint

docs(toast): improved toast docs (#181)
  docs-templates/toast.md
  docs/toast.md
Due: prettier --write

chore: updated component aria label warning docs links
  src/breadcrumbs/Breadcrumbs.ts
  src/number-input/NumberInput.ts
  src/progress/Progress.ts
  src/select/SelectList.ts
  src/select/SelectPopover.ts
Due: prettier --write, yarn lint

chore: fix capitalization
  src/number-input/NumberInput.ts
  src/progress/Progress.ts
  src/select/SelectList.ts
  src/select/SelectPopover.ts
Due: prettier --write, yarn lint

chore: updated component aria-label warning reference links (#182)
  src/breadcrumbs/Breadcrumbs.ts
  src/number-input/NumberInput.ts
  src/progress/Progress.ts
  src/select/SelectList.ts
  src/select/SelectPopover.ts
Due: prettier --write, yarn lint

docs(docgen): 📝 use react-docs-typescript
  package.json
  scripts/builds/docstest.js
Due: prettier --write, yarn lint:package, yarn lint

test(number-input): ✅ rename __test__ to __tests__
  src/number-input/__tests__/NumberInput.test.tsx
  src/number-input/__tests__/useSpinner.test.tsx
  src/number-input/__tests__/utils.test.ts
Due: prettier --write, yarn lint

docs: changed props list to props table
  docs/accordion.md
  docs/breadcrumb.md
  docs/calendar.md
  docs/datepicker.md
  docs/drawer.md
  docs/link.md
  docs/meter.md
  docs/number-input.md
  docs/pagination.md
  docs/picker-base.md
  docs/progress.md
  docs/segment.md
  docs/select.md
  docs/slider.md
  docs/timepicker.md
  scripts/utils/inject-props.js
Due: prettier --write, yarn lint

docs: fixed table inside summary
  docs/accordion.md
  docs/breadcrumb.md
  docs/calendar.md
  docs/datepicker.md
  docs/drawer.md
  docs/link.md
  docs/meter.md
  docs/number-input.md
  docs/pagination.md
  docs/picker-base.md
  docs/progress.md
  docs/segment.md
  docs/select.md
  docs/slider.md
  docs/timepicker.md
  scripts/utils/inject-props.js
Due: prettier --write, yarn lint

chore: added proper line ending regex
  docs/meter.md
  docs/number-input.md
  docs/progress.md
  docs/select.md
  docs/slider.md
  scripts/utils/inject-props.js
Due: prettier --write, yarn lint

docs: fixed tables
  docs/accordion.md
  docs/calendar.md
  docs/datepicker.md
  docs/drawer.md
  docs/number-input.md
  docs/pagination.md
  docs/segment.md
  docs/select.md
  docs/timepicker.md
  scripts/utils/inject-props.js
Due: prettier --write, yarn lint

test(number-input): ✅ rename __test__ to __tests__ (#184)
  src/number-input/__tests__/NumberInput.test.tsx
  src/number-input/__tests__/useSpinner.test.tsx
  src/number-input/__tests__/utils.test.ts
Due: prettier --write, yarn lint

docs: timepicker docs fix
  docs/timepicker.md
  src/timepicker/TimePickerState.ts
Due: prettier --write, yarn lint

docs(tailwind): 📝 add tailwind support for adding egs
  .storybook/postcss.config.js
  .storybook/preview-body.html
  .storybook/preview-head.html
  package.json
  src/select/stories/SelectControlled.stories.tsx
  src/select/stories/SelectCustom.stories.tsx
  src/select/stories/SelectDynamic.stories.tsx
  src/select/stories/SelectFetch.stories.tsx
  src/select/stories/SelectMultiple.stories.tsx
  src/select/stories/SelectStyled.component.tsx
  src/select/stories/SelectStyled.css
  src/select/stories/SelectStyled.stories.tsx
  src/select/stories/SelectWindows.stories.tsx
  tailwind.config.js
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

test(aria): ✅ fix tests with role presentation
  src/segment/Segment.ts
  src/segment/__tests__/Segment.test.tsx
  src/segment/stories/Segment.component.tsx
Due: prettier --write, yarn lint

docs(state): 📝 fix state props on some components
  docs/accordion.md
  docs/breadcrumb.md
  docs/calendar.md
  docs/datepicker.md
  docs/drawer.md
  docs/link.md
  docs/meter.md
  docs/number-input.md
  docs/pagination.md
  docs/picker-base.md
  docs/progress.md
  docs/segment.md
  docs/select.md
  docs/slider.md
  docs/timepicker.md
  docs/toast.md
  scripts/utils/inject-props.js
  src/datepicker/DatePickerState.ts
  src/datepicker/DateRangePickerState.ts
  src/picker-base/PickerBaseState.ts
  src/segment/SegmentState.ts
Due: prettier --write, yarn lint

docs(storybook): 📝 add global css for tailwind utilities support
  .storybook/global.css
  .storybook/postcss.config.js
  .storybook/preview.tsx
  .storybook/webpack.config.js
  src/select/stories/SelectStyled.stories.tsx
Due: prettier --write, yarn lint

chore: added datepicker tailwind examples
  .storybook/global.css
  src/datepicker/stories/DatePickerStyled.stories.tsx
  src/datepicker/stories/styled/Calendar.tsx
  src/datepicker/stories/styled/DatePicker.component.tsx
  src/datepicker/stories/styled/RangeDatePicker.component.tsx
Due: prettier --write, yarn lint

docs: changed props list to props table (#185)
  docs/accordion.md
  docs/breadcrumb.md
  docs/calendar.md
  docs/datepicker.md
  docs/drawer.md
  docs/link.md
  docs/meter.md
  docs/number-input.md
  docs/pagination.md
  docs/picker-base.md
  docs/progress.md
  docs/segment.md
  docs/select.md
  docs/slider.md
  docs/timepicker.md
  docs/toast.md
  scripts/utils/inject-props.js
  src/datepicker/DatePickerState.ts
  src/datepicker/DateRangePickerState.ts
  src/picker-base/PickerBaseState.ts
  src/segment/SegmentState.ts
  src/timepicker/TimePickerState.ts
Due: prettier --write, yarn lint

chore: scoped datepicker styles
  .storybook/global.css
  src/datepicker/stories/styled/Calendar.tsx
  src/datepicker/stories/styled/DatePicker.component.tsx
  src/datepicker/stories/styled/RangeDatePicker.component.tsx
Due: prettier --write, yarn lint

chore: tailwind local styles
  .storybook/postcss.config.js
  .storybook/preview.tsx
  .storybook/webpack.config.js
  src/datepicker/stories/DatePickerStyled.stories.tsx
  src/select/stories/SelectStyled.stories.tsx
  tailwind/index.css
Due: prettier --write, yarn lint

docs(storybook): 📝 fix tailwind scopify issue
  .storybook/postcss.config.js
  src/datepicker/stories/DatePickerStyled.stories.tsx
  src/select/stories/SelectStyled.stories.tsx
Due: prettier --write, yarn lint

chore: tailwind datepicker chevron fix
  src/datepicker/stories/Utils.component.tsx
Due: prettier --write, yarn lint

docs(tailwind): 📝 add tailwind support & add examples (#186)
  .storybook/postcss.config.js
  .storybook/preview-body.html
  .storybook/preview-head.html
  package.json
  src/datepicker/stories/DatePickerStyled.stories.tsx
  src/datepicker/stories/Utils.component.tsx
  src/datepicker/stories/styled/Calendar.tsx
  src/datepicker/stories/styled/DatePicker.component.tsx
  src/datepicker/stories/styled/RangeDatePicker.component.tsx
  src/segment/Segment.ts
  src/segment/__tests__/Segment.test.tsx
  src/segment/stories/Segment.component.tsx
  src/select/stories/SelectControlled.stories.tsx
  src/select/stories/SelectCustom.stories.tsx
  src/select/stories/SelectDynamic.stories.tsx
  src/select/stories/SelectFetch.stories.tsx
  src/select/stories/SelectMultiple.stories.tsx
  src/select/stories/SelectStyled.component.tsx
  src/select/stories/SelectStyled.stories.tsx
  src/select/stories/SelectWindows.stories.tsx
  tailwind.config.js
  tailwind/index.css
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

fix(accordion): undefined discriminated union typeguard
  src/accordion/AccordionState.ts
Due: prettier --write, yarn lint

fix(accordion): undefined discriminated union typeguard (#187)
  src/accordion/AccordionState.ts
Due: prettier --write, yarn lint

chore: bump test packages & fixed tests
  package.json
  src/segment/__tests__/Segment.test.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

build(badge): 👷 add badges to csb links
  docs-templates/accordion.md
  docs-templates/breadcrumb.md
  docs-templates/calendar.md
  docs-templates/datepicker.md
  docs-templates/drawer.md
  docs-templates/link.md
  docs-templates/meter.md
  docs-templates/number-input.md
  docs-templates/pagination.md
  docs-templates/picker-base.md
  docs-templates/progress.md
  docs-templates/segment.md
  docs-templates/select.md
  docs-templates/slider.md
  docs-templates/timepicker.md
  docs-templates/toast.md
  docs/accordion.md
  docs/breadcrumb.md
  docs/calendar.md
  docs/code-base-overview.md
  docs/datepicker.md
  docs/drawer.md
  docs/link.md
  docs/meter.md
  docs/number-input.md
  docs/pagination.md
  docs/picker-base.md
  docs/progress.md
  docs/segment.md
  docs/select.md
  docs/slider.md
  docs/timepicker.md
  docs/toast.md
  scripts/utils/inject-csb-links.js
  scripts/utils/inject-props.js
  src/segment/stories/Segment.component.tsx
Due: prettier --write, yarn lint

chore: bump test packages & fixed tests (#188)
  package.json
  src/segment/__tests__/Segment.test.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

build(badge): 👷 add badges to csb links (#189)
  docs-templates/accordion.md
  docs-templates/breadcrumb.md
  docs-templates/calendar.md
  docs-templates/datepicker.md
  docs-templates/drawer.md
  docs-templates/link.md
  docs-templates/meter.md
  docs-templates/number-input.md
  docs-templates/pagination.md
  docs-templates/picker-base.md
  docs-templates/progress.md
  docs-templates/segment.md
  docs-templates/select.md
  docs-templates/slider.md
  docs-templates/timepicker.md
  docs-templates/toast.md
  docs/accordion.md
  docs/breadcrumb.md
  docs/calendar.md
  docs/code-base-overview.md
  docs/datepicker.md
  docs/drawer.md
  docs/link.md
  docs/meter.md
  docs/number-input.md
  docs/pagination.md
  docs/picker-base.md
  docs/progress.md
  docs/segment.md
  docs/select.md
  docs/slider.md
  docs/timepicker.md
  docs/toast.md
  scripts/utils/inject-csb-links.js
  scripts/utils/inject-props.js
  src/segment/stories/Segment.component.tsx
Due: prettier --write, yarn lint

test: fix timepicker tests
  src/timepicker/__tests__/TimePicker.test.tsx
  src/timepicker/__tests__/utils.test.ts
Due: prettier --write, yarn lint

fix(progress): 🐛 remove value state
  src/progress/ProgressState.ts
  src/progress/stories/CircularProgress.component.tsx
  src/progress/stories/LinearProgress.component.tsx
Due: prettier --write, yarn lint

chore(deps): ⬆️ update project & dev deps
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package
