Repository adaptui/react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:package, yarn lint

chore(deps): ⬆️ update dev dependencies (minor)
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

fix(i18n): 🐛 numbers format for celsius patch
  package.json
  patches/@internationalized+number+3.0.2.patch
  yarn.lock
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update dev deps
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

🚀 Release v0.11.0
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update dependency pinst to v3
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

feat(breadcrumb): ✨ add breadcrumb & tailwind plugins
  .storybook/preview.js
  package.json
  postcss.config.js
  src-v2/breakcrumbs/breadcrumb-link.ts
  src-v2/breakcrumbs/breadcrumbs.ts
  src-v2/breakcrumbs/index.ts
  src-v2/breakcrumbs/stories/BreadcrumbsBasic.component.tsx
  src-v2/breakcrumbs/stories/BreadcrumbsBasic.css
  src-v2/breakcrumbs/stories/BreadcrumbsBasic.stories.tsx
  src-v2/index.ts
  src-v2/link/link.ts
  src-v2/link/stories/LinkBasic.stories.tsx
  src-v2/link/stories/LinkSpan.stories.tsx
  src/datepicker/stories/tailwind.css
  tailwind.config.js
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

chore(deps): ⬆️ update actions/setup-node action to v3
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier --write

feat(accordion): ✨ add accordion components
  src-v2/accordion/__utils.ts
  src-v2/accordion/accordion-content.ts
  src-v2/accordion/accordion-disclosure.ts
  src-v2/accordion/accordion-state.ts
  src-v2/accordion/accordion.tsx
  src-v2/accordion/index.ts
  src-v2/accordion/stories/AccordionBasic.component.tsx
  src-v2/accordion/stories/AccordionBasic.stories.tsx
  src-v2/breakcrumbs/breadcrumb-link.ts
  src-v2/breakcrumbs/breadcrumbs.ts
  src-v2/index.ts
  src-v2/link/link.ts
Due: prettier --write, yarn lint

feat(accordion): ✨ add more features
  package.json
  src-v2/accordion/accordion-content.ts
  src-v2/accordion/accordion-disclosure.ts
  src-v2/accordion/accordion-panel.ts
  src-v2/accordion/accordion-state.ts
  src-v2/accordion/accordion.tsx
  src-v2/accordion/index.ts
  src-v2/accordion/stories/AccordionBasic.component.tsx
  src-v2/accordion/stories/AccordionBasic.stories.tsx
  src-v2/utils/hooks.ts
  src-v2/utils/index.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

chore(deps): ⬆️ update actions/checkout action to v3
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier --write

feat(accordion): ✨ finish allowMultiple feature into the single hook
  src-v2/accordion/__utils.ts
  src-v2/accordion/accordion-disclosure.ts
  src-v2/accordion/accordion-panel.ts
  src-v2/accordion/accordion-state.ts
  src-v2/accordion/stories/AccordionMultiple.component.tsx
  src-v2/accordion/stories/AccordionMultiple.stories.tsx
  src-v2/accordion/stories/AccordionStyled.component.tsx
  src-v2/accordion/stories/AccordionStyled.css
  src-v2/accordion/stories/AccordionStyled.stories.tsx
Due: prettier --write, yarn lint

chore(accordion): 🐛 docs panel content
  src-v2/accordion/stories/AccordionBasic.component.tsx
  src-v2/accordion/stories/AccordionMultiple.component.tsx
  src-v2/accordion/stories/AccordionStyled.component.tsx
Due: prettier --write, yarn lint

chore(deps): ⬆️ update dev dependencies (major)
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update actions/cache action to v3
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier --write

refactor(accordion): ♻️ refactored the repeated logic
  src-v2/accordion/__utils.ts
  src-v2/accordion/accordion-disclosure.ts
  src-v2/accordion/accordion-panel.ts
  src-v2/accordion/accordion-state.ts
  yarn.lock
Due: prettier --write, yarn lint

feat(disclosure): ✨ added collapsible content
  src-v2/disclosure/__utils.ts
  src-v2/disclosure/disclosure-collapsible-content.ts
  src-v2/disclosure/index.ts
  src-v2/disclosure/stories/DisclosureHorizontalCollapseBasic.component.tsx
  src-v2/disclosure/stories/DisclosureHorizontalCollapseBasic.stories.tsx
  src-v2/disclosure/stories/DisclosureVerticalCollapseBasic.component.tsx
  src-v2/disclosure/stories/DisclosureVerticalCollapseBasic.stories.tsx
  src-v2/index.ts
  src/datepicker/stories/tailwind.css
  src/dialog/stories/DialogBasic.css
  src/disclosure/stories/DisclosureBasic.css
  src/disclosure/stories/DisclosureHorizontal.css
Due: prettier --write, yarn lint

chore(deps): ⬆️ update ariakit
  .yalc/ariakit-utils/package.json
  .yalc/ariakit-utils/ts/tsconfig.tsbuildinfo
  .yalc/ariakit-utils/umd/ariakit-utils.min.js
  .yalc/ariakit-utils/yalc.sig
  .yalc/ariakit/cjs/form/form-field.js
  .yalc/ariakit/cjs/form/form-label.js
  .yalc/ariakit/cjs/form/form.js
  .yalc/ariakit/cjs/select/select.js
  .yalc/ariakit/esm/form/form-field.js
  .yalc/ariakit/esm/form/form-label.js
  .yalc/ariakit/esm/form/form.js
  .yalc/ariakit/esm/select/select.js
  .yalc/ariakit/package.json
  .yalc/ariakit/src/composite/composite-state.ts
  .yalc/ariakit/src/disclosure/__examples__/disclosure/test.tsx
  .yalc/ariakit/src/form/__examples__/form-select/index.tsx
  .yalc/ariakit/src/form/__examples__/form-select/select.tsx
  .yalc/ariakit/src/form/__examples__/form-select/style.css
  .yalc/ariakit/src/form/__examples__/form-select/test.tsx
  .yalc/ariakit/src/form/__examples__/form/style.css
  .yalc/ariakit/src/form/__examples__/form/test.tsx
  .yalc/ariakit/src/form/form-field.ts
  .yalc/ariakit/src/form/form-label.ts
  .yalc/ariakit/src/form/form.ts
  .yalc/ariakit/src/radio/__examples__/radio/test.tsx
  .yalc/ariakit/src/select/select.tsx
  .yalc/ariakit/src/tab/__examples__/tab-react-router/test.tsx
  .yalc/ariakit/src/tooltip/__examples__/tooltip/test.tsx
  .yalc/ariakit/ts/composite/composite-state.d.ts
  .yalc/ariakit/ts/form/form-field.d.ts
  .yalc/ariakit/ts/select/select.d.ts
  .yalc/ariakit/ts/tsconfig.tsbuildinfo
  .yalc/ariakit/umd/ariakit.min.js
  .yalc/ariakit/yalc.sig
  yalc.lock
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

feat(components): ✨ added drawer & meter
  src-v2/dialog/drawer.ts
  src-v2/dialog/index.ts
  src-v2/dialog/stories/DrawerBasic.component.tsx
  src-v2/dialog/stories/DrawerBasic.css
  src-v2/dialog/stories/DrawerBasic.stories.tsx
  src-v2/index.ts
  src-v2/meter/__utils.ts
  src-v2/meter/index.ts
  src-v2/meter/meter-state.ts
  src-v2/meter/meter.tsx
  src-v2/meter/stories/MeterBasic.component.tsx
  src-v2/meter/stories/MeterBasic.css
  src-v2/meter/stories/MeterBasic.stories.tsx
  src-v2/meter/stories/MeterStyled.component.tsx
  src-v2/meter/stories/MeterStyled.stories.tsx
Due: prettier --write, yarn lint

feat(component): ✨ add progresses
  src-v2/index.ts
  src-v2/meter/__utils.ts
  src-v2/progress/__utils.ts
  src-v2/progress/index.ts
  src-v2/progress/progress-state.ts
  src-v2/progress/progress.tsx
  src-v2/progress/stories/CircularProgress.component.tsx
  src-v2/progress/stories/CircularProgress.stories.tsx
  src-v2/progress/stories/LinearProgress.component.tsx
  src-v2/progress/stories/LinearProgress.stories.tsx
  src-v2/progress/stories/ProgressBasic.component.tsx
  src-v2/progress/stories/ProgressBasic.css
  src-v2/progress/stories/ProgressBasic.stories.tsx
Due: prettier --write, yarn lint

chore(deps): ⬆️ update react monorepo to v18
  package.json
Due: prettier --write, yarn lint:package

feat(toast): ✨ add v2 component
  src-v2/index.ts
  src-v2/toast/CreateToastContext.tsx
  src-v2/toast/CreateToastContext.types.ts
  src-v2/toast/ToastState.ts
  src-v2/toast/ToastTypes.ts
  src-v2/toast/__keys.ts
  src-v2/toast/__tests__/ToastState.test.tsx
  src-v2/toast/helpers/index.ts
  src-v2/toast/index.ts
  src-v2/toast/stories/ToastBasic.component.tsx
  src-v2/toast/stories/ToastBasic.css
  src-v2/toast/stories/ToastBasic.stories.tsx
  src-v2/toast/stories/ToastCSSAnimated.component.tsx
  src-v2/toast/stories/ToastCSSAnimated.stories.tsx
  src-v2/toast/stories/ToastCSSTransition.component.tsx
  src-v2/toast/stories/ToastCSSTransition.stories.tsx
  src-v2/toast/stories/ToastReactSpring.component.tsx
  src-v2/toast/stories/ToastReactSpring.stories.tsx
  src-v2/toast/stories/Utils.component.tsx
  src-v2/toast/useToastTimer.tsx
Due: prettier --write, yarn lint

feat(calendar): ✨ finished base & range calendars
  package.json
  src-v2/calendar/calendar-base-state.ts
  src-v2/calendar/calendar-cell-button.ts
  src-v2/calendar/calendar-cell-state.ts
  src-v2/calendar/calendar-cell.ts
  src-v2/calendar/calendar-grid-state.ts
  src-v2/calendar/calendar-grid.ts
  src-v2/calendar/calendar-next-button.ts
  src-v2/calendar/calendar-prev-button.ts
  src-v2/calendar/calendar-state.ts
  src-v2/calendar/calendar-title.ts
  src-v2/calendar/calendar.ts
  src-v2/calendar/index.ts
  src-v2/calendar/range-calendar-base-state.ts
  src-v2/calendar/range-calendar-state.ts
  src-v2/calendar/range-calendar.ts
  src-v2/calendar/stories/CalendarBasic.component.tsx
  src-v2/calendar/stories/CalendarBasic.css
  src-v2/calendar/stories/CalendarBasic.stories.tsx
  src-v2/calendar/stories/CalendarRange.component.tsx
  src-v2/calendar/stories/CalendarRange.css
  src-v2/calendar/stories/CalendarRange.stories.tsx
  src-v2/calendar/stories/Utils.component.tsx
  src-v2/index.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

feat(datepicker): ✨ working on datepicker
  package.json
  src-v2/datepicker/date-segment.ts
  src-v2/datepicker/datefield-base-state.ts
  src-v2/datepicker/datefield-state.ts
  src-v2/datepicker/datefield.ts
  src-v2/datepicker/datepicker-base-state.ts
  src-v2/datepicker/datepicker-button.ts
  src-v2/datepicker/datepicker-group.ts
  src-v2/datepicker/datepicker-label.ts
  src-v2/datepicker/datepicker-state.ts
  src-v2/datepicker/index.ts
  src-v2/datepicker/stories/DatePickerBasic.component.tsx
  src-v2/datepicker/stories/DatePickerBasic.css
  src-v2/datepicker/stories/DatePickerBasic.stories.tsx
  src-v2/datepicker/stories/Utils.component.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

Path conditions:
  prettier --write: any of: *.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn lint:package: any of: package.json
  yarn lint: any of: **/*.{js,jsx,ts,tsx}
