Repository adaptui/react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:package, yarn lint

docs(story): 📝 update csb template for utils
  scripts/create-preview-tabs.ts
  src/select/stories/Select.component.tsx
  src/select/stories/SelectControlled.component.tsx
  src/select/stories/SelectControlled.stories.tsx
  src/select/stories/SelectCustom.component.tsx
  src/select/stories/SelectCustom.stories.tsx
  src/select/stories/SelectDynamic.component.tsx
  src/select/stories/SelectDynamic.stories.tsx
  src/select/stories/SelectFetch.component.tsx
  src/select/stories/SelectFetch.stories.tsx
  src/select/stories/SelectMultiple.component.tsx
  src/select/stories/SelectMultiple.stories.tsx
  src/select/stories/SelectVirtual.component.tsx
  src/select/stories/SelectVirtual.stories.tsx
  src/select/stories/SelectWindows.component.tsx
  src/select/stories/SelectWindows.stories.tsx
  src/select/stories/Utils.component.tsx
  src/toast/stories/ToastBasic.component.tsx
  src/toast/stories/ToastBasic.stories.tsx
  src/toast/stories/ToastCSSAnimated.component.tsx
  src/toast/stories/ToastCSSAnimated.stories.tsx
  src/toast/stories/ToastReactSpring.component.tsx
  src/toast/stories/ToastReactSpring.stories.tsx
  src/toast/stories/Utils.component.tsx
Due: prettier --write, yarn lint

chore(deps): ➖ remove uuid types
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

test(select): added test for select component
  src/select/Select.ts
  src/select/__tests__/Select.test.tsx
  src/select/__tests__/__snapshots__/Select.test.tsx.snap
Due: prettier --write, yarn lint

test(select): added typeahead tests
  src/select/Select.ts
  src/select/__tests__/Select.test.tsx
Due: prettier --write, yarn lint

chore: window.setTimeout -> setTimeout
  src/select/Select.ts
Due: prettier --write, yarn lint

chore: fix comment
  src/select/Select.ts
  src/select/__tests__/Select.test.tsx
Due: prettier --write, yarn lint

build(reakit): 📌 make reakit as a peer deps (#152)
  CHANGELOG.md
  package.json
  scripts/create-preview-tabs.ts
  src/accordion/stories/AccordionBasic.component.tsx
  src/accordion/stories/AccordionBasic.stories.tsx
  src/select/stories/Select.component.tsx
  src/select/stories/SelectControlled.component.tsx
  src/select/stories/SelectControlled.stories.tsx
  src/select/stories/SelectCustom.component.tsx
  src/select/stories/SelectCustom.stories.tsx
  src/select/stories/SelectDynamic.component.tsx
  src/select/stories/SelectDynamic.stories.tsx
  src/select/stories/SelectFetch.component.tsx
  src/select/stories/SelectFetch.stories.tsx
  src/select/stories/SelectMultiple.component.tsx
  src/select/stories/SelectMultiple.stories.tsx
  src/select/stories/SelectVirtual.component.tsx
  src/select/stories/SelectVirtual.stories.tsx
  src/select/stories/SelectWindows.component.tsx
  src/select/stories/SelectWindows.stories.tsx
  src/select/stories/Utils.component.tsx
  src/toast/stories/ToastBasic.component.tsx
  src/toast/stories/ToastBasic.stories.tsx
  src/toast/stories/ToastCSSAnimated.component.tsx
  src/toast/stories/ToastCSSAnimated.stories.tsx
  src/toast/stories/ToastReactSpring.component.tsx
  src/toast/stories/ToastReactSpring.stories.tsx
  src/toast/stories/Utils.component.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

test(select): added multi select tests
  src/select/__tests__/MultiSelect.test.tsx
Due: prettier --write, yarn lint

docs(readme): 📝 update readme with get started docs
  README.md
Due: prettier --write

docs(readme): 📝 remove code coverage badge
  README.md
Due: prettier --write

chore(accordion): refactored & cleaned up accordion types (#153)
  src/accordion/AccordionState.ts
  src/accordion/types.ts
Due: prettier --write, yarn lint

chore: moduleNameWrapper for renderless-component in jest
  jest.config.ts
  src/select/stories/SelectMultiple.component.tsx
Due: prettier --write, yarn lint

chore: try fix
  src/select/stories/SelectMultiple.component.tsx
Due: prettier --write, yarn lint

chore: update import path
  src/select/stories/Select.component.tsx
  src/select/stories/SelectControlled.component.tsx
  src/select/stories/SelectCustom.component.tsx
  src/select/stories/SelectDynamic.component.tsx
  src/select/stories/SelectFetch.component.tsx
  src/select/stories/SelectVirtual.component.tsx
  src/select/stories/SelectWindows.component.tsx
Due: prettier --write, yarn lint

docs: add @navin-moorthy as a contributor
  .all-contributorsrc
  README.md
Due: prettier --write

docs: add @anuraghazra as a contributor
  .all-contributorsrc
  README.md
Due: prettier --write

docs: add @sandeepprabhakaran as a contributor
  .all-contributorsrc
  README.md
Due: prettier --write

chore(contributor): 📝 add all contributors of the project
  README.md
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

docs(accordion): 📝 add docs for link, breadcrumb & accordion
  README.md
  src/accordion/Accordion.ts
  src/accordion/AccordionPanel.ts
Due: prettier --write, yarn lint

chore(accordion): ✅ update snapshot for accordion
  src/accordion/__tests__/__snapshots__/Accordion.test.tsx.snap
Due: none

chore: added some emojis
  README.md
Due: prettier --write

docs: added docs generation script
  README.md
  docs-templates/Accordion.md
  docs-templates/Breadcrumb.md
  docs-templates/Link.md
  docs/Accordion.md
  docs/Breadcrumb.md
  docs/Link.md
  package.json
  scripts/docs-generator.js
  scripts/fsUtils.js
  scripts/generate-js.js
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

test(select): added select tests (#154)
  jest.config.ts
  src/select/__tests__/MultiSelect.test.tsx
  src/select/__tests__/Select.test.tsx
  src/select/__tests__/__snapshots__/Select.test.tsx.snap
Due: prettier --write, yarn lint

docs: change readme doc layout
  docs-templates/Accordion.md
  docs-templates/Breadcrumb.md
  docs-templates/Link.md
  docs/Accordion.md
  docs/Breadcrumb.md
  docs/Link.md
  scripts/docs-generator.js
Due: prettier --write, yarn lint

fix(select): 🐛 focus the popover on loop from both ends
  src/select/Select.ts
  src/select/SelectListState.ts
  src/select/SelectPopoverState.ts
Due: prettier --write, yarn lint

chore: wip prop generation
  docs-templates/Accordion.md
  docs-templates/Breadcrumb.md
  docs-templates/Link.md
  docs/Accordion.md
  docs/Breadcrumb.md
  docs/Link.md
  package.json
  scripts/fsUtils.js
  scripts/inject-props-tests.js
  scripts/inject-props.js
  scripts/utils.js
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

test(select): ✅ update tests for default Selected
  src/select/__tests__/Select.test.tsx
  src/select/__tests__/__snapshots__/Select.test.tsx.snap
Due: prettier --write, yarn lint

docs: fixed props types generator script
  docs-templates/Accordion.md
  docs-templates/Breadcrumb.md
  docs-templates/Link.md
  docs/Accordion.md
  docs/Breadcrumb.md
  docs/Link.md
  scripts/inject-props-tests.js
  scripts/inject-props.js
  src/accordion/AccordionState.ts
  src/accordion/types.ts
Due: prettier --write, yarn lint

chore: removed redundant utils code
  scripts/inject-props.js
  scripts/utils.js
Due: prettier --write, yarn lint

chore: outdent template strings
  docs/Accordion.md
  docs/Breadcrumb.md
  docs/Link.md
  scripts/inject-props.js
Due: prettier --write, yarn lint

chore: unify getJsDocs function
  docs-templates/Calendar.md
  docs/Calendar.md
  scripts/inject-props.js
  scripts/utils.js
Due: prettier --write, yarn lint

chore: added inject-md-content script
  docs/Accordion.md
  docs/Breadcrumb.md
  docs/Calendar.md
  docs/Link.md
  scripts/docs-generator.js
  scripts/inject-md-content.js
  scripts/inject-props.js
Due: prettier --write, yarn lint

docs: run docsgen:example & docsgen:props
  docs/Accordion.md
  docs/Breadcrumb.md
  docs/Calendar.md
  docs/Link.md
  package.json
  scripts/inject-props.js
Due: prettier --write, yarn lint:package, yarn lint

build(props-docgen): 🐛 fix rangecalendar types
  docs/Calendar.md
  src/calendar/CalendarState.ts
  src/calendar/RangeCalendarState.ts
  src/calendar/helpers/useWeekStart.ts
Due: prettier --write, yarn lint

chore: accordion types reorder
  docs/Accordion.md
  scripts/inject-props.js
  src/accordion/AccordionState.ts
Due: prettier --write, yarn lint

chore: run prettier on markdown
  docs/Calendar.md
  scripts/inject-props.js
Due: prettier --write, yarn lint

chore: fixed perttier not working
  scripts/inject-props.js
Due: prettier --write, yarn lint

chore(accordion): 🏷️ update type declaration for prop generation
  docs/Accordion.md
  docs/Calendar.md
  src/accordion/Accordion.ts
  src/accordion/AccordionPanel.ts
  src/accordion/AccordionState.ts
  src/accordion/AccordionTrigger.ts
  src/accordion/helpers.ts
  src/accordion/types.ts
Due: prettier --write, yarn lint

chore(deps): ⬆️ update project deps
  package.json
Due: prettier --write, yarn lint:package

fix(usecontrollablestate): 🐛 update value bug with previous value
  src/accordion/AccordionState.ts
  src/calendar/CalendarState.ts
  src/calendar/RangeCalendarState.ts
  src/datepicker/DatePickerState.ts
  src/datepicker/DateRangePickerState.ts
  src/pagination/PaginationState.ts
  src/segment/SegmentState.ts
  src/slider/SliderState.ts
  src/timepicker/TimePickerColumnState.ts
  src/timepicker/TimePickerState.ts
  src/utils/index.ts
  src/utils/useControllableState.tsx
  yarn.lock
Due: prettier --write, yarn lint

Path conditions:
  prettier --write: any of: *.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn lint:package: any of: package.json
  yarn lint: any of: **/*.{js,jsx,ts,tsx}
