Repository adaptui/react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:package, yarn lint

fix: a11y aria-valuetext issue with NumberInput
  src/number-input/NumberInput.ts
  src/number-input/__test__/NumberInput.test.tsx
Due: prettier --write, yarn lint

test: added tests for number input (#26)
  src/number-input/NumberInput.ts
  src/number-input/__test__/NumberInput.test.tsx
Due: prettier --write, yarn lint

test: added tests for Slider
  src/slider/__tests__/Slider.test.tsx
  src/slider/index.ts
  src/slider/stories/Slider.stories.tsx
Due: prettier --write, yarn lint

feat(pagination): ✨ initiate pagination
  src/pagination/Pagination.ts
  src/pagination/PaginationItem.ts
  src/pagination/PaginationNext.ts
  src/pagination/PaginationPrev.ts
  src/pagination/PaginationState.ts
  src/pagination/__keys.ts
  src/pagination/index.ts
  src/pagination/stories/Pagination.stories.tsx
Due: prettier --write, yarn lint

chore(deps): ➕ add missed test library
  package.json
Due: prettier --write, yarn lint:package

test: added tests for Slider (#27)
  src/slider/__tests__/Slider.test.tsx
  src/slider/index.ts
  src/slider/stories/Slider.stories.tsx
Due: prettier --write, yarn lint

refactor: removed duplicate storybook code
  src/meter/stories/CircularMeter.stories.tsx
  src/meter/stories/LinearMeter.stories.tsx
  src/meter/stories/utils.ts
  src/progress/stories/CircularProgress.stories.tsx
  src/progress/stories/LinearProgress.stories.tsx
  src/progress/stories/utils.ts
  src/utils.tsx
Due: prettier --write, yarn lint

refactor: abstracted common examples
  src/meter/stories/LinearMeter.stories.tsx
  src/progress/stories/LinearProgress.stories.tsx
  src/utils.tsx
Due: prettier --write, yarn lint

feat(pagination): ✨ stablilize pagination
  src/pagination/PaginationItem.ts
  src/pagination/PaginationState.ts
  src/pagination/__keys.ts
  src/pagination/stories/Pagination.stories.tsx
Due: prettier --write, yarn lint

chore(pagination): 🏷️ update types
  src/pagination/Pagination.ts
  src/pagination/PaginationItem.ts
  src/pagination/PaginationNext.ts
  src/pagination/PaginationPrev.ts
Due: prettier --write, yarn lint

refactor(pagination): ♻️ move utils to bottom
  src/pagination/PaginationState.ts
  src/pagination/stories/Pagination.stories.tsx
Due: prettier --write, yarn lint

chore: 🎨 update imports
  src/index.js
  src/meter/index.ts
  src/pagination/index.ts
  src/progress/index.ts
  src/select/index.ts
  src/slider/index.ts
  src/toast/stories/AnimatedToast.stories.tsx
  src/toast/stories/BasicToast.stories.tsx
Due: prettier --write, yarn lint

refactor(pagination): ♻️ restore default
  src/pagination/PaginationState.ts
  src/pagination/stories/Pagination.stories.tsx
Due: prettier --write, yarn lint

chore: type argument in useFakeProgression
  src/meter/stories/CircularMeter.stories.tsx
  src/meter/stories/LinearMeter.stories.tsx
  src/utils.tsx
Due: prettier --write, yarn lint

refactor(pagination): ♻️ rename goTo to move for future changes
  src/pagination/PaginationItem.ts
  src/pagination/PaginationState.ts
  src/pagination/__keys.ts
Due: prettier --write, yarn lint

chore: remove husky precommit test
  .huskyrc.json
Due: prettier --write

refactor: removed duplicate storybook code (#29)
  src/meter/stories/CircularMeter.stories.tsx
  src/meter/stories/LinearMeter.stories.tsx
  src/meter/stories/utils.ts
  src/progress/stories/CircularProgress.stories.tsx
  src/progress/stories/LinearProgress.stories.tsx
  src/progress/stories/utils.ts
  src/utils.tsx
Due: prettier --write, yarn lint

refactor(pagination): 🚸 unify pagination navigation
  src/pagination/PaginationButton.ts
  src/pagination/PaginationItem.ts
  src/pagination/PaginationNext.ts
  src/pagination/PaginationPrev.ts
  src/pagination/PaginationState.ts
  src/pagination/__keys.ts
  src/pagination/index.ts
  src/pagination/stories/Pagination.stories.tsx
Due: prettier --write, yarn lint

chore(vscode): 🔧 add vscode extension recommendations
  .vscode/extensions.json
  .vscode/reakit.code-snippets
Due: prettier --write

docs(readme): 📝 update readme
  .storybook/main.js
  README.md
Due: prettier --write, yarn lint

test: added tests for progress
  package.json
  src/progress/__tests__/Progress.test.tsx
Due: prettier --write, yarn lint:package, yarn lint

feat(meter): ✨ add meter functionalities
  src/meter/Meter.ts
  src/meter/MeterState.ts
  src/meter/__key.ts
  src/meter/stories/LinearMeter.stories.tsx
  src/slider/SliderState.ts
  src/utils.tsx
Due: prettier --write, yarn lint

test: added tests for progress (#31)
  package.json
  src/progress/__tests__/Progress.test.tsx
Due: prettier --write, yarn lint:package, yarn lint

test: added tests for link
  src/accordion/__tests__/Accordion.test.tsx
  src/link/__tests__/AriaLink.test.tsx
  src/link/__tests__/Link.test.tsx
  src/number-input/__test__/NumberInput.test.tsx
Due: prettier --write, yarn lint

docs(meter): 💡 add reference to html spec
  src/meter/MeterState.ts
Due: prettier --write, yarn lint

refactor(pagination): 👌 review changes done
  src/pagination/PaginationButton.ts
  src/pagination/stories/Pagination.stories.tsx
Due: prettier --write, yarn lint

refactor(meter): 📝 add more examples with refactor
  src/meter/MeterState.ts
  src/meter/__utils.ts
  src/meter/stories/LinearMeter.stories.tsx
Due: prettier --write, yarn lint

refactor(pagination): ♻️ add addition checks on button handler
  src/pagination/PaginationButton.ts
Due: prettier --write, yarn lint

chore(meter): ✏️ remove export on MeterComp
  src/meter/stories/LinearMeter.stories.tsx
Due: prettier --write, yarn lint

test: added tests for link (#33)
  src/accordion/__tests__/Accordion.test.tsx
  src/link/__tests__/AriaLink.test.tsx
  src/link/__tests__/Link.test.tsx
  src/number-input/__test__/NumberInput.test.tsx
Due: prettier --write, yarn lint

refactor(imports): ♻️ organize imports on all components
  src/accordion/AccordionPanel.ts
  src/accordion/AccordionState.ts
  src/accordion/__tests__/AccordionState.test.ts
  src/button/AriaToggleButton.ts
  src/button/stories/AriaButton.stories.tsx
  src/button/stories/AriaToggleButton.stories.tsx
  src/button/stories/Buttons.tsx
  src/button/stories/ReakitButton.stories.tsx
  src/drawer/Drawer.ts
  src/drawer/DrawerCloseButton.ts
  src/drawer/__keys.ts
  src/drawer/stories/Drawer.stories.tsx
  src/index.ts
  src/interactions/stories/Interactions.stories.tsx
  src/number-input/__utils.ts
  src/number-input/stories/NumberInput.stories.tsx
  src/pagination/Pagination.ts
  src/pagination/PaginationButton.ts
  src/pagination/PaginationState.ts
  src/pagination/__keys.ts
  src/pagination/stories/Pagination.stories.tsx
  src/progress/__tests__/Progress.test.tsx
  src/select/Select.ts
  src/select/SelectInput.ts
  src/select/SelectMenu.ts
  src/select/SelectOption.ts
  src/select/SelectState.ts
  src/select/SelectTrigger.ts
  src/select/__utils.ts
  src/toast/ToastProvider.tsx
  src/toast/ToastState.ts
  src/toast/stories/BasicToast.stories.tsx
Due: prettier --write, yarn lint

refactor(utils): ♻️ organize util imports
  src/slider/SliderState.ts
  src/utils/index.ts
  src/utils/storybook/index.tsx
Due: prettier --write, yarn lint

chore: added react hook form examples
  package.json
  src/number-input/stories/NumberInput.stories.tsx
  src/slider/stories/Slider.stories.tsx
Due: prettier --write, yarn lint:package, yarn lint

test: added tests for breadcrumb
  src/breadcrumbs/__tests__/Breadcrumbs.test.tsx
Due: prettier --write, yarn lint

test: added tests for breadcrumb (#36)
  src/breadcrumbs/__tests__/Breadcrumbs.test.tsx
Due: prettier --write, yarn lint

test: added tests for pagination
  src/breadcrumbs/__tests__/Breadcrumbs.test.tsx
  src/pagination/__tests__/Pagination.test.tsx
  src/pagination/__tests__/PaginationState.test.ts
Due: prettier --write, yarn lint

test: added tests for pagination (#37)
  src/breadcrumbs/__tests__/Breadcrumbs.test.tsx
  src/pagination/__tests__/Pagination.test.tsx
  src/pagination/__tests__/PaginationState.test.ts
Due: prettier --write, yarn lint

test: added tests for toast
  package.json
  src/toast/ToastProvider.tsx
  src/toast/ToastState.ts
  src/toast/__tests__/Toast.test.tsx
  src/toast/__tests__/ToastState.test.ts
  src/toast/stories/Demo.tsx
Due: prettier --write, yarn lint:package, yarn lint

chore(deps): remove unused raf
  package.json
Due: prettier --write, yarn lint:package

chore: review updates
  src/number-input/stories/NumberInput.stories.tsx
  src/slider/stories/Slider.stories.tsx
Due: prettier --write, yarn lint

Path conditions:
  prettier --write: any of: *.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn lint:package: any of: package.json
  yarn lint: any of: **/*.{js,jsx,ts,tsx}
