Repository adaptui/react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:package, yarn lint

.lintstagedrc.json:

{
  "*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "prettier --write",
    "git add"
  ],
  "package.json": ["yarn lint:package"],
  "**/*.{js,jsx,ts,tsx}": ["yarn lint"]
}

refactor(slider): ♻️ change default orientation to vertical
  src/slider/stories/SliderSingleVertical.component.tsx
Due: prettier --write, yarn lint

build(sb): 👷 fix hmr in sb
  .storybook/preview.js
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

build(sb): 👷 update actions, sb & vscode configs
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/test.yml
  .storybook/adaptui.svg
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.tsx
  .storybook/storybookTheme.js
  .storybook/storybookTheme.ts
  .vscode/settings.json
  assets/logo.png
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

build(actions): 👷 add .nvmrc file
  .nvmrc
Due: none

ci(test): 👷 update test action
  .github/workflows/main.yml
Due: prettier --write

refactor(avatar): ♻️ update avatar stories & imports
  .eslintrc.json
  src/accordion/__utils.ts
  src/accordion/accordion-base.ts
  src/accordion/accordion-disclosure.ts
  src/accordion/accordion-panel.ts
  src/accordion/accordion-state.ts
  src/accordion/stories/AccordionBasic.component.tsx
  src/accordion/stories/AccordionBasic.stories.tsx
  src/accordion/stories/AccordionMultiple.component.tsx
  src/accordion/stories/AccordionMultiple.stories.tsx
  src/accordion/stories/AccordionStyled.component.tsx
  src/accordion/stories/AccordionStyled.stories.tsx
  src/breadcrumbs/breadcrumb-link.ts
  src/calendar/calendar-cell-button.ts
  src/calendar/calendar-next-button.ts
  src/calendar/calendar-prev-button.ts
  src/calendar/range-calendar.ts
  src/datefield/date-segment.ts
  src/datefield/datefield-base.ts
  src/datepicker/datepicker-disclosure.ts
  src/datepicker/datepicker-group.ts
  src/datepicker/datepicker-popover.ts
  src/dialog/drawer.ts
  src/disclosure/disclosure-collapsible-content.ts
  src/link/link-base.ts
  src/numberfield/numberfield-decrement-button.ts
  src/numberfield/numberfield-increment-button.ts
  src/numberfield/numberfield-input.ts
  src/pagination/pagination-base.ts
  src/pagination/pagination-button.ts
  src/slider/slider-input.tsx
  src/slider/slider-thumb.tsx
  src/slider/slider-track.ts
  src/timefield/time-segment.ts
  src/timefield/timefield-base.ts
Due: prettier --write, yarn lint

docs(scripts): 📝 update docs script for v2 syntax
  .prettierignore
  docs/accordion.md
  package.json
  scripts/builds/docs.js
  scripts/docs/add-composition.js
  scripts/docs/add-csb-links.js
  scripts/docs/add-examples.js
  scripts/docs/add-props.js
  scripts/docs/add-toc.js
  scripts/docs/index.js
  scripts/docs/typeFootPrint.js
  scripts/docs/types.txt
  scripts/docs/utils/add-md-content.js
  scripts/docs/utils/index.js
  scripts/docs/utils/md-prettify.js
  scripts/utils/index.js
  scripts/utils/inject-composition.js
  scripts/utils/inject-examples.js
  src/accordion/stories/AccordionStyled.component.tsx
Due: prettier --write, yarn lint:package, yarn lint

refactor(toast): ♻️ fix few typos and grammatical mistakes
  src/toast/stories/ToastBasic.component.tsx
  src/toast/stories/ToastCSSAnimated.component.tsx
Due: prettier --write, yarn lint

refactor(toast): ♻️ change manually to manual (grammar)
  src/toast/stories/ToastBasic.component.tsx
  src/toast/stories/ToastCSSAnimated.component.tsx
Due: prettier --write, yarn lint

docs(docs): 📝 update documentation for multiple components
  docs-templates/checkbox.md
  docs-templates/datefield.md
  docs-templates/disclosure.md
  docs-templates/drawer.md
  docs-templates/number-input.md
  docs-templates/numberfield.md
  docs/breadcrumb.md
  docs/calendar.md
  docs/checkbox.md
  docs/datefield.md
  docs/datepicker.md
  docs/disclosure.md
  docs/drawer.md
  docs/link.md
  docs/meter.md
  docs/number-input.md
  docs/numberfield.md
  docs/pagination.md
  src/link/stories/LinkBasic.stories.tsx
Due: prettier --write, yarn lint

docs(docs): 📝 update documentation for multiple components (#393)
  docs-templates/checkbox.md
  docs-templates/datefield.md
  docs-templates/disclosure.md
  docs-templates/drawer.md
  docs-templates/number-input.md
  docs-templates/numberfield.md
  docs/breadcrumb.md
  docs/calendar.md
  docs/checkbox.md
  docs/datefield.md
  docs/datepicker.md
  docs/disclosure.md
  docs/drawer.md
  docs/link.md
  docs/meter.md
  docs/number-input.md
  docs/numberfield.md
  docs/pagination.md
  src/link/stories/LinkBasic.stories.tsx
Due: prettier --write, yarn lint

docs(docs): 📝 improve documentation for components
  docs-templates/disclosure.md
  docs-templates/radio.md
  docs-templates/select.md
  docs-templates/timefield.md
  docs-templates/timepicker.md
  docs/disclosure.md
  docs/progress.md
  docs/radio.md
  docs/select.md
  docs/timefield.md
  docs/timepicker.md
  docs/toast.md
Due: prettier --write

chore(github): 🍱 Add Pull Request Template for GitHub
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

docs(accordion): 📝 finish docs
  docs-templates/accordion.md
  docs/accordion.md
  docs/breadcrumb.md
  docs/calendar.md
  docs/datefield.md
  docs/datepicker.md
  docs/disclosure.md
  docs/link.md
  docs/meter.md
  docs/progress.md
  scripts/docs/add-composition.js
  scripts/docs/add-csb-links.js
  scripts/docs/add-props.js
  scripts/docs/index.js
  scripts/docs/typeFootPrint.js
  scripts/docs/types.txt
  scripts/utils/index.js
  src/accordion/stories/AccordionMultiple.component.tsx
  src/accordion/stories/AccordionMultiple.stories.tsx
  src/timefield/stories/TimeFieldBasic.component.tsx
Due: prettier --write, yarn lint

docs(breadcrumb): 📝 finish docs
  docs-templates/breadcrumb.md
  docs/accordion.md
  docs/breadcrumb.md
  src/accordion/stories/AccordionStyled.component.tsx
  src/breadcrumbs/stories/BreadcrumbsBasic.component.tsx
Due: prettier --write, yarn lint

docs(calendar): 📝 finish docs
  docs-templates/calendar.md
  docs/calendar.md
  src/calendar/stories/CalendarBasic.component.tsx
  src/calendar/stories/CalendarBasic.stories.tsx
  src/calendar/stories/CalendarRange.component.tsx
  src/calendar/stories/CalendarRange.stories.tsx
  src/calendar/stories/CalendarRangeStyled.component.tsx
  src/calendar/stories/CalendarRangeStyled.stories.tsx
  src/calendar/stories/CalendarStyled.component.tsx
  src/calendar/stories/CalendarStyled.stories.tsx
Due: prettier --write, yarn lint

docs(code-base-overview): 📝 finish docs
  docs-templates/accordion.md
  docs-templates/breadcrumb.md
  docs-templates/calendar.md
  docs-templates/datefield.md
  docs-templates/datepicker.md
  docs-templates/dialog.md
  docs-templates/link.md
  docs-templates/meter.md
  docs-templates/numberfield.md
  docs-templates/pagination.md
  docs-templates/picker-base.md
  docs-templates/progress.md
  docs-templates/radio.md
  docs-templates/segment.md
  docs-templates/select.md
  docs-templates/slider.md
  docs-templates/timefield.md
  docs-templates/toast.md
  docs/code-base-overview.md
  docs/core-principles.md
  docs/datefield.md
  docs/datepicker.md
  docs/disclosure.md
  docs/link.md
  docs/meter.md
  docs/numberfield.md
  docs/pagination.md
  docs/picker-base.md
  docs/progress.md
  docs/radio.md
  docs/segment.md
  docs/timefield.md
  scripts/docs/add-composition.js
  scripts/docs/add-examples.js
  scripts/docs/add-props.js
  scripts/docs/add-toc.js
Due: prettier --write, yarn lint

docs(datefield): 📝 finish docs
  docs-templates/calendar.md
  docs-templates/datefield.md
  docs/calendar.md
  docs/datefield.md
  src/calendar/stories/CalendarBasic.component.tsx
  src/calendar/stories/CalendarRange.component.tsx
  src/calendar/stories/CalendarRangeStyled.component.tsx
  src/calendar/stories/CalendarStyled.component.tsx
  src/datefield/stories/DateFieldBasic.component.tsx
  src/datefield/stories/DateFieldStyled.component.tsx
Due: prettier --write, yarn lint

docs(csblink): 📝 add support for multiple csb files
  docs-templates/calendar.md
  docs-templates/datepicker.md
  docs/calendar.md
  docs/datepicker.md
  scripts/builds/create-previews.js
  scripts/docs/add-csb-links.js
  src/datepicker/stories/DatePickerBasic.component.tsx
  src/datepicker/stories/DatePickerStyled.component.tsx
  src/datepicker/stories/DateRangePickerBasic.component.tsx
  src/datepicker/stories/DateRangePickerStyled.component.tsx
Due: prettier --write, yarn lint

docs(drawer): 📝 finish docs
  docs-templates/dialog.md
  docs-templates/drawer.md
  docs/code-base-overview.md
  docs/drawer.md
  src/drawer/drawer.ts
  src/drawer/index.ts
  src/drawer/stories/DrawerBasic.component.tsx
  src/drawer/stories/DrawerBasic.css
  src/drawer/stories/DrawerBasic.stories.tsx
  src/index.ts
Due: prettier --write, yarn lint

docs(disclosure): 📝 finish docs
  docs-templates/disclosure.md
  docs/disclosure.md
  src/disclosure/stories/DisclosureHorizontalCollapseBasic.stories.tsx
  src/disclosure/stories/DisclosureVerticalCollapseBasic.stories.tsx
Due: prettier --write, yarn lint

docs: 📝 finish docs
  docs-templates/link.md
  docs/link.md
  src/link/stories/LinkBasic.component.tsx
  src/link/stories/LinkBasic.stories.tsx
  src/link/stories/LinkSpan.component.tsx
  src/link/stories/LinkSpan.stories.tsx
Due: prettier --write, yarn lint

docs(meter): 📝 finish docs
  docs-templates/meter.md
  docs/meter.md
  src/meter/stories/MeterBasic.component.tsx
  src/meter/stories/MeterStyled.component.tsx
  src/meter/stories/MeterStyled.stories.tsx
Due: prettier --write, yarn lint

docs(toast): 📝 finish docs
  docs-templates/meter.md
  docs-templates/toast.md
  docs/toast.md
Due: prettier --write

docs(numberfield): 📝 finish docs
  docs-templates/numberfield.md
  docs/numberfield.md
  scripts/docs/add-csb-links.js
  src/numberfield/stories/NumberFieldBasic.stories.tsx
Due: prettier --write, yarn lint

docs(pagination): 📝 finish docs
  docs-templates/numberfield.md
  docs-templates/pagination.md
  docs/numberfield.md
  docs/pagination.md
  src/pagination/pagination-button.ts
  src/pagination/stories/PaginationBasic.stories.tsx
Due: prettier --write, yarn lint

docs(progress): 📝 finish docs
  docs-templates/progress.md
  docs-templates/slider.md
  docs/progress.md
  docs/slider.md
  src/progress/stories/ProgressBasic.component.tsx
  src/progress/stories/ProgressBasic.stories.tsx
Due: prettier --write, yarn lint

docs(slider): 📝 finish docs
  docs-templates/slider.md
  docs/slider.md
  src/slider/slider-base-state.ts
  src/slider/slider-thumb-state.ts
Due: prettier --write, yarn lint

docs(typos): 📝 update typos
  docs-templates/calendar.md
  docs-templates/datefield.md
  docs-templates/datepicker.md
  docs-templates/daterange-picker.md
  docs-templates/meter.md
  docs-templates/numberfield.md
  docs-templates/progress.md
  docs-templates/range-calendar.md
  docs-templates/slider.md
  docs-templates/timefield.md
  docs-templates/toast.md
  docs/calendar.md
  docs/code-base-overview.md
  docs/datepicker.md
  docs/daterange-picker.md
  docs/numberfield.md
  docs/range-calendar.md
  docs/slider.md
Due: prettier --write

docs(all): 📝 generate new docs
  docs/accordion.md
  docs/datefield.md
  docs/disclosure.md
  docs/link.md
  docs/meter.md
  docs/progress.md
  docs/timefield.md
  docs/toast.md
Due: prettier --write

docs(getting-started): 📝 update docs
  docs/calendar.md
  docs/datepicker.md
  docs/getting-started.md
  src/calendar/calendar-cell-state.ts
  src/calendar/calendar-grid-state.ts
  src/calendar/calendar-next-button.ts
  src/calendar/calendar-prev-button.ts
  src/datepicker/datepicker-disclosure.ts
  src/datepicker/datepicker-group.ts
  src/datepicker/datepicker-label.ts
  src/datepicker/datepicker-popover.ts
Due: prettier --write, yarn lint

docs(readme): 📝 update docs
  README.md
Due: prettier --write

docs: add @mcnaveen as a contributor
  .all-contributorsrc
  README.md
Due: prettier --write

🚀 Release v1.0.0-alpha.8
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

docs(release): 📝 update core pkg to new alpha release
  docs/accordion.md
  docs/breadcrumb.md
  docs/calendar.md
  docs/datefield.md
  docs/datepicker.md
  docs/daterange-picker.md
  docs/disclosure.md
  docs/drawer.md
  docs/link.md
  docs/meter.md
  docs/numberfield.md
  docs/pagination.md
  docs/progress.md
  docs/range-calendar.md
  docs/slider.md
  docs/timefield.md
  docs/toast.md
  scripts/docs/add-csb-links.js
Due: prettier --write, yarn lint

docs(segments): 📝 add docs
  docs/datefield.md
  docs/timefield.md
  src/datefield/date-segment.ts
  src/timefield/time-segment.ts
Due: prettier --write, yarn lint

refactor(disclosure): ♻️ migrate visible to open props
  docs/accordion.md
  docs/datepicker.md
  docs/daterange-picker.md
  docs/drawer.md
  package.json
  src/accordion/accordion-panel.ts
  src/datepicker/datepicker-base-state.ts
  src/datepicker/stories/DatePickerBasic.component.tsx
  src/datepicker/stories/DatePickerStyled.component.tsx
  src/daterange-picker/daterangepicker-base-state.ts
  src/daterange-picker/stories/DateRangePickerBasic.component.tsx
  src/daterange-picker/stories/DateRangePickerStyled.component.tsx
  src/disclosure/disclosure-collapsible-content.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

🚀 Release v1.0.0-alpha.9
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package
