Repository adaptui/react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:package, yarn lint

fix(disclosure): 🐛 fix composable export naming
  src/disclosure/DisclosureButton.tsx
  src/disclosure/DisclosureContent.tsx
Due: prettier --write, yarn lint

fix(disclosure): 🐛 fix composable export naming (#246)
  src/disclosure/DisclosureButton.tsx
  src/disclosure/DisclosureContent.tsx
Due: prettier --write, yarn lint

🚀 Release v0.7.1
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update dependency webpack to v5.57.1
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

docs(radio): 📝 update jsdocs
  src/radio/Radio.tsx
  src/radio/RadioGroup.tsx
  src/radio/RadioState.tsx
Due: prettier --write, yarn lint

fix(link): 🐛 fix link types
  src/link/stories/LinkBasic.component.tsx
  src/link/stories/LinkBasic.stories.tsx
Due: prettier --write, yarn lint

chore(deps): ⬆️ update dev dependencies (minor)
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update dependency webpack to v5.58.0
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(scripts): 🔧 arrange scripts for ease of use
  .storybook/utils.ts
Due: prettier --write, yarn lint

ci(actions): 👷 add lint & build pipeline
  .github/workflows/build.yml
  .github/workflows/lint.yml
Due: prettier --write

feat(meter): ✨ export useMeter & refactor disclosure
  src/disclosure/DisclosureContent.tsx
  src/drawer/Drawer.ts
  src/meter/Meter.ts
Due: prettier --write, yarn lint

🚀 Release v0.7.2
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update dependency lint-staged to v11.2.6
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update dependency react-hook-form to v7.18.0
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

fix(numberinput): 🐛 remove number input label warning
  package.json
  src/number-input/NumberInput.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

🚀 Release v0.7.3
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update dependency autoprefixer to v10.4.0
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update dependency react-hook-form to v7.18.1
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update dependency storybook-addon-preview to v2.2.0
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

feat(presence): ✨ add presence for disclosure
  src/disclosure/DisclosureButton.tsx
  src/disclosure/DisclosureContent.tsx
  src/disclosure/DisclosureState.ts
  src/disclosure/__keys.ts
  src/disclosure/helpers.tsx
  src/disclosure/stories/DisclosureBasic.component.tsx
  src/disclosure/stories/DisclosureBasic.css
  src/disclosure/stories/DisclosureBasic.stories.tsx
  src/disclosure/stories/DisclosureHorizontal.component.tsx
  src/disclosure/stories/DisclosureHorizontal.css
  src/disclosure/stories/DisclosureHorizontal.stories.tsx
  src/index.ts
  src/presence/Presence.ts
  src/presence/PresenceState.tsx
  src/presence/__keys.ts
  src/presence/helpers.tsx
  src/presence/index.ts
  src/presence/stories/PresenceAnimated.component.tsx
  src/presence/stories/PresenceAnimated.css
  src/presence/stories/PresenceAnimated.stories.tsx
  src/presence/stories/PresenceBasic.component.tsx
  src/presence/stories/PresenceBasic.stories.tsx
Due: prettier --write, yarn lint

refactor(disclosure): ♻️ update css & stories
  src/disclosure/stories/DisclosureBasic.css
  src/disclosure/stories/DisclosureBasic.stories.tsx
Due: prettier --write, yarn lint

feat(dialog): ✨ finish dialog
  .storybook/preview-body.html
  package.json
  src/checkbox/Checkbox.tsx
  src/checkbox/helpers.tsx
  src/dialog/Dialog.tsx
  src/dialog/DialogBackdrop.tsx
  src/dialog/DialogDisclosure.ts
  src/dialog/__keys.ts
  src/dialog/helpers/index.ts
  src/dialog/helpers/useDisclosureRef.ts
  src/dialog/helpers/useEventListenerOutside.ts
  src/dialog/helpers/useFocusOnBlur.ts
  src/dialog/helpers/useFocusOnChildUnmount.ts
  src/dialog/helpers/useFocusOnHide.ts
  src/dialog/helpers/useFocusOnShow.ts
  src/dialog/helpers/useFocusTrap.ts
  src/dialog/helpers/usePortalRef.ts
  src/dialog/helpers/usePreventBodyScroll.ts
  src/dialog/stories/DialogBasic.component.tsx
  src/dialog/stories/DialogBasic.css
  src/disclosure/DisclosureContent.tsx
  src/disclosure/DisclosureState.ts
  src/disclosure/__keys.ts
  src/disclosure/stories/DisclosureBasic.component.tsx
  src/disclosure/stories/DisclosureBasic.css
  src/disclosure/stories/DisclosureHorizontal.component.tsx
  src/disclosure/stories/DisclosureHorizontal.css
  src/link/Link.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

feat(popover): ✨ add popover using the dialog
  src/dialog/stories/DialogBasic.component.tsx
  src/index.ts
  src/popover/Arrow.tsx
  src/popover/ArrowContent.tsx
  src/popover/Popover.tsx
  src/popover/PopoverBackdrop.ts
  src/popover/PopoverContent.tsx
  src/popover/PopoverDisclosure.tsx
  src/popover/PopoverState.ts
  src/popover/__keys.ts
  src/popover/index.ts
  src/popover/popper-core.ts
  src/popover/rect.ts
  src/popover/stories/PopoverBasic.component.tsx
  src/popover/stories/PopoverBasic.css
  src/popover/stories/PopoverBasic.stories.tsx
  src/popover/stories/PopoverCollision.component.tsx
  src/popover/stories/PopoverCollision.stories.tsx
  src/popover/useRect.ts
  src/popover/useSize.ts
  yarn.lock
Due: prettier --write, yarn lint

feat(popover): ✨ finish popover
  src/disclosure/DisclosureContent.tsx
  src/popover/Popover.tsx
  src/popover/PopoverContent.tsx
  src/popover/stories/PopoverBasic.component.tsx
  src/popover/stories/PopoverBasic.css
Due: prettier --write, yarn lint

feat(popover): ✨ add custom anchor support
  src/popover/Popover.tsx
  src/popover/PopoverAnchor.tsx
  src/popover/PopoverState.ts
  src/popover/PopoverTrigger.tsx
  src/popover/__keys.ts
  src/popover/stories/PopoverBasic.component.tsx
Due: prettier --write, yarn lint

Path conditions:
  prettier --write: any of: *.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn lint:package: any of: package.json
  yarn lint: any of: **/*.{js,jsx,ts,tsx}
