Repository adaptui/react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:package, yarn lint

.lintstagedrc.json:

{
  "*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "prettier --write",
    "git add"
  ],
  "package.json": ["yarn lint:package"],
  "**/*.{js,jsx,ts,tsx}": ["yarn lint"]
}

docs: added composition generation script
  docs-templates/Accordion.md
  docs-templates/Breadcrumb.md
  docs-templates/Calendar.md
  docs-templates/Link.md
  docs/Accordion.md
  docs/Breadcrumb.md
  docs/Calendar.md
  docs/Link.md
  package.json
  scripts/inject-composition.js
Due: prettier --write, yarn lint:package, yarn lint

docs: added prettify script and run once
  package.json
  scripts/inject-composition.js
  scripts/inject-props.js
  scripts/prettify-docs.js
Due: prettier --write, yarn lint:package, yarn lint

chore(dev-deps): ⬆️ update minor & patch dev deps
  babel.config.js
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

chore(format): 🎨 update format of the code
  src/accordion/stories/AccordionBasic.stories.tsx
  src/accordion/stories/AccordionStyled.stories.tsx
  src/utils/test-utils.ts
Due: prettier --write, yarn lint

chore(postcss-import): ➖ remove postcss-import not used in stories
  .storybook/postcss.config.js
  package.json
Due: prettier --write, yarn lint:package, yarn lint

refactor: refactored inject prop script
  docs-templates/Accordion.md
  docs-templates/Breadcrumb.md
  docs-templates/Calendar.md
  docs-templates/Link.md
  scripts/inject-composition.js
  scripts/inject-props.js
Due: prettier --write, yarn lint

chore(emotion): ⬆️ replace emotion with @emotion/css for v11
  package.json
  src/drawer/stories/Drawer.component.tsx
  src/drawer/stories/Drawer.stories.tsx
  src/meter/stories/Meter.component.tsx
  src/meter/stories/Meter.stories.tsx
  src/progress/stories/CircularProgress.component.tsx
  src/progress/stories/CircularProgress.stories.tsx
  src/progress/stories/LinearProgress.component.tsx
  src/progress/stories/LinearProgress.stories.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

refactor(role): ♻️ replace Box with Role from reakit
  src/breadcrumbs/Breadcrumbs.ts
  src/calendar/Calendar.ts
  src/calendar/CalendarCell.ts
  src/calendar/CalendarGrid.ts
  src/calendar/CalendarHeader.ts
  src/calendar/CalendarWeekTitle.ts
  src/meter/Meter.ts
  src/pagination/Pagination.ts
  src/picker-base/PickerBase.ts
  src/progress/Progress.ts
  src/slider/SliderThumb.ts
  src/slider/SliderTrack.ts
Due: prettier --write, yarn lint

fix(select): 🐛 focus the popover on loop from both ends (#159)
  src/select/Select.ts
  src/select/SelectListState.ts
  src/select/SelectPopoverState.ts
  src/select/__tests__/Select.test.tsx
  src/select/__tests__/__snapshots__/Select.test.tsx.snap
Due: prettier --write, yarn lint

chore(accordion): 🏷️ update type declaration for prop generation (#163)
  docs/Accordion.md
  docs/Calendar.md
  src/accordion/Accordion.ts
  src/accordion/AccordionPanel.ts
  src/accordion/AccordionState.ts
  src/accordion/AccordionTrigger.ts
  src/accordion/helpers.ts
  src/accordion/types.ts
Due: prettier --write, yarn lint

chore: regenerate docs
  docs/Calendar.md
Due: prettier --write

refactor(role): ♻️ replace Box with Role from reakit (#165)
  src/breadcrumbs/Breadcrumbs.ts
  src/calendar/Calendar.ts
  src/calendar/CalendarCell.ts
  src/calendar/CalendarGrid.ts
  src/calendar/CalendarHeader.ts
  src/calendar/CalendarWeekTitle.ts
  src/meter/Meter.ts
  src/pagination/Pagination.ts
  src/picker-base/PickerBase.ts
  src/progress/Progress.ts
  src/slider/SliderThumb.ts
  src/slider/SliderTrack.ts
Due: prettier --write, yarn lint

docs: added codesandbox link generation script
  docs-templates/Accordion.md
  docs/Accordion.md
  package.json
  scripts/inject-csb-links.js
  src/accordion/stories/AccordionBasic.stories.tsx
  src/accordion/stories/AccordionStyled.stories.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

docs(calendar): 📝 update jsdocs for the calendar
  docs-templates/Calendar.md
  docs/Breadcrumb.md
  docs/Calendar.md
  src/accordion/types.ts
  src/breadcrumbs/BreadcrumbLink.ts
  src/breadcrumbs/Breadcrumbs.ts
  src/calendar/Calendar.ts
  src/calendar/CalendarButton.ts
  src/calendar/CalendarCell.ts
  src/calendar/CalendarCellButton.ts
  src/calendar/CalendarGrid.ts
  src/calendar/CalendarHeader.ts
  src/calendar/CalendarState.ts
  src/calendar/CalendarWeekTitle.ts
  src/calendar/RangeCalendarState.ts
Due: prettier --write, yarn lint

docs: improve sandbox script to add short sandbox url
  docs-templates/Accordion.md
  docs/Accordion.md
  scripts/inject-csb-links.js
Due: prettier --write, yarn lint

docs: hardcode reakit dep & fixed extraDep
  docs-templates/Accordion.md
  scripts/inject-csb-links.js
Due: prettier --write, yarn lint

docs(calendar): 📝 update the examples with headings
  docs-templates/Calendar.md
  docs/Accordion.md
  docs/Calendar.md
Due: prettier --write

docs(calendar): 📝 update jsdocs for the calendar (#166)
  docs-templates/Calendar.md
  docs/Accordion.md
  docs/Breadcrumb.md
  docs/Calendar.md
  src/accordion/types.ts
  src/breadcrumbs/BreadcrumbLink.ts
  src/breadcrumbs/Breadcrumbs.ts
  src/calendar/Calendar.ts
  src/calendar/CalendarButton.ts
  src/calendar/CalendarCell.ts
  src/calendar/CalendarCellButton.ts
  src/calendar/CalendarGrid.ts
  src/calendar/CalendarHeader.ts
  src/calendar/CalendarState.ts
  src/calendar/CalendarWeekTitle.ts
  src/calendar/RangeCalendarState.ts
Due: prettier --write, yarn lint

docs: added calendar sandbox link
  docs-templates/Calendar.md
  docs/Accordion.md
  docs/Calendar.md
  scripts/inject-csb-links.js
Due: prettier --write, yarn lint

docs: added link_title support for csblinks generation
  docs-templates/Accordion.md
  docs/Accordion.md
  docs/Calendar.md
  scripts/inject-composition.js
  scripts/inject-csb-links.js
Due: prettier --write, yarn lint

docs: added support for multiple csb links
  docs-templates/Calendar.md
  docs/Calendar.md
  scripts/inject-csb-links.js
Due: prettier --write, yarn lint

chore: rename fsUtils to fs-utils
  scripts/docs-generator.js
  scripts/fs-utils.js
  scripts/generate-js.js
  scripts/inject-composition.js
  scripts/inject-csb-links.js
  scripts/inject-props.js
  scripts/prettify-docs.js
Due: prettier --write, yarn lint

docs: added links in main readme
  README.md
Due: prettier --write

fix(docs): refactored & fixed multiple sandbox link generation
  docs/Accordion.md
  docs/Calendar.md
  scripts/inject-csb-links.js
Due: prettier --write, yarn lint

docs: fix csblinks path & regenerate docs
  docs/Accordion.md
  docs/Calendar.md
  scripts/inject-csb-links.js
Due: prettier --write, yarn lint

chore: renamed generate-docs to inject-examples & better chalk logs
  docs/Calendar.md
  package.json
  scripts/inject-composition.js
  scripts/inject-csb-links.js
  scripts/inject-examples.js
  scripts/inject-props.js
  scripts/prettify-docs.js
Due: prettier --write, yarn lint:package, yarn lint

chore: review updates
  src/datepicker/DatePickerState.ts
Due: prettier --write, yarn lint

chore: prettier ignore
  src/utils/test-utils.ts
Due: prettier --write, yarn lint

chore: update minor & patch deps (#164)
  .storybook/postcss.config.js
  babel.config.js
  package.json
  src/accordion/AccordionState.ts
  src/accordion/stories/AccordionBasic.stories.tsx
  src/accordion/stories/AccordionStyled.stories.tsx
  src/calendar/CalendarState.ts
  src/calendar/RangeCalendarState.ts
  src/datepicker/DatePickerState.ts
  src/datepicker/DateRangePickerState.ts
  src/drawer/stories/Drawer.component.tsx
  src/drawer/stories/Drawer.stories.tsx
  src/meter/stories/Meter.component.tsx
  src/meter/stories/Meter.stories.tsx
  src/pagination/PaginationState.ts
  src/progress/stories/CircularProgress.component.tsx
  src/progress/stories/CircularProgress.stories.tsx
  src/progress/stories/LinearProgress.component.tsx
  src/progress/stories/LinearProgress.stories.tsx
  src/segment/SegmentState.ts
  src/slider/SliderState.ts
  src/timepicker/TimePickerColumnState.ts
  src/timepicker/TimePickerState.ts
  src/utils/index.ts
  src/utils/test-utils.ts
  src/utils/useControllableState.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

docs: added props,csblink,composition,example generation script (#160)
  README.md
  docs-templates/Accordion.md
  docs-templates/Breadcrumb.md
  docs-templates/Calendar.md
  docs-templates/Link.md
  docs/Accordion.md
  docs/Breadcrumb.md
  docs/Calendar.md
  docs/Link.md
  package.json
  scripts/fs-utils.js
  scripts/generate-js.js
  scripts/inject-composition.js
  scripts/inject-csb-links.js
  scripts/inject-examples.js
  scripts/inject-md-content.js
  scripts/inject-props.js
  scripts/prettify-docs.js
  scripts/utils.js
  src/accordion/Accordion.ts
  src/accordion/AccordionPanel.ts
  src/accordion/AccordionState.ts
  src/accordion/AccordionTrigger.ts
  src/accordion/helpers.ts
  src/accordion/stories/AccordionBasic.stories.tsx
  src/accordion/stories/AccordionStyled.stories.tsx
  src/accordion/types.ts
  src/breadcrumbs/BreadcrumbLink.ts
  src/breadcrumbs/Breadcrumbs.ts
  src/calendar/Calendar.ts
  src/calendar/CalendarButton.ts
  src/calendar/CalendarCell.ts
  src/calendar/CalendarCellButton.ts
  src/calendar/CalendarGrid.ts
  src/calendar/CalendarHeader.ts
  src/calendar/CalendarState.ts
  src/calendar/CalendarWeekTitle.ts
  src/calendar/RangeCalendarState.ts
  src/calendar/helpers/useWeekStart.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

chore(toast): renamed types to normal convention
  src/toast/ToastProvider.tsx
  src/toast/ToastState.ts
  src/toast/stories/ToastCSSAnimated.component.tsx
  src/toast/stories/ToastReactSpring.component.tsx
Due: prettier --write, yarn lint

chore(toast): utils.component improvement
  src/toast/stories/Utils.component.tsx
Due: prettier --write, yarn lint

chore(toast): renamed types to normal convention (#169)
  src/toast/ToastProvider.tsx
  src/toast/ToastState.ts
  src/toast/stories/ToastCSSAnimated.component.tsx
  src/toast/stories/ToastReactSpring.component.tsx
  src/toast/stories/Utils.component.tsx
Due: prettier --write, yarn lint

docs: guidelines and getting started docs
  README.md
  docs/code-base-overview.md
  docs/core-principles.md
  docs/getting-started.md
Due: prettier --write

docs: fix links
  docs/code-base-overview.md
  docs/getting-started.md
Due: prettier --write

docs(datepicker): added docs for datepicker
  docs-templates/DatePicker.md
  docs/Calendar.md
  docs/DatePicker.md
  docs/code-base-overview.md
Due: prettier --write

docs: fix accidental prop/compose generation in code-base-overview docs
  docs/Calendar.md
  docs/code-base-overview.md
Due: prettier --write

docs(readme): 📝 add docs for all the components
  docs-templates/Accordion.md
  docs-templates/Breadcrumb.md
  docs-templates/Calendar.md
  docs-templates/DatePicker.md
  docs-templates/Link.md
  docs-templates/drawer.md
  docs-templates/meter.md
  docs-templates/number-input.md
  docs-templates/pagination.md
  docs-templates/picker-base.md
  docs-templates/progress.md
  docs-templates/segment.md
  docs-templates/select.md
  docs-templates/slider.md
  docs-templates/timepicker.md
  docs-templates/toast.md
  docs/Accordion.md
  docs/Breadcrumb.md
  docs/Calendar.md
  docs/DatePicker.md
  docs/Link.md
  docs/drawer.md
  docs/meter.md
  docs/number-input.md
  docs/pagination.md
  docs/picker-base.md
  docs/progress.md
  docs/segment.md
  docs/select.md
  docs/slider.md
  docs/timepicker.md
  docs/toast.md
  scripts/inject-csb-links.js
Due: prettier --write, yarn lint

docs(readme): 📝 add docs for all the components (#171)
  docs-templates/Accordion.md
  docs-templates/Breadcrumb.md
  docs-templates/Calendar.md
  docs-templates/DatePicker.md
  docs-templates/Link.md
  docs-templates/drawer.md
  docs-templates/meter.md
  docs-templates/number-input.md
  docs-templates/pagination.md
  docs-templates/picker-base.md
  docs-templates/progress.md
  docs-templates/segment.md
  docs-templates/select.md
  docs-templates/slider.md
  docs-templates/timepicker.md
  docs-templates/toast.md
  docs/Accordion.md
  docs/Breadcrumb.md
  docs/Calendar.md
  docs/DatePicker.md
  docs/Link.md
  docs/drawer.md
  docs/meter.md
  docs/number-input.md
  docs/pagination.md
  docs/picker-base.md
  docs/progress.md
  docs/segment.md
  docs/select.md
  docs/slider.md
  docs/timepicker.md
  docs/toast.md
  scripts/inject-csb-links.js
Due: prettier --write, yarn lint

docs(rename): 📝 files on the git
  docs-templates/accordion.md
  docs-templates/breadcrumb.md
  docs-templates/calendar.md
  docs-templates/datepicker.md
  docs-templates/link.md
  docs/accordion.md
  docs/breadcrumb.md
  docs/calendar.md
  docs/code-base-overview.md
  docs/datepicker.md
  docs/link.md
Due: prettier --write
