Repository adaptui/react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:package, yarn lint

.lintstagedrc.json:

{
  "*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "prettier --write",
    "git add"
  ],
  "package.json": ["yarn lint:package"],
  "**/*.{js,jsx,tx,tsx}": ["yarn lint"]
}

chore: codebase cleanup
  package.json
  src/stories/Button.stories.tsx
  src/stories/Header.stories.tsx
  src/stories/Header.tsx
  src/stories/Introduction.stories.mdx
  src/stories/Page.stories.tsx
  src/stories/Page.tsx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/header.css
  src/stories/page.css
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

feat(accordion): ✨ add accordion components
  package.json
  src/accordion/Accordion.stories.tsx
  src/accordion/Accordion.ts
  src/accordion/AccordionItem.ts
  src/accordion/AccordionPanel.ts
  src/accordion/AccordionState.ts
  src/accordion/AccordionTrigger.ts
  src/accordion/__keys.ts
  src/accordion/index.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

feat(slider): ✨ add slider component
  package.json
  src/accordion/Accordion.ts
  src/accordion/stories/Accordion.stories.tsx
  src/slider/Slider.ts
  src/slider/SliderFilledTrack.ts
  src/slider/SliderState.ts
  src/slider/SliderThumb.ts
  src/slider/SliderTrack.ts
  src/slider/__keys.ts
  src/slider/index.ts
  src/slider/stories/Slider.stories.tsx
  src/slider/stories/styles.ts
  src/stories-example/Button.stories.tsx
  src/stories-example/Button.tsx
  src/stories-example/button.css
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

fix(slider): ✏️ fix focus on Slider and stories
  src/slider/SliderState.ts
  src/slider/SliderThumb.ts
  src/slider/stories/Slider.stories.tsx
  src/slider/stories/styles.ts
Due: prettier --write, yarn lint

refactor(slider): 💡 add attribution to chakra on all slider components
  src/slider/Slider.ts
  src/slider/SliderFilledTrack.ts
  src/slider/SliderState.ts
  src/slider/SliderThumb.ts
  src/slider/SliderTrack.ts
Due: prettier --write

refactor: 👷 add netlify build
  src/slider/SliderState.ts
Due: prettier --write

feat: added select component
  .prettierrc.json
  package.json
  src/select/Select.stories.tsx
  src/select/SelectDropdown.ts
  src/select/SelectItem.ts
  src/select/SelectMenu.ts
  src/select/SelectTrigger.ts
  src/select/__keys.ts
  src/select/common.ts
  src/select/index.ts
  src/select/useSelectState.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

chore: regorganize folder
  src/select/stories/Select.stories.tsx
  yarn.lock
Due: prettier --write, yarn lint

refactor(accordion): ♻️ restructure source code
  .eslintignore
  src/accordion/AccordionPanel.ts
  src/accordion/AccordionState.ts
  src/accordion/AccordionTrigger.ts
  src/accordion/index.ts
  src/accordion/stories/Accordion.stories.tsx
  src/slider/SliderState.ts
  src/slider/SliderTrack.ts
  src/slider/__utils.ts
Due: prettier --write, yarn lint

chore: updated review requests
  .gitignore
  src/select/SelectDropdown.ts
  src/select/SelectItem.ts
  src/select/SelectMenu.ts
  src/select/SelectTrigger.ts
  src/select/common.ts
  src/select/useSelectState.ts
Due: prettier --write

chore: added all keys
  src/select/SelectDropdown.ts
  src/select/SelectItem.ts
  src/select/SelectMenu.ts
  src/select/SelectTrigger.ts
  src/select/__keys.ts
Due: prettier --write

feat: wip select popover
  src/select/SelectDropdown.ts
  src/select/SelectMenu.ts
  src/select/SelectTrigger.ts
  src/select/__keys.ts
  src/select/stories/Select.stories.tsx
  src/select/useSelectState.ts
Due: prettier --write, yarn lint

fix: select component delay & focus selection bug
  src/select/SelectDropdown.ts
Due: prettier --write

chore: storybook addon config
  .storybook/manager.js
Due: prettier --write, yarn lint

refactor(accordion): ♻️ add helper for reducer
  package.json
  src/accordion/AccordionState.ts
  yarn.lock
Due: prettier --write, yarn lint:package

refactor(deps): ⬆️ upgrade chakra deps
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

fix(select): reduce typeahead delay & focus selection bug (#8)
  .storybook/manager.js
  src/select/SelectDropdown.ts
Due: prettier --write, yarn lint

feat(button): ✨ add react aria buttons
  package.json
  src/AriaButton/AriaButton.ts
  src/AriaButton/AriaToggleButton.ts
  src/AriaButton/index.ts
  src/AriaButton/stories/Button.stories.tsx
  src/index.js
  src/interactions/Focus.ts
  src/interactions/FocusVisible.ts
  src/interactions/FocusWithin.ts
  src/interactions/Hover.ts
  src/interactions/Keyboard.ts
  src/interactions/Press.ts
  src/interactions/__keys.ts
  src/interactions/index.ts
  src/interactions/stories/Interactions.stories.tsx
  src/interactions/utils.ts
  src/select/SelectDropdown.ts
  src/select/SelectItem.ts
  src/select/SelectMenu.ts
  src/select/SelectState.ts
  src/select/SelectTrigger.ts
  src/select/index.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

feat(components): ✨ add focus, button & link
  package.json
  src/Link/AriaLink.ts
  src/Link/index.ts
  src/Link/stories/Link.stories.tsx
  src/interactions/FocusRing.ts
  src/interactions/FocusVisible.ts
  src/interactions/Focusable.ts
  src/interactions/__keys.ts
  src/interactions/index.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

docs(button): 📝 better storybook docs for button
  .storybook/preview.js
  package.json
  src/AriaButton/stories/Button.stories.tsx
  src/button/AriaButton.ts
  src/button/AriaToggleButton.ts
  src/button/index.ts
  src/button/stories/AriaButton.stories.tsx
  src/button/stories/AriaToggleButton.stories.tsx
  src/button/stories/Buttons.tsx
  src/button/stories/ReakitButton.stories.tsx
  src/index.js
  src/slider/stories/styles.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

feat: extended select component with combobox features
  src/select/SelectDropdown.ts
  src/select/SelectInput.ts
  src/select/SelectItem.ts
  src/select/SelectMenu.ts
  src/select/SelectTrigger.ts
  src/select/__keys.ts
  src/select/index.ts
  src/select/stories/Combobox.stories.tsx
  src/select/stories/Select.stories.tsx
  src/select/stories/style.css
  src/select/useSelectState.ts
Due: prettier --write, yarn lint

feat(calendar): ✨ start calendar experiment
  package.json
  src/date-picker/index.ts
  src/date-picker/stories/DatePicker.stories.tsx
  src/date-picker/stories/DatePickerComp.tsx
  src/date-picker/stories/__utils.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

refactor: ♻️ remove datepicker experiments
  src/date-picker/index.ts
  src/date-picker/stories/DatePicker.stories.tsx
  src/date-picker/stories/DatePickerComp.tsx
  src/date-picker/stories/__utils.ts
Due: prettier --write, yarn lint

fix(select): select popover hide bug
  src/select/SelectDropdown.ts
  src/select/SelectMenu.ts
  src/select/SelectTrigger.ts
  src/select/common.ts
  src/select/stories/Combobox.stories.tsx
  src/select/useSelectState.ts
Due: prettier --write, yarn lint

fix(select): typehead bug due to composite container change
  src/select/SelectDropdown.ts
  src/select/SelectInput.ts
  src/select/SelectItem.ts
  src/select/SelectMenu.ts
  src/select/SelectTrigger.ts
  src/select/common.ts
  src/select/stories/Combobox.stories.tsx
  src/select/stories/style.css
  src/select/useSelectState.ts
Due: prettier --write, yarn lint

chore: useTypeahead improved keys skip
  src/select/common.ts
Due: prettier --write

feat(reakit): ✨ add all reakit components
  .storybook/preview.js
  src/abstract-components/index.ts
  src/checkbox/index.ts
  src/checkbox/stories/Checkbox.stories.tsx
  src/dialog/index.ts
  src/dialog/stories/Dialog.stories.tsx
  src/disclosure/index.ts
  src/disclosure/stories/Disclosure.stories.tsx
  src/form/index.ts
  src/form/stories/Form.stories.tsx
  src/group/index.ts
  src/group/stories/Group.stories.tsx
  src/index.js
  src/input/index.ts
  src/input/stories/Input.stories.tsx
  src/menu/index.ts
  src/menu/stories/Menu.stories.tsx
  src/popover/index.ts
  src/popover/stories/Popover.stories.tsx
  src/radio/index.ts
  src/radio/stories/Radio.stories.tsx
  src/seperator/index.ts
  src/seperator/stories/Separator.stories.tsx
  src/stories-example/Button.stories.tsx
  src/stories-example/Button.tsx
  src/stories-example/button.css
  src/tab/index.ts
  src/tab/stories/Tab.stories.tsx
  src/toolbar/index.ts
  src/toolbar/stories/Toolbar.stories.tsx
  src/tooltip/index.ts
  src/tooltip/stories/Tooltip.stories.tsx
  src/visually-hidden/index.ts
  src/visually-hidden/stories/VisuallyHidden.stories.tsx
Due: prettier --write, yarn lint

chore: added more storybook examples
  src/select/SelectItem.ts
  src/select/stories/Select.stories.tsx
Due: prettier --write, yarn lint

feat(picker): ✨ add picker template
  .eslintignore
  .lintstagedrc.json
  src/picker/Picker.ts
  src/picker/PickerButton.ts
  src/picker/PickerItem.ts
  src/picker/PickerListBox.ts
  src/picker/PickerState.ts
  src/picker/__keys.ts
  src/picker/index.ts
  src/picker/stories/Picker.stories.tsx
  src/picker/stories/style.css
Due: prettier --write, yarn lint

feat(picker): ✨ single picker live
  src/picker/Picker.ts
  src/picker/PickerButton.ts
  src/picker/PickerItem.ts
  src/picker/PickerListBox.ts
  src/picker/PickerState.ts
  src/picker/__keys.ts
  src/picker/__utils.ts
  src/picker/stories/Picker.stories.tsx
Due: prettier --write, yarn lint

fix: :bug: redeploy without css file
  src/picker/stories/style.css
Due: prettier --write

build: :green_heart: update deps
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

build: :green_heart: add emotion and redeploy
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

feat(select): virtual focus on mouse move over items
  src/select/SelectItem.ts
Due: prettier --write

feat(select): better typehead logic
  src/select/SelectDropdown.ts
  src/select/SelectInput.ts
  src/select/SelectTrigger.ts
  src/select/__keys.ts
  src/select/common.ts
  src/select/useSelectState.ts
Due: prettier --write

feat: :arrow_up: upgrade storybook deps
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

fix(select): fixed selected item focus reset bug
  src/select/SelectDropdown.ts
Due: prettier --write

fix(select): reset to first item focus on dropdown reopened
  src/select/SelectDropdown.ts
  src/select/stories/style.css
Due: prettier --write

chore: rename variable
  src/select/SelectDropdown.ts
Due: prettier --write

fix: scroll to bottom on arrow up key
  src/select/SelectMenu.ts
  src/select/SelectTrigger.ts
Due: prettier --write
