Repository adaptui/react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:package, yarn lint

chore(deps): ⬆️ update test packages & fix tests
  .github/workflows/test.yml
  docs-templates/toast.md
  docs/toast.md
  jest.config.ts
  package.json
  src/accordion/__tests__/Accordion.test.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

chore(deps): ⬆️ upgrade dev & prod deps (#205)
  .eslintignore
  .github/workflows/test.yml
  .prettierignore
  @types-tests/types.test-d.ts
  docs-templates/toast.md
  docs/accordion.md
  docs/calendar.md
  docs/datepicker.md
  docs/meter.md
  docs/number-input.md
  docs/progress.md
  docs/segment.md
  docs/select.md
  docs/timepicker.md
  docs/toast.md
  jest.config.ts
  package.json
  patches/@internationalized+number+3.0.1.patch
  scripts/create-preview-tabs.ts
  scripts/utils/inject-composition.js
  scripts/utils/inject-csb-links.js
  scripts/utils/inject-examples.js
  scripts/utils/inject-props.js
  scripts/utils/inject-toc.js
  src/accordion/__keys.ts
  src/accordion/__tests__/Accordion.test.tsx
  src/calendar/__tests__/RangeCalendar.test.tsx
  src/calendar/stories/CalendarBase.stories.tsx
  src/meter/stories/MeterStyled.component.tsx
  src/progress/ProgressState.ts
  src/timepicker/TimePickerColumnValue.ts
  src/toast/stories/ToastReactSpring.component.tsx
  src/toast/stories/ToastReactSpring.stories.tsx
  src/utils/utils.test.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

chore(storybook): ✨ add webpack 5 support
  .storybook/main.js
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

chore(husky): 🚨 remove running test from commit for lint-staged
  .husky/pre-commit
Due: none

chore(packagejson): 🔧 remove unwanted scripts
  package.json
Due: prettier --write, yarn lint:package

chore(tsconfig): 🔧 remove storybook tsconfig
  .storybook/main.js
  tsconfig.storybook.json
Due: prettier --write, yarn lint

chore(packagejson): 🔧 move release scripts to the last
  package.json
Due: prettier --write, yarn lint:package

chore(release): 🚀 v0.3.1
  .release-it.json
  .versionrc.json
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(releaseit): 🔖 update releaseit config
  .release-it.json
Due: prettier --write

🚀 Release v0.3.2
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

chore(releaseit): 🔧 update releaseit config
  .release-it.json
Due: prettier --write

build(types): 💚 fix building types in last version
  .storybook/preview-head.html
  .storybook/preview.js
  package.json
  tailwind.config.js
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

chore(prettier): 🙈 add changelog to prettier ignore
  .prettierignore
Due: none

🚀 Release v0.3.3
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

feat: improving timepicker ux
  .storybook/main.js
  src/timepicker/TimePickerColumnState.ts
  src/timepicker/TimePickerColumnValue.ts
  src/timepicker/TimePickerState.ts
  yarn.lock
Due: prettier --write, yarn lint

fix: timepicker stale state of composite & close on enter
  src/timepicker/TimePickerColumnState.ts
  src/timepicker/TimePickerColumnValue.ts
  src/timepicker/TimePickerState.ts
  yarn.lock
Due: prettier --write, yarn lint

feat: added support for old time restore and update
  src/select/__keys.ts
  src/timepicker/TimePickerColumnState.ts
  src/timepicker/TimePickerColumnValue.ts
  src/timepicker/TimePickerState.ts
  src/timepicker/__keys.ts
Due: prettier --write, yarn lint

test: fixed tests & added more test cases
  src/timepicker/__tests__/TimePicker.test.tsx
Due: prettier --write, yarn lint

test: fix axe tests
  src/datepicker/__tests__/DatePicker.test.tsx
  src/datepicker/__tests__/DateRangePicker.test.tsx
  src/picker-base/__tests__/BasePicker.test.tsx
Due: prettier --write, yarn lint

chore: minor changes
  src/timepicker/TimePickerColumnState.ts
Due: prettier --write, yarn lint

chore: feat improve picker ux
  src/timepicker/TimePickerColumnValue.ts
  src/timepicker/TimePickerState.ts
  src/timepicker/stories/TimePicker.css
Due: prettier --write, yarn lint

fix(timepicker): 🐛 fix the weird bug in react
  src/timepicker/TimePickerColumnState.ts
  src/timepicker/TimePickerColumnValue.ts
  src/timepicker/TimePickerState.ts
  src/timepicker/__keys.ts
Due: prettier --write, yarn lint

fix: date picker old time pass by reference bug
  src/timepicker/TimePickerColumnValue.ts
  src/timepicker/TimePickerState.ts
Due: prettier --write, yarn lint

fix: fixed all bugs & added better cancellation behaviour
  src/timepicker/TimePickerColumnState.ts
  src/timepicker/TimePickerColumnValue.ts
  src/timepicker/TimePickerState.ts
Due: prettier --write, yarn lint

test: fixed test
  src/timepicker/__tests__/TimePicker.test.tsx
Due: prettier --write, yarn lint

fix: edge cases of when popover is visible it should update the old time
  src/timepicker/TimePickerColumnState.ts
  src/timepicker/TimePickerColumnValue.ts
  src/timepicker/TimePickerState.ts
Due: prettier --write, yarn lint

chore(deps): ⬆️ update dev deps
  package.json
  src/timepicker/TimePickerState.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

test: added more tests
  src/timepicker/__tests__/TimePicker.test.tsx
Due: prettier --write, yarn lint

feat: added support for closing on second escape press
  src/timepicker/TimePickerColumnState.ts
  src/timepicker/TimePickerColumnValue.ts
  src/timepicker/__keys.ts
Due: prettier --write, yarn lint

chore: minor css updates
  src/timepicker/stories/TimePicker.css
Due: prettier --write

refactor(timepicker): ♻️ improve voice over on timepicker segment
  src/segment/Segment.ts
Due: prettier --write, yarn lint

refactor(segment): ♻️ remove console.log
  src/segment/Segment.ts
Due: prettier --write, yarn lint

feat: added announce selected date
  src/timepicker/TimePickerState.ts
Due: prettier --write, yarn lint

test: fixed test
  src/timepicker/TimePickerState.ts
Due: prettier --write, yarn lint

chore(deps): ⬆️ update deps & fix babel warning
  babel.config.js
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

feat: Improved timepicker UX (#208)
  .storybook/main.js
  babel.config.js
  package.json
  src/datepicker/__tests__/DatePicker.test.tsx
  src/datepicker/__tests__/DateRangePicker.test.tsx
  src/picker-base/__tests__/BasePicker.test.tsx
  src/segment/Segment.ts
  src/select/__keys.ts
  src/timepicker/TimePickerColumnState.ts
  src/timepicker/TimePickerColumnValue.ts
  src/timepicker/TimePickerState.ts
  src/timepicker/__keys.ts
  src/timepicker/__tests__/TimePicker.test.tsx
  src/timepicker/stories/TimePicker.css
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

docs(readme): 📝 add repo visualization
  README.md
Due: prettier --write

chore: added a11y links for warnings
  src/meter/Meter.ts
  src/pagination/Pagination.ts
  src/slider/SliderInput.ts
Due: prettier --write, yarn lint

Path conditions:
  prettier --write: any of: *.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn lint:package: any of: package.json
  yarn lint: any of: **/*.{js,jsx,ts,tsx}
