Repository adaptui/react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:package, yarn lint

.lintstagedrc.json:

{
  "*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "prettier --write",
    "git add"
  ],
  "package.json": ["yarn lint:package"],
  "**/*.{js,jsx,ts,tsx}": ["yarn lint"]
}

refactor(calendar): refactored cell button and added tests for arialabel
  src/calendar/CalendarButton.ts
  src/calendar/CalendarCellButton.ts
  src/calendar/CalendarState.ts
  src/calendar/__tests__/Calendar.test.tsx
Due: prettier --write, yarn lint

chore: minor refactors
  src/calendar/CalendarCellButton.ts
  src/calendar/helpers/index.ts
Due: prettier --write, yarn lint

chore: added a11y links for warnings (#211)
  src/meter/Meter.ts
  src/pagination/Pagination.ts
  src/slider/SliderInput.ts
Due: prettier --write, yarn lint

refactor(calendar): refactored cell button and added tests for aria label (#212)
  src/calendar/CalendarButton.ts
  src/calendar/CalendarCellButton.ts
  src/calendar/CalendarState.ts
  src/calendar/__tests__/Calendar.test.tsx
  src/calendar/helpers/index.ts
Due: prettier --write, yarn lint

test: added tests for toast state
  src/toast/ToastState.ts
  src/toast/__tests__/ToastState.test.tsx
Due: prettier --write, yarn lint

refactor: migrating to dayjs
  package.json
  src/calendar/CalendarCell.ts
  src/calendar/CalendarCellButton.ts
  src/calendar/CalendarState.ts
  src/calendar/RangeCalendarState.ts
  src/calendar/__tests__/Calendar.test.tsx
  src/calendar/helpers/index.ts
  src/calendar/stories/CalendarBase.stories.tsx
  src/calendar/stories/CalendarRange.stories.tsx
  src/datepicker/__tests__/DatePicker.test.tsx
  src/datepicker/stories/DatePickerBase.stories.tsx
  src/datepicker/stories/DatePickerRange.stories.tsx
  src/datepicker/stories/DateRangePickerStyled.stories.tsx
  src/segment/helpers/index.ts
  src/timepicker/TimePickerState.ts
  src/timepicker/helpers.ts
  src/utils/date.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

test: fixed tests and updated setters
  src/calendar/__tests__/Calendar.test.tsx
  src/datepicker/__tests__/DatePicker.test.tsx
  src/utils/date.ts
Due: prettier --write, yarn lint

chore: minor changes
  src/segment/__tests__/utils.test.ts
  src/utils/date.ts
Due: prettier --write, yarn lint

chore: reorganize functions
  src/utils/date.ts
Due: prettier --write, yarn lint

refactor: migrate format strings to dayjs
  src/calendar/RangeCalendarState.ts
  src/calendar/__tests__/Calendar.test.tsx
  src/calendar/stories/CalendarBase.stories.tsx
  src/calendar/stories/CalendarRange.stories.tsx
  src/datepicker/__tests__/DatePicker.test.tsx
  src/datepicker/stories/DatePickerBase.stories.tsx
  src/datepicker/stories/DatePickerRange.stories.tsx
  src/utils/date.ts
Due: prettier --write, yarn lint

refactor: migrate parseDate (failing)
  src/utils/date.ts
Due: prettier --write, yarn lint

refactor: migrate closestTo
  src/utils/date.ts
Due: prettier --write, yarn lint

refactor: revert parseDate and fix closestTo types
  src/utils/date.ts
Due: prettier --write, yarn lint

refactor: migrated to dayjs (#214)
  package.json
  src/calendar/CalendarCell.ts
  src/calendar/CalendarCellButton.ts
  src/calendar/CalendarState.ts
  src/calendar/RangeCalendarState.ts
  src/calendar/__tests__/Calendar.test.tsx
  src/calendar/helpers/index.ts
  src/calendar/stories/CalendarBase.stories.tsx
  src/calendar/stories/CalendarRange.stories.tsx
  src/datepicker/__tests__/DatePicker.test.tsx
  src/datepicker/stories/DatePickerBase.stories.tsx
  src/datepicker/stories/DatePickerRange.stories.tsx
  src/datepicker/stories/DateRangePickerStyled.stories.tsx
  src/segment/__tests__/utils.test.ts
  src/segment/helpers/index.ts
  src/timepicker/TimePickerState.ts
  src/timepicker/helpers.ts
  src/utils/date.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

test: added tests for toast state (#213)
  src/toast/ToastState.ts
  src/toast/__tests__/ToastState.test.tsx
Due: prettier --write, yarn lint

chore(deps): ⬆️ upgrade dev deps & fix sb babel errors
  babel.config.js
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

chore(format): 🎨 fix eslint conflict with prettier latest
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(format): 🎨 fix the wrong version
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

chore(deps): ⬆️ update prod deps
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

fix(patch): 🐛 internationalized number
  patches/@internationalized+number+3.0.2.patch
Due: none

docs: 📝 update docs
  docs/calendar.md
  docs/slider.md
  docs/timepicker.md
  docs/toast.md
Due: prettier --write

🚀 Release v0.4.0
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

build(release-it): 👷 update release configs
  .release-it.json
Due: prettier --write

build(release-it): 💚 remove snapshot update in test
  .release-it.json
Due: prettier --write

chore(branch): 🔧 change master to main
  .github/workflows/test.yml
  README.md
Due: prettier --write

feat(checkbox): ✨ add checkbox & update deps
  package.json
  scripts/generate-js.js
  src/checkbox/Checkbox.tsx
  src/checkbox/CheckboxState.tsx
  src/checkbox/__keys.ts
  src/checkbox/helpers.tsx
  src/checkbox/index.ts
  src/checkbox/stories/Checkbox.component.tsx
  src/checkbox/stories/Checkbox.stories.tsx
  src/checkbox/stories/CheckboxState.component.tsx
  src/index.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

docs(generatejs): 📝 update sb preview templates generation
  .eslintignore
  .gitignore
  .prettierignore
  .storybook/utils.ts
  scripts/generate-js.js
  src/accordion/stories/AccordionBasic.stories.tsx
  src/accordion/stories/AccordionMulti.stories.tsx
  src/accordion/stories/AccordionStyled.stories.tsx
  src/accordion/stories/AccordionZAuto.stories.tsx
  src/checkbox/stories/Checkbox.stories.tsx
Due: prettier --write, yarn lint

build(build): 💚 fix vercel build error with path
  src/accordion/stories/AccordionTutorial.stories.tsx
Due: prettier --write, yarn lint

build(vercel): 💚 fix slider import path
  src/slider/stories/SliderBasic.stories.tsx
Due: prettier --write, yarn lint

docs(storybook): 📝 finish stories migration to new component
  .storybook/utils.ts
  src/select/stories/SelectBasic.stories.tsx
  src/select/stories/SelectControlled.stories.tsx
  src/select/stories/SelectCustom.stories.tsx
  src/select/stories/SelectDynamic.stories.tsx
  src/select/stories/SelectFetch.stories.tsx
  src/select/stories/SelectMultiple.stories.tsx
  src/select/stories/SelectStyled.stories.tsx
  src/select/stories/SelectVirtual.component.tsx
  src/select/stories/SelectVirtual.stories.tsx
  src/select/stories/SelectWindows.stories.tsx
  src/slider/stories/SliderAllInOne.component.tsx
  src/slider/stories/SliderAllInOne.stories.tsx
  src/slider/stories/SliderBasic.component.tsx
  src/slider/stories/SliderBasic.stories.tsx
  src/slider/stories/SliderMulti.component.tsx
  src/slider/stories/SliderMulti.stories.tsx
  src/slider/stories/SliderRange.component.tsx
  src/slider/stories/SliderRange.stories.tsx
  src/slider/stories/SliderSingleOrigin.component.tsx
  src/slider/stories/SliderSingleOrigin.stories.tsx
  src/slider/stories/SliderSingleReversed.component.tsx
  src/slider/stories/SliderSingleReversed.stories.tsx
  src/slider/stories/SliderSingleVertical.component.tsx
  src/slider/stories/SliderSingleVertical.stories.tsx
  src/timepicker/stories/TimePickerBasic.component.tsx
  src/timepicker/stories/TimePickerBasic.stories.tsx
  src/toast/stories/ToastBasic.component.tsx
  src/toast/stories/ToastBasic.stories.tsx
  src/toast/stories/ToastCSSAnimated.component.tsx
  src/toast/stories/ToastCSSAnimated.stories.tsx
  src/toast/stories/ToastCSSTransition.component.tsx
  src/toast/stories/ToastCSSTransition.stories.tsx
  src/toast/stories/ToastReactSpring.component.tsx
  src/toast/stories/ToastReactSpring.stories.tsx
Due: prettier --write, yarn lint

ci(templates): 💚 fix vercel templates bug
  src/slider/stories/SliderMulti.stories.tsx
  src/slider/stories/SliderRange.stories.tsx
  src/slider/stories/SliderSingleOrigin.stories.tsx
  src/slider/stories/SliderSingleReversed.stories.tsx
  src/slider/stories/SliderSingleVertical.stories.tsx
Due: prettier --write, yarn lint

refactor(date): ♻️ update format & parse to reduce bundle size
  babel.config.js
  package.json
  src/calendar/CalendarCellButton.ts
  src/calendar/CalendarState.ts
  src/calendar/RangeCalendarState.ts
  src/calendar/__keys.ts
  src/calendar/__tests__/Calendar.test.tsx
  src/calendar/__tests__/RangeCalendar.test.tsx
  src/calendar/__tests__/__snapshots__/utils.test.tsx.snap
  src/calendar/__tests__/utils.test.tsx
  src/calendar/helpers/index.ts
  src/calendar/stories/CalendarBasic.stories.tsx
  src/calendar/stories/CalendarRange.stories.tsx
  src/datepicker/DatePickerState.ts
  src/datepicker/DateRangePickerState.ts
  src/datepicker/__tests__/DatePicker.test.tsx
  src/datepicker/stories/DatePickerBasic.stories.tsx
  src/datepicker/stories/DateRangePickerBasic.stories.tsx
  src/datepicker/stories/DateRangePickerStyled.stories.tsx
  src/timepicker/TimePickerState.ts
  src/timepicker/helpers.ts
  src/utils/date.ts
  src/utils/utils.test.tsx
Due: prettier --write, yarn lint:package, yarn lint

test(dates): ✅ add & update tests for the new changes
  package.json
  src/calendar/CalendarState.ts
  src/calendar/RangeCalendarState.ts
  src/calendar/__tests__/Calendar.test.tsx
  src/calendar/__tests__/RangeCalendar.test.tsx
  src/calendar/__tests__/__snapshots__/utils.test.tsx.snap
  src/calendar/__tests__/utils.test.tsx
  src/datepicker/__tests__/DateRangePicker.test.tsx
  src/datepicker/stories/DateRangePickerBasic.stories.tsx
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

chore(pkg): ⬆️ update dev deps & move dev deps
  package.json
  yarn.lock
Due: prettier --write, yarn lint:package

docs(checkbox): 📝 change misnaming in aria text
  docs-templates/checkbox.md
Due: prettier --write

docs(calendar): 📝 update docs generation
  docs/calendar.md
  docs/checkbox.md
Due: prettier --write
