Repository adaptui/react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:package, yarn lint

.lintstagedrc.json:

{
  "*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "prettier --write",
    "git add"
  ],
  "package.json": ["yarn lint:package"],
  "**/*.{js,jsx,ts,tsx}": ["yarn lint"]
}

chore(release): 0.1.1-alpha.2
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

chore(release): 0.1.1-alpha.3
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

test: added tests for calendar
  src/calendar/__tests__/Calendar.test.tsx
Due: prettier --write, yarn lint

test: added test for range calendar
  src/calendar/__tests__/Calendar.test.tsx
  src/calendar/__tests__/RangeCalendar.test.tsx
Due: prettier --write, yarn lint

feat(time-picker): ✨ update timepicker with segment
  src/datepicker/__keys.ts
  src/segment-spinner/__keys.ts
  src/timepicker/TimePicker.ts
  src/timepicker/TimePickerColumn.ts
  src/timepicker/TimePickerColumnState.ts
  src/timepicker/TimePickerColumnValue.ts
  src/timepicker/TimePickerState.ts
  src/timepicker/TimePickerTrigger.ts
  src/timepicker/TimeSegment.ts
  src/timepicker/TimeSegmentField.ts
  src/timepicker/__keys.ts
  src/timepicker/stories/TimePicker.stories.tsx
  src/timepicker/stories/index.css
Due: prettier --write, yarn lint

test: fix calendar today tests
  src/calendar/__tests__/Calendar.test.tsx
  src/calendar/__tests__/RangeCalendar.test.tsx
Due: prettier --write, yarn lint

test: added tests for calendar (#73)
  src/calendar/__tests__/Calendar.test.tsx
  src/calendar/__tests__/RangeCalendar.test.tsx
Due: prettier --write, yarn lint

feat(time-picker): ✨ improve timepicker with segment
  src/datepicker/__keys.ts
  src/segment-spinner/__keys.ts
  src/timepicker/TimePicker.ts
  src/timepicker/TimePickerColumn.ts
  src/timepicker/TimePickerColumnState.ts
  src/timepicker/TimePickerColumnValue.ts
  src/timepicker/TimePickerState.ts
  src/timepicker/TimePickerTrigger.ts
  src/timepicker/TimeSegment.ts
  src/timepicker/TimeSegmentField.ts
  src/timepicker/__keys.ts
  src/timepicker/stories/TimePicker.stories.tsx
  src/timepicker/stories/index.css
Due: prettier --write, yarn lint

fix(time-picker): 🐛 popover state usage & ts error with onchange
  src/timepicker/TimePickerState.ts
Due: prettier --write, yarn lint

test: added tests for segment
  package.json
  src/segment-spinner/__tests__/Segment.test.tsx
Due: prettier --write, yarn lint:package, yarn lint

build: added bundlesize
  bundlesize.config.json
  package.json
Due: prettier --write, yarn lint:package

chore: bundlesize action added
  .github/workflows/bundlesize.yml
Due: prettier --write

refactor(time-picker): ♻️ add combobox aria with keyboard navigation
  src/datepicker/DatePicker.ts
  src/datepicker/DatePickerState.ts
  src/datepicker/DateSegment.ts
  src/datepicker/DateSegmentField.ts
  src/segment-spinner/index.ts
  src/timepicker/TimePicker.ts
  src/timepicker/TimePickerColumnState.ts
  src/timepicker/TimePickerColumnValue.ts
  src/timepicker/TimePickerContent.ts
  src/timepicker/TimePickerState.ts
  src/timepicker/TimePickerTrigger.ts
  src/timepicker/TimeSegment.ts
  src/timepicker/TimeSegmentField.ts
  src/timepicker/__keys.ts
  src/timepicker/stories/TimePicker.stories.tsx
  src/timepicker/stories/index.css
  src/utils/index.ts
Due: prettier --write, yarn lint

build: added bundlesize configs (#77)
  bundlesize.config.json
  package.json
Due: prettier --write, yarn lint:package

test: added tests for segment (#76)
  package.json
  src/segment-spinner/__tests__/Segment.test.tsx
Due: prettier --write, yarn lint:package, yarn lint

refactor(time-picker): ♻️ move common types to utils
  src/calendar/__utils.ts
  src/calendar/index.d.ts
  src/calendar/index.ts
  src/calendar/stories/Calendar.stories.tsx
  src/calendar/stories/RangeCalendar.stories.tsx
  src/datepicker/DatePickerState.ts
  src/datepicker/__utils.ts
  src/datepicker/index.d.ts
  src/datepicker/stories/DatePicker.stories.tsx
  src/segment-spinner/Segment.ts
  src/segment-spinner/__utils.ts
  src/timepicker/TimePickerColumnValue.ts
  src/timepicker/TimePickerState.ts
  src/utils/__keys.ts
  src/utils/index.ts
  src/utils/types.ts
Due: prettier --write, yarn lint

refactor(time-picker): ♻️ rename segment-spinner to segment
  src/datepicker/DatePickerSegment.ts
  src/datepicker/DatePickerSegmentField.ts
  src/datepicker/DatePickerState.ts
  src/datepicker/DateSegment.ts
  src/datepicker/DateSegmentField.ts
  src/datepicker/__keys.ts
  src/datepicker/index.ts
  src/datepicker/stories/DatePicker.stories.tsx
  src/picker/index.ts
  src/segment/Segment.ts
  src/segment/SegmentField.ts
  src/segment/SegmentState.ts
  src/segment/__keys.ts
  src/segment/__utils.ts
  src/segment/index.ts
  src/segment/stories/Segment.stories.tsx
  src/segment/stories/index.css
  src/timepicker/TimePickerSegment.ts
  src/timepicker/TimePickerSegmentField.ts
  src/timepicker/TimePickerState.ts
  src/timepicker/TimeSegment.ts
  src/timepicker/TimeSegmentField.ts
  src/timepicker/__keys.ts
  src/timepicker/index.ts
  src/timepicker/stories/TimePicker.stories.tsx
Due: prettier --write, yarn lint

refactor(picker-base): ♻️ add picker base to date & time picker
  src/datepicker/DatePicker.ts
  src/datepicker/DatePickerContent.ts
  src/datepicker/DatePickerState.ts
  src/datepicker/__keys.ts
  src/datepicker/index.d.ts
  src/picker-base/PickerBase.ts
  src/picker-base/PickerBaseContent.ts
  src/picker-base/PickerBaseState.ts
  src/picker-base/PickerBaseTrigger.ts
  src/picker-base/__keys.ts
  src/picker-base/index.ts
  src/picker/index.ts
  src/timepicker/TimePicker.ts
  src/timepicker/TimePickerContent.ts
  src/timepicker/TimePickerState.ts
  src/timepicker/TimePickerTrigger.ts
  src/timepicker/__keys.ts
Due: prettier --write, yarn lint

test: added tests for SegmentState
  src/segment-spinner/__tests__/SegmentState.test.ts
Due: prettier --write, yarn lint

refactor(time-picker): ♻️ new timepicker state with much lesser code
  src/timepicker/TimePickerColumnState.ts
  src/timepicker/TimePickerColumnValue.ts
  src/timepicker/TimePickerState.ts
  src/timepicker/stories/TimePicker.stories.tsx
Due: prettier --write, yarn lint

refactor(time-picker): ♻️ remove default value state & make utils
  src/timepicker/TimePickerColumnState.ts
  src/timepicker/TimePickerState.ts
  src/timepicker/__utils.ts
Due: prettier --write, yarn lint

refactor(types): 🏷️ update types for date,time & calendar
  src/calendar/CalendarHeader.ts
  src/calendar/CalendarState.ts
  src/calendar/RangeCalendarState.ts
  src/calendar/__utils.ts
  src/calendar/index.d.ts
  src/calendar/stories/Calendar.stories.tsx
  src/calendar/stories/CalendarComponent.tsx
  src/datepicker/DatePickerState.ts
  src/datepicker/__utils.ts
  src/datepicker/index.d.ts
  src/datepicker/stories/DatePicker.stories.tsx
  src/segment/SegmentState.ts
  src/segment/__utils.ts
  src/timepicker/TimePickerColumnState.ts
  src/timepicker/TimePickerState.ts
  src/utils/index.ts
  src/utils/types.ts
Due: prettier --write, yarn lint

refactor(types): 🏷️ arrange imports & update type comments
  src/calendar/CalendarState.ts
  src/utils/types.ts
Due: prettier --write, yarn lint

test: added tests for SegmentState (#79)
  src/segment-spinner/__tests__/SegmentState.test.ts
Due: prettier --write, yarn lint

test: added tests for PickerBase
  src/picker-base/__tests__/PickerBase.test.tsx
  src/picker-base/stories/PickerBase.stories.tsx
Due: prettier --write, yarn lint

refactor(time-picker): ♻️ add pickerbase trigger to datepicker
  src/datepicker/DatePickerTrigger.ts
  src/picker-base/PickerBaseTrigger.ts
  src/timepicker/TimePickerState.ts
  src/timepicker/__utils.ts
  src/timepicker/stories/TimePicker.stories.tsx
  src/timepicker/stories/index.css
Due: prettier --write, yarn lint

refactor(time-picker): ♻️ remove unused imports & useProps
  src/timepicker/TimePicker.ts
  src/timepicker/TimePickerContent.ts
  src/timepicker/TimePickerTrigger.ts
  src/timepicker/stories/TimePicker.stories.tsx
Due: prettier --write, yarn lint

fix: picker base role to button
  src/picker-base/PickerBase.ts
Due: prettier --write, yarn lint

test: added axe tests
  src/picker-base/__tests__/PickerBase.test.tsx
Due: prettier --write, yarn lint

test: added test for BasePicker
  src/picker-base/__tests__/BasePicker.tests.tsx
  src/picker-base/stories/BasePicker.stories.tsx
Due: prettier --write, yarn lint

test: added test for BasePicker (#83)
  src/picker-base/__tests__/BasePicker.tests.tsx
  src/picker-base/stories/BasePicker.stories.tsx
Due: prettier --write, yarn lint

chore(deps): ⬆️ upgrade project & dev deps
  package.json
  src/calendar/CalendarButton.ts
  src/index.ts
Due: prettier --write, yarn lint:package, yarn lint

fix: timepicker voiceover a11y
  src/timepicker/TimePickerColumn.ts
  src/timepicker/TimePickerColumnState.ts
  src/timepicker/TimePickerColumnValue.ts
  src/timepicker/TimePickerTrigger.ts
  src/timepicker/__keys.ts
Due: prettier --write, yarn lint

feat(time-picker): ✨ add keyboard navigation to the column
  src/timepicker/TimePickerColumn.ts
  src/timepicker/TimePickerContent.ts
Due: prettier --write, yarn lint

fix: timepicker voiceover a11y (#84)
  src/timepicker/TimePickerColumn.ts
  src/timepicker/TimePickerColumnState.ts
  src/timepicker/TimePickerColumnValue.ts
  src/timepicker/TimePickerTrigger.ts
  src/timepicker/__keys.ts
Due: prettier --write, yarn lint

refactor(timepicker): ♻️ add guard clause to createonkeydown
  src/timepicker/TimePickerContent.ts
Due: prettier --write, yarn lint

test: added test for timepicker
  src/timepicker/TimePickerColumn.ts
  src/timepicker/TimePickerColumnState.ts
  src/timepicker/TimePickerState.ts
  src/timepicker/__keys.ts
  src/timepicker/__tests__/TimePicker.test.tsx
Due: prettier --write, yarn lint

test: added test for timepicker (#86)
  src/timepicker/TimePickerColumn.ts
  src/timepicker/TimePickerColumnState.ts
  src/timepicker/TimePickerState.ts
  src/timepicker/__keys.ts
  src/timepicker/__tests__/TimePicker.test.tsx
Due: prettier --write, yarn lint
