Repository adaptui/react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:package, yarn lint

.lintstagedrc.json:

{
  "*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "prettier --write",
    "git add"
  ],
  "package.json": ["yarn lint:package"],
  "**/*.{js,jsx,ts,tsx}": ["yarn lint"]
}

fix(number-input): 🐛 simple state bug fix with effect in buttons
  src/number-input/NumberInputDecrementButton.ts
  src/number-input/NumberInputIncrementButton.ts
  src/number-input/NumberInputState.ts
  src/number-input/__keys.ts
  src/number-input/createNumberInputButtonsHook.ts
  src/number-input/helpers/index.ts
  src/number-input/stories/NumberInput.stories.tsx
  src/number-input/useNumberInputButton.ts
Due: prettier --write, yarn lint

refactor(number-input): ♻️ add jsdoc & better named variables
  src/number-input/NumberInput.ts
  src/number-input/NumberInputState.ts
  src/number-input/__keys.ts
  src/number-input/helpers/index.ts
Due: prettier --write, yarn lint

chore: test partially working
  babel.config.js
  jest.config.ts
  jest.configx.js
  jestPreprocess.js
  package.json
Due: prettier --write, yarn lint:package, yarn lint

chore: fixed broken storybook examples and improved them (#125)
  src/select/stories/Select.stories.tsx
  src/select/stories/style.css
Due: prettier --write, yarn lint

test: finally working tests
  src/slider/__tests__/Slider.test.tsx
Due: prettier --write, yarn lint

docs(number-input): 📝 improve number input stories basic
  src/number-input/NumberInputDecrementButton.ts
  src/number-input/NumberInputIncrementButton.ts
  src/number-input/NumberInputState.ts
  src/number-input/stories/NumberInput.component.tsx
  src/number-input/stories/NumberInput.stories.tsx
  src/number-input/stories/templates.ts
Due: prettier --write, yarn lint

chore: added notes on slider fixing the testing issue
  jest.config.ts
  src/slider/__tests__/Slider.test.tsx
Due: prettier --write, yarn lint

test: fixed broken tests for today
  src/calendar/__tests__/Calendar.test.tsx
Due: prettier --write, yarn lint

test: fixed broken tests for today (#128)
  src/calendar/__tests__/Calendar.test.tsx
Due: prettier --write, yarn lint

test(number-input): ✅ fix tests & js docs
  src/accordion/__keys.ts
  src/number-input/NumberInputState.ts
  src/number-input/__test__/NumberInput.test.tsx
  src/number-input/stories/NumberInput.component.tsx
Due: prettier --write, yarn lint

chore(number-input): 🏷️ update & fix types for input
  src/accordion/stories/Accordion.component.tsx
  src/accordion/stories/AccordionStyled.component.tsx
  src/number-input/NumberInputState.ts
  src/number-input/stories/NumberInput.component.tsx
Due: prettier --write, yarn lint

chore: wip runtime ts transpile examples
  src/accordion/stories/templates.ts
Due: prettier --write, yarn lint

chore(transformts): ✨ improve ts to js transform function
  .storybook/main.ts
  .storybook/webpack.config.js
  package.json
  scripts/transpile-ts.js
  src/accordion/stories/Accordion.stories.tsx
  src/accordion/stories/templates.ts
Due: prettier --write, yarn lint:package, yarn lint

chore: review changes
  src/slider/__tests__/Slider.test.tsx
Due: prettier --write, yarn lint

docs(link): ✨ improve link & breadcrumb link stories
  src/breadcrumbs/stories/Breadcrumbs.component.tsx
  src/breadcrumbs/stories/Breadcrumbs.css
  src/breadcrumbs/stories/Breadcrumbs.stories.tsx
  src/breadcrumbs/stories/templates.ts
  src/calendar/__tests__/Calendar.test.tsx
  src/link/stories/Link.component.tsx
  src/link/stories/Link.stories.tsx
  src/link/stories/templates.ts
Due: prettier --write, yarn lint

test: fixed tests
  src/calendar/__tests__/RangeCalendar.test.tsx
Due: prettier --write, yarn lint

test: fixed tests (#130)
  src/calendar/__tests__/RangeCalendar.test.tsx
Due: prettier --write, yarn lint

fix(storybook): 💚 storybook babel config
  babel.config.js
  package.json
Due: prettier --write, yarn lint:package, yarn lint

build: added js generation script
  .gitignore
  package.json
  scripts/generate-js.js
  scripts/transpile-ts.js
  src/accordion/stories/Accordion.stories.tsx
  src/accordion/stories/AccordionStyled.stories.tsx
  src/accordion/stories/templates.ts
Due: prettier --write, yarn lint:package, yarn lint

docs(stories): 📝 improve stories for slider, progress & meter
  src/link/stories/Link.component.tsx
  src/meter/stories/Meter.component.tsx
  src/meter/stories/Meter.stories.tsx
  src/meter/stories/templates.ts
  src/progress/ProgressState.ts
  src/progress/stories/CircularProgress.component.tsx
  src/progress/stories/CircularProgress.stories.tsx
  src/progress/stories/LinearProgress.component.tsx
  src/progress/stories/LinearProgress.stories.tsx
  src/progress/stories/templates.ts
  src/slider/SliderState.ts
  src/slider/stories/Slider.component.tsx
  src/slider/stories/Slider.css
  src/slider/stories/Slider.stories.tsx
  src/slider/stories/templates.ts
Due: prettier --write, yarn lint

chore: revert slider story changes
  src/slider/stories/Slider.stories.tsx
Due: prettier --write, yarn lint

chore: remove unneeded jest config file
  jest.configx.js
Due: prettier --write, yarn lint

build(automation): 👷 improve transpile js automated script
  scripts/generate-js.js
Due: prettier --write, yarn lint

chore(build): 💚 update scripts for build
  package.json
Due: prettier --write, yarn lint:package

chore: cli improvements
  scripts/generate-js.js
Due: prettier --write, yarn lint

chore: removed unused jest preprocessor file
  jestPreprocess.js
Due: prettier --write, yarn lint

test: added slider tests (#126)
  babel.config.js
  jest.config.ts
  package.json
  src/slider/__tests__/Slider.test.tsx
  src/slider/stories/Slider.stories.tsx
  src/utils/test-utils.ts
Due: prettier --write, yarn lint:package, yarn lint

refactor(yarn): 💚 add yarn lock to utilize yarn in netlify
  .gitignore
  yarn.lock
Due: none

chore(webpack): 💚 remove storybook warning fix
  .storybook/webpack.config.js
  scripts/generate-js.js
  yarn.lock
Due: prettier --write, yarn lint

chore: transpile examples from ts to js (#129)
  .gitignore
  .storybook/main.ts
  package.json
  scripts/generate-js.js
  scripts/transpile-ts.js
  src/accordion/stories/Accordion.stories.tsx
  src/accordion/stories/AccordionStyled.stories.tsx
  src/accordion/stories/templates.ts
  yarn.lock
Due: prettier --write, yarn lint:package, yarn lint

docs(stories): 📝 update stories for js examples
  src/breadcrumbs/stories/Breadcrumbs.stories.tsx
  src/breadcrumbs/stories/templates.ts
  src/link/stories/Link.stories.tsx
  src/link/stories/templates.ts
  src/meter/stories/Meter.stories.tsx
  src/meter/stories/templates.ts
  src/progress/stories/CircularProgress.stories.tsx
  src/progress/stories/LinearProgress.stories.tsx
  src/progress/stories/templates.ts
  src/slider/stories/Slider.stories.tsx
  src/slider/stories/templates.ts
Due: prettier --write, yarn lint

Improved stories Links, Meter, Progress & Slider (#131)
  src/breadcrumbs/stories/Breadcrumbs.component.tsx
  src/breadcrumbs/stories/Breadcrumbs.css
  src/breadcrumbs/stories/Breadcrumbs.stories.tsx
  src/breadcrumbs/stories/templates.ts
  src/link/stories/Link.component.tsx
  src/link/stories/Link.stories.tsx
  src/link/stories/templates.ts
  src/meter/stories/Meter.component.tsx
  src/meter/stories/Meter.stories.tsx
  src/meter/stories/templates.ts
  src/progress/ProgressState.ts
  src/progress/stories/CircularProgress.component.tsx
  src/progress/stories/CircularProgress.stories.tsx
  src/progress/stories/LinearProgress.component.tsx
  src/progress/stories/LinearProgress.stories.tsx
  src/progress/stories/templates.ts
  src/slider/SliderState.ts
  src/slider/stories/Slider.component.tsx
  src/slider/stories/Slider.css
  src/slider/stories/Slider.stories.tsx
  src/slider/stories/templates.ts
Due: prettier --write, yarn lint

fix: js generate script path.sep
  scripts/generate-js.js
Due: prettier --write, yarn lint

fix: js generate script path.sep (#132)
  scripts/generate-js.js
Due: prettier --write, yarn lint

test: added more test cases for slider
  src/slider/__tests__/Slider.test.tsx
Due: prettier --write, yarn lint

chore(number-input): 📝 add examples for form input usage
  src/number-input/stories/NumberInput.stories.tsx
Due: prettier --write, yarn lint

refactor(number-input): ♻️ revert onWheel handler
  src/number-input/NumberInput.ts
Due: prettier --write, yarn lint

refactor(aria): ♻️ simplify aria value test logic
  src/accordion/__keys.ts
  src/meter/Meter.ts
  src/meter/MeterState.ts
  src/meter/__keys.ts
  src/meter/stories/Meter.component.tsx
  src/progress/Progress.ts
  src/progress/ProgressState.ts
  src/progress/__keys.ts
  src/progress/stories/CircularProgress.component.tsx
  src/progress/stories/LinearProgress.component.tsx
Due: prettier --write, yarn lint

test: added test cases for slider
  src/slider/__tests__/Slider.test.tsx
Due: prettier --write, yarn lint

test: added disabled and axe test
  src/slider/__tests__/Slider.test.tsx
Due: prettier --write, yarn lint
