Repository adaptui/react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:package, yarn lint

refactor(progress): 🏷️ progress options type
  src/progress/Progress.ts
Due: prettier --write, yarn lint

test: jest testing setup
  jest.config.js
  package.json
  src/accordion/__tests__/AccordionState.test.ts
Due: prettier --write, yarn lint:package, yarn lint

refactor(accordion): ♻️ type accordion better
  src/Link/AriaLink.ts
  src/accordion/AccordionItem.ts
  src/accordion/AccordionPanel.ts
  src/accordion/AccordionTrigger.ts
  src/button/AriaButton.ts
  src/button/AriaToggleButton.ts
Due: prettier --write, yarn lint

test: fixed jest typescript definitions
  index.d.ts
  jest.config.js
  jest.setup.js
  src/accordion/__tests__/AccordionState.test.ts
  tsconfig.json
Due: prettier --write, yarn lint

chore: review updates
  src/toast/ToastContext.ts
  src/toast/ToastController.tsx
  src/toast/ToastProvider.tsx
  src/toast/ToastState.ts
Due: prettier --write, yarn lint

fix(toast): touch drag autoDismiss
  src/toast/ToastController.tsx
Due: prettier --write, yarn lint

refactor: delete context file
  src/toast/ToastContext.ts
  src/toast/ToastProvider.tsx
  src/toast/index.ts
Due: prettier --write, yarn lint

chore(deps): move deps to dev dep
  package.json
Due: prettier --write, yarn lint:package

chore: review updates
  src/toast/stories/Animations.stories.tsx
Due: prettier --write, yarn lint

refactor: refactored NumberInput Button logics
  src/number-input/NumberInputDecrementButton.ts
  src/number-input/NumberInputIncrementButton.ts
  src/number-input/__keys.ts
  src/number-input/createNumberInputHook.ts
Due: prettier --write, yarn lint

feat: added toast component (#17)
  package.json
  src/toast/ToastController.tsx
  src/toast/ToastProvider.tsx
  src/toast/ToastState.ts
  src/toast/index.ts
  src/toast/stories/Animations.stories.tsx
  src/toast/stories/Demo.tsx
  src/toast/stories/Toast.stories.tsx
  src/toast/stories/style.css
Due: prettier --write, yarn lint:package, yarn lint

chore(number-input): 🚸 add more storybook examples
  package.json
  src/number-input/NumberInputDecrementButton.ts
  src/number-input/NumberInputIncrementButton.ts
  src/number-input/NumberInputState.ts
  src/number-input/__utils.ts
  src/number-input/createNumberInputButtonsHook.ts
  src/number-input/stories/NumberInput.stories.tsx
Due: prettier --write, yarn lint:package, yarn lint

chore(number-input): 💡 add credits to Chakra UI
  src/number-input/NumberInput.ts
  src/number-input/NumberInputDecrementButton.ts
  src/number-input/NumberInputIncrementButton.ts
  src/number-input/NumberInputState.ts
Due: prettier --write, yarn lint

feat: added drawer component
  src/drawer/Drawer.ts
  src/drawer/__keys.ts
  src/drawer/index.ts
  src/drawer/stories/Drawer.stories.tsx
Due: prettier --write, yarn lint

feat(link): ✨ add breadcrumbs with link
  src/Link/Link.ts
  src/Link/index.ts
  src/Link/stories/AriaLink.stories.tsx
  src/Link/stories/ReakitLink.stories.tsx
  src/breadcrumbs/BreadcrumbLink.ts
  src/breadcrumbs/Breadcrumbs.ts
  src/breadcrumbs/index.ts
  src/breadcrumbs/stories/Breadcrumbs.stories.tsx
  src/breadcrumbs/stories/index.css
Due: prettier --write, yarn lint

fix: test script
  package.json
  src/accordion/__tests__/AccordionState.test.ts
Due: prettier --write, yarn lint:package, yarn lint

chore: review updates
  src/drawer/Drawer.ts
  src/drawer/DrawerCloseButton.ts
  src/drawer/__keys.ts
  src/drawer/index.ts
  src/drawer/stories/Drawer.stories.tsx
Due: prettier --write, yarn lint

Rename src/Link/index.ts to src/link/index.ts
  src/link/index.ts
Due: prettier --write, yarn lint

Rename src/Link/AriaLink.ts to src/link/AriaLink.ts
  src/link/AriaLink.ts
Due: prettier --write, yarn lint

Rename src/Link/Link.ts to src/link/Link.ts
  src/link/Link.ts
Due: prettier --write, yarn lint

Rename src/Link/stories/AriaLink.stories.tsx to src/link/stories/AriaLink.stories.tsx
  src/link/stories/AriaLink.stories.tsx
Due: prettier --write, yarn lint

Rename src/Link/stories/ReakitLink.stories.tsx to src/link/stories/ReakitLink.stories.tsx
  src/link/stories/ReakitLink.stories.tsx
Due: prettier --write, yarn lint

chore: minor updates
  src/drawer/Drawer.ts
Due: prettier --write, yarn lint

chore(deps): move deps to dev
  package.json
Due: prettier --write, yarn lint:package

infra: added jest setup (#19)
  index.d.ts
  jest.config.js
  jest.setup.js
  package.json
  src/accordion/__tests__/AccordionState.test.ts
  tsconfig.json
Due: prettier --write, yarn lint:package, yarn lint

refactor(breadcrumb): ♻️ arrange imports and refactor
  src/breadcrumbs/BreadcrumbLink.ts
  src/breadcrumbs/index.ts
  src/link/Link.ts
  src/link/stories/AriaLink.stories.tsx
Due: prettier --write, yarn lint

chore: remove unused import
  src/drawer/Drawer.ts
Due: prettier --write, yarn lint

refactor(breadcrumb): ♻️ isExternal variable
  src/link/Link.ts
Due: prettier --write, yarn lint

feat: added drawer component (#20)
  src/drawer/Drawer.ts
  src/drawer/DrawerCloseButton.ts
  src/drawer/__keys.ts
  src/drawer/index.ts
  src/drawer/stories/Drawer.stories.tsx
Due: prettier --write, yarn lint

test: added tests for accordion
  jest.setup.js
  package.json
  src/accordion/__tests__/Accordion.test.tsx
  tsconfig.json
Due: prettier --write, yarn lint:package, yarn lint

feat(meter): ✨ add meter components
  src/meter/Meter.ts
  src/meter/MeterState.ts
  src/meter/index.ts
  src/meter/stories/CircularMeter.stories.tsx
  src/meter/stories/LinearMeter.stories.tsx
  src/meter/stories/utils.ts
  src/progress/Progress.ts
  src/progress/stories/LinearProgress.stories.tsx
  src/progress/stories/utils.ts
Due: prettier --write, yarn lint

chore(meter): ⬆️ upgrade husky
  package.json
Due: prettier --write, yarn lint:package

fix: broken component import, case-sensitive naming
  src/breadcrumbs/BreadcrumbLink.ts
Due: prettier --write, yarn lint

fix: rename files
  src/Link/Link.ts
  src/Link/index.ts
  src/breadcrumbs/BreadcrumbLink.ts
Due: prettier --write, yarn lint

test: added tests for accordion (#22)
  jest.setup.js
  package.json
  src/accordion/__tests__/Accordion.test.tsx
  tsconfig.json
Due: prettier --write, yarn lint:package, yarn lint

test: added husky precommit test
  .huskyrc.json
  src/accordion/__tests__/Accordion.test.tsx
Due: prettier --write, yarn lint

test: axe container test
  src/accordion/__tests__/Accordion.test.tsx
Due: prettier --write, yarn lint

chore(infra): added github action test
  .github/workflows/test.yml
Due: prettier --write

infra: added github action workflow (#25)
  .github/workflows/test.yml
  .huskyrc.json
  src/accordion/__tests__/Accordion.test.tsx
Due: prettier --write, yarn lint

test: added tests for number input
  src/number-input/__test__/NumberInput.test.tsx
Due: prettier --write, yarn lint

Path conditions:
  prettier --write: any of: *.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn lint:package: any of: package.json
  yarn lint: any of: **/*.{js,jsx,ts,tsx}
