Repository adaptui/react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:package, yarn lint

.lintstagedrc.json:

{
  "*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "prettier --write",
    "git add"
  ],
  "package.json": ["yarn lint:package"],
  "**/*.{js,jsx,ts,tsx}": ["yarn lint"]
}

chore: rename DateFormatTime to prevent key generation
  src/calendar/CalendarHeader.ts
  src/datepicker/DatePickerState.ts
  src/segment/SegmentState.ts
  src/segment/__utils.ts
  src/timepicker/TimePickerState.ts
  src/utils/__keys.ts
  src/utils/types.ts
  src/utils/useSpinButton.ts
Due: prettier --write, yarn lint

chore: rename DateFormatTime to prevent key generation (#87)
  src/calendar/CalendarHeader.ts
  src/datepicker/DatePickerState.ts
  src/segment/SegmentState.ts
  src/segment/__utils.ts
  src/timepicker/TimePickerState.ts
  src/utils/__keys.ts
  src/utils/types.ts
  src/utils/useSpinButton.ts
Due: prettier --write, yarn lint

refactor(pickers): ♻️ improve state from dateValue to string
  src/calendar/CalendarState.ts
  src/calendar/RangeCalendarState.ts
  src/calendar/__utils.ts
  src/calendar/stories/Calendar.stories.tsx
  src/calendar/stories/RangeCalendar.stories.tsx
  src/datepicker/DatePickerState.ts
  src/datepicker/__utils.ts
  src/datepicker/stories/DatePicker.stories.tsx
  src/segment/__utils.ts
  src/timepicker/TimePickerSegment.ts
  src/timepicker/TimePickerSegmentField.ts
  src/timepicker/TimePickerState.ts
  src/timepicker/__utils.ts
  src/timepicker/stories/TimePicker.stories.tsx
  src/utils/types.ts
Due: prettier --write, yarn lint

test(pickers): ✅ fix tests on pickers
  src/calendar/__tests__/Calendar.test.tsx
  src/calendar/__tests__/RangeCalendar.test.tsx
  src/calendar/stories/Calendar.stories.tsx
  src/datepicker/__utils.ts
  src/timepicker/__tests__/TimePicker.test.tsx
Due: prettier --write, yarn lint

refactor(pickers): ♻️ update utils & add date utils
  src/calendar/CalendarCellButton.ts
  src/calendar/CalendarState.ts
  src/calendar/RangeCalendarState.ts
  src/calendar/__utils.ts
  src/calendar/stories/Calendar.stories.tsx
  src/datepicker/DatePickerContent.ts
  src/datepicker/DatePickerState.ts
  src/datepicker/DatePickerTrigger.ts
  src/datepicker/__utils.ts
  src/picker-base/__tests__/BasePicker.tests.tsx
  src/segment/SegmentField.ts
  src/segment/stories/Segment.stories.tsx
  src/timepicker/TimePickerColumn.ts
  src/timepicker/TimePickerColumnValue.ts
  src/timepicker/TimePickerTrigger.ts
  src/timepicker/__tests__/TimePicker.test.tsx
  src/timepicker/__utils.ts
  src/utils/date.ts
  src/utils/index.ts
  src/utils/useSpinButton.ts
Due: prettier --write, yarn lint

test: added tests for button
  src/button/__tests__/Button.test.tsx
Due: prettier --write, yarn lint

feat(accordion): ✨ improve accordion state with better aria & tests
  src/accordion/Accordion.ts
  src/accordion/AccordionItem.tsx
  src/accordion/AccordionPanel.ts
  src/accordion/AccordionState.ts
  src/accordion/AccordionTrigger.ts
  src/accordion/__keys.ts
  src/accordion/__tests__/Accordion.test.tsx
  src/accordion/__tests__/AccordionState.test.ts
  src/accordion/index.ts
  src/accordion/stories/Accordion.stories.tsx
Due: prettier --write, yarn lint

chore(accordion): 💄 improve styled accordion css & markup
  src/accordion/stories/Accordion.stories.tsx
  src/accordion/stories/index.css
Due: prettier --write, yarn lint

feat: added DateRangePicker
  src/calendar/stories/CalendarComponent.tsx
  src/calendar/stories/RangeCalendar.stories.tsx
  src/calendar/stories/svg-icons.tsx
  src/datepicker/DatePickerSegment.ts
  src/datepicker/DatePickerSegmentField.ts
  src/datepicker/DateRangePickerState.ts
  src/datepicker/__keys.ts
  src/datepicker/stories/DateRangePicker.stories.tsx
  src/segment/__utils.ts
Due: prettier --write, yarn lint

refactor(pickers): ✨ utils date logic & naming
  src/calendar/CalendarCellButton.ts
  src/calendar/CalendarState.ts
  src/datepicker/DatePickerState.ts
  src/datepicker/stories/DatePicker.stories.tsx
  src/timepicker/__utils.ts
  src/utils/date.ts
Due: prettier --write, yarn lint

feat: accept string as date value in range calendar picker
  src/datepicker/DateRangePickerState.ts
  src/datepicker/stories/DateRangePicker.stories.tsx
Due: prettier --write, yarn lint

refactor(aria): ♻️ remove aria dependencies with button & interactions
  package.json
  src/breadcrumbs/__tests__/Breadcrumbs.test.tsx
  src/button/AriaButton.ts
  src/button/AriaToggleButton.ts
  src/button/__keys.ts
  src/button/index.ts
  src/button/stories/AriaButton.stories.tsx
  src/button/stories/AriaToggleButton.stories.tsx
  src/button/stories/Buttons.tsx
  src/button/stories/ReakitButton.stories.tsx
  src/interactions/Focus.ts
  src/interactions/FocusRing.ts
  src/interactions/FocusVisible.ts
  src/interactions/FocusWithin.ts
  src/interactions/Focusable.ts
  src/interactions/Hover.ts
  src/interactions/Keyboard.ts
  src/interactions/Press.ts
  src/interactions/__keys.ts
  src/interactions/index.ts
  src/interactions/stories/Interactions.stories.tsx
  src/link/AriaLink.ts
  src/link/__keys.ts
  src/link/__tests__/AriaLink.test.tsx
  src/link/__tests__/Link.test.tsx
  src/link/index.ts
  src/link/stories/AriaLink.stories.tsx
  src/link/stories/Link.stories.tsx
  src/utils/LiveAnnouncer.tsx
Due: prettier --write, yarn lint:package, yarn lint

chore: review changes
  src/datepicker/DatePickerState.ts
Due: prettier --write, yarn lint

fix: date range picker segment isDisabled/ReadOnly
  src/datepicker/DatePickerSegment.ts
  src/datepicker/DatePickerSegmentField.ts
  src/datepicker/stories/DateRangePicker.stories.tsx
  src/segment/__utils.ts
Due: prettier --write, yarn lint

fix(buttons): 🐛 remove buttons altogether
  src/index.ts
  src/slider/stories/Slider.stories.tsx
Due: prettier --write, yarn lint

fix: dateRangePicker min/max invalid
  src/calendar/__utils.ts
Due: prettier --write, yarn lint

fix: calendar state / range calendar state default values
  src/datepicker/DatePickerState.ts
  src/datepicker/DateRangePickerState.ts
Due: prettier --write, yarn lint

fix(spin-buttons): 🐛 add aria-buttons for spin button types
  package.json
  src/segment/SegmentState.ts
Due: prettier --write, yarn lint:package, yarn lint

chore: review updates
  src/calendar/__utils.ts
Due: prettier --write, yarn lint

feat: added DateRangePicker (#91)
  src/calendar/__utils.ts
  src/calendar/stories/CalendarComponent.tsx
  src/calendar/stories/RangeCalendar.stories.tsx
  src/calendar/stories/svg-icons.tsx
  src/datepicker/DatePickerSegment.ts
  src/datepicker/DatePickerSegmentField.ts
  src/datepicker/DatePickerState.ts
  src/datepicker/DateRangePickerState.ts
  src/datepicker/__keys.ts
  src/datepicker/stories/DateRangePicker.stories.tsx
Due: prettier --write, yarn lint

refactor(accordion): ♻️ update initial state & tests
  src/accordion/AccordionItem.tsx
  src/accordion/AccordionPanel.ts
  src/accordion/AccordionState.ts
  src/accordion/__tests__/Accordion.test.tsx
  src/accordion/__tests__/AccordionState.test.ts
  src/accordion/stories/Accordion.stories.tsx
Due: prettier --write, yarn lint

refactor(accordion): ♻️ move functions to the bottom of the components
  src/accordion/AccordionItem.tsx
  src/accordion/AccordionPanel.ts
Due: prettier --write, yarn lint

refactor(accordion): ♻️ remove console logs & rename item to trigger
  src/accordion/AccordionTrigger.tsx
  src/accordion/__tests__/Accordion.test.tsx
  src/accordion/index.ts
  src/accordion/stories/Accordion.stories.tsx
  src/calendar/CalendarState.ts
  src/calendar/__tests__/RangeCalendar.test.tsx
  src/calendar/stories/RangeCalendar.stories.tsx
  src/datepicker/stories/DateRangePicker.stories.tsx
  src/number-input/stories/NumberInput.stories.tsx
  src/select/SelectState.ts
Due: prettier --write, yarn lint

refactor(accordion): ♻️ change accordion tsx to ts
  src/accordion/AccordionTrigger.ts
Due: prettier --write, yarn lint

refactor(accordion): ♻️ update keys for accordion trigger
  src/accordion/AccordionTrigger.ts
  src/accordion/__keys.ts
Due: prettier --write, yarn lint

chore(release): 0.1.1-alpha.4
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

test: fix range calendar broken tests for today
  src/calendar/__tests__/RangeCalendar.test.tsx
Due: prettier --write, yarn lint

test: fix range calendar broken tests for today (#93)
  src/calendar/__tests__/RangeCalendar.test.tsx
Due: prettier --write, yarn lint

test: refactored all tests and added utils test
  src/accordion/__tests__/Accordion.test.tsx
  src/accordion/__tests__/AccordionState.test.ts
  src/calendar/__tests__/Calendar.test.tsx
  src/calendar/__tests__/RangeCalendar.test.tsx
  src/calendar/__utils.ts
  src/meter/__examples__/__tests__/Meter.test.tsx
  src/picker-base/__tests__/BasePicker.tests.tsx
  src/segment/__tests__/SegmentState.test.ts
  src/utils/utils.test.ts
Due: prettier --write, yarn lint

test: added calendar utils tests
  src/calendar/__tests__/utils.test.tsx
  src/utils/utils.test.ts
Due: prettier --write, yarn lint

test: added tests for timepicker utils
  src/calendar/__tests__/utils.test.tsx
  src/timepicker/__tests__/utils.test.ts
  src/utils/utils.test.ts
Due: prettier --write, yarn lint

test: mock date and fix tests
  package.json
  src/calendar/__tests__/utils.test.tsx
  src/timepicker/__tests__/utils.test.ts
  src/utils/utils.test.ts
Due: prettier --write, yarn lint:package, yarn lint

chore: added timezone in github action
  .github/workflows/test.yml
Due: prettier --write

chore: fix gh action
  .github/workflows/test.yml
Due: prettier --write

test: refactored tests & added utility tests (#94)
  .github/workflows/test.yml
  package.json
  src/accordion/__tests__/Accordion.test.tsx
  src/accordion/__tests__/AccordionState.test.ts
  src/calendar/__tests__/Calendar.test.tsx
  src/calendar/__tests__/RangeCalendar.test.tsx
  src/calendar/__tests__/utils.test.tsx
  src/calendar/__utils.ts
  src/meter/__examples__/__tests__/Meter.test.tsx
  src/picker-base/__tests__/BasePicker.tests.tsx
  src/segment/__tests__/SegmentState.test.ts
  src/timepicker/__tests__/utils.test.ts
  src/utils/utils.test.ts
Due: prettier --write, yarn lint:package, yarn lint

build(bundle): 👷 use chakra build setup
  babel-config.js
  package.json
  rollup.config.js
  src/calendar/__utils.ts
Due: prettier --write, yarn lint:package, yarn lint

build(date-fns): 💚 tree shake date-fns with bable
  babel-config.js
  package.json
Due: prettier --write, yarn lint:package, yarn lint

chore(release): 0.1.1-alpha.5
  CHANGELOG.md
  package.json
Due: prettier --write, yarn lint:package

refactor(storybook): ♻️ easier access to stories - removing sub folders
  src/accordion/stories/Accordion.stories.tsx
  src/breadcrumbs/stories/Breadcrumbs.stories.tsx
  src/calendar/stories/Calendar.stories.tsx
  src/calendar/stories/RangeCalendar.stories.tsx
  src/datepicker/stories/DatePicker.stories.tsx
  src/datepicker/stories/DateRangePicker.stories.tsx
  src/drawer/stories/Drawer.stories.tsx
  src/link/stories/Link.stories.tsx
  src/meter/__examples__/stories/CircularMeter.stories.tsx
  src/meter/__examples__/stories/LinearMeter.stories.tsx
  src/number-input/stories/NumberInput.stories.tsx
  src/pagination/stories/Pagination.stories.tsx
  src/picker-base/stories/BasePicker.stories.tsx
  src/progress/stories/CircularProgress.stories.tsx
  src/progress/stories/LinearProgress.stories.tsx
  src/segment/stories/Segment.stories.tsx
  src/select/stories/Combobox.stories.tsx
  src/select/stories/Select.stories.tsx
  src/slider/stories/Slider.stories.tsx
  src/timepicker/stories/TimePicker.stories.tsx
  src/toast/stories/AnimatedToast.stories.tsx
  src/toast/stories/BasicToast.stories.tsx
Due: prettier --write, yarn lint

refactor(storybook): ♻️ group commons stories
  src/meter/__examples__/stories/CircularMeter.stories.tsx
  src/meter/__examples__/stories/LinearMeter.stories.tsx
  src/progress/stories/CircularProgress.stories.tsx
  src/progress/stories/LinearProgress.stories.tsx
  src/toast/stories/AnimatedToast.stories.tsx
  src/toast/stories/BasicToast.stories.tsx
Due: prettier --write, yarn lint
